<h1 mat-dialog-title>{{ data.isEnable ? 'Enable' : 'Disable' }} 
  <span [translate]="'modulo.labels.withholdtax'">Withhold Tax</span></h1>
<div mat-dialog-content>
  <p>Are you sure you want to {{ data.isEnable ? 'enable' : 'disable' }} withhold tax for this account ?</p>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close><span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
  <button mat-raised-button color="{{ data.isEnable ? 'accent' : 'warn' }}" [mat-dialog-close]="{ confirm: true }">
    <span [translate]="'labels.buttons.Confirm'">Confirm</span></button>
</mat-dialog-actions>
<!--DEUDA-->
