<div class="container">

  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px" class="transaction-buttons" *ngIf="checkStatus()">
    <mat-checkbox [formControl]="hideAccrualsParam" (click)="hideAccruals()" class="accruals">Hide Accruals</mat-checkbox>
    <button mat-raised-button color="primary" [routerLink]="['export']">
       <span [translate]="'labels.buttons.Export'">Export</span>
    </button>
    <button mat-raised-button color="primary">
       <span [translate]="'labels.buttons.Viewjournal'">View Journal Entries</span>
    </button>
  </div>

  <table mat-table [dataSource]="showTransactionsData">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'modulo.loans.labels.id'"> Id</span> </th>
        <td mat-cell *matCellDef="let transaction" [ngClass]="loanTransactionColor(transaction)"> {{ transaction.id }} </td>
      </ng-container>

      <ng-container matColumnDef="office">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'modulo.loans.labels.office'"> Office</span> </th>
        <td mat-cell *matCellDef="let transaction" [ngClass]="loanTransactionColor(transaction)"> {{ transaction.officeName }} </td>
      </ng-container>

      <ng-container matColumnDef="transactionDate">
        <th mat-header-cell *matHeaderCellDef> 
          <span [translate]="'modulo.loans.labels.transactiondate'">Transaction Date </span></th>
        <td mat-cell *matCellDef="let transaction" [ngClass]="loanTransactionColor(transaction)"> {{ transaction.date  | dateFormat }} </td>
      </ng-container>

      <ng-container matColumnDef="transactionType">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'modulo.loans.header.transactiontype'"> Transaction Type</span> </th>
        <td mat-cell *matCellDef="let transaction" [ngClass]="loanTransactionColor(transaction)"> {{ transaction.type.value  }} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'modulo.loans.header.amount'"> Amount </span></th>
        <td mat-cell *matCellDef="let transaction" [ngClass]="loanTransactionColor(transaction)"> {{ transaction.amount | number }} </td>
      </ng-container>

      <ng-container matColumnDef="principal">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'modulo.loans.header.breakdown'"> Breakdown</span> </th>
        <td mat-cell *matCellDef="let transaction" [ngClass]="loanTransactionColor(transaction)"> {{ transaction.principalPortion | number }} </td>
      </ng-container>

      <ng-container matColumnDef="interest">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let transaction" [ngClass]="loanTransactionColor(transaction)"> {{ transaction.interestPortion | number }} </td>
      </ng-container>

      <ng-container matColumnDef="fee">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let transaction" [ngClass]="loanTransactionColor(transaction)"> {{ transaction.feeChargesPortion | number }} </td>
      </ng-container>

      <ng-container matColumnDef="penalties">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let transaction" [ngClass]="loanTransactionColor(transaction)"> {{ transaction.penaltyChargesPortion | number }} </td>
      </ng-container>

      <ng-container matColumnDef="loanBalance">
        <th mat-header-cell *matHeaderCellDef> 
          <span [translate]="'modulo.loans.labels.loanbalance'">Loan Balance</span> </th>
        <td mat-cell *matCellDef="let transaction" [ngClass]="loanTransactionColor(transaction)"> {{ transaction.outstandingLoanBalance | number }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'header.actions'"> Actions </span></th>
        <td mat-cell *matCellDef="let transaction" [ngClass]="loanTransactionColor(transaction)">
          <button class="account-action-button" *ngIf="!transaction.manuallyReversed" mat-raised-button color="primary" (click)="routeEdit($event)"
            [routerLink]="[transaction.id, 'reciept']" 
            matTooltip="{{'modulo.labels.viewreceipts' | translate}}">
            <i class="fa fa-file-text"></i>
          </button>
          <button class="account-action-button" mat-raised-button color="primary" 
          matTooltip="{{'modulo.labels.viewjournalentries' | translate}}" matTooltipPosition="left"
            (click)="routeEdit($event)" [routerLink]="['/','journal-entry', 'view', 'L'+transaction.id ]">
            <i class="fa fa-arrow-circle-right"></i>
          </button>
        </td>
      </ng-container>

    <!-- Sub header -->
    <ng-container matColumnDef="header">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="5"> </th>
    </ng-container>

    <ng-container matColumnDef="header-principal">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
        <span [translate]="'modulo.loans.title.principal'"> Principal </span></th>
    </ng-container>

    <ng-container matColumnDef="header-interest">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> 
        <span [translate]="'modulo.loans.header.interest'">Interest</span> </th>
    </ng-container>

    <ng-container matColumnDef="header-fees">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
        <span [translate]="'modulo.loans.header.fees'"> Fees</span> </th>
    </ng-container>

    <ng-container matColumnDef="header-penalties">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> 
        <span [translate]="'modulo.loans.header.penalties'">Penalties</span> </th>
    </ng-container>

    <ng-container matColumnDef="header-action">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">  </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="['header', 'header-principal', 'header-interest', 'header-fees', 'header-penalties', 'header-action']"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="select-row" (click)="showTransactions(row)"></tr>

  </table>

</div>
