<div class="container">
 
  <mat-card>

    <form [formGroup]="allocateCashForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.office'">Office</span></mat-label>
            <input matInput required formControlName="office">
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.tellername'">Teller Name</span></mat-label>
            <input matInput required formControlName="tellerName">
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.cashier'">Cashier</span></mat-label>
            <input matInput required formControlName="cashier">
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.assignmentperiod'">Assignment Period</span></mat-label>
            <input matInput formControlName="assignmentPeriod">
          </mat-form-field>

          <mat-form-field fxFlex="48%" (click)="cashDatePicker.open()">
            <mat-label><span [translate]="'modulo.labels.date'">Date</span></mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="cashDatePicker" required formControlName="txnDate">
            <mat-datepicker-toggle matSuffix [for]="cashDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #cashDatePicker></mat-datepicker>
            <mat-error *ngIf="allocateCashForm.controls.txnDate.hasError('required')">
             <span [innerHTML]="'modulo.validations.daterequired' | translate"> Date <strong>is required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.currency'">Currency</span></mat-label>
            <mat-select required formControlName="currencyCode">
              <mat-option *ngFor="let currency of cashierData.currencyOptions" [value]="currency.code">
                {{ currency.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="allocateCashForm.controls.currencyCode.hasError('required')">
              <span [innerHTML]="'modulo.validations.currencyrequired' | translate">Currency <strong>is required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.amount'">Amount</span></mat-label>
            <input matInput required formControlName="txnAmount">
            <mat-error *ngIf="allocateCashForm.controls.txnAmount.hasError('required')">
              <span [innerHTML]="'modulo.validations.amountrequired' | translate">Amount <strong>is required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.notescomments'">Notes/Comments</span></mat-label>
            <input matInput required formControlName="txnNote">
            <mat-error *ngIf="allocateCashForm.controls.txnNote.hasError('required')">
              <span [innerHTML]="'modulo.validations.notescommentsrequired' | translate">Notes/Comments <strong>is required</strong></span>
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">
          <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
        <button mat-raised-button color="primary" [disabled]="!allocateCashForm.valid" *mifosxHasPermission="'ALLOCATECASHIER_TELLER'">
          <span [translate]="'labels.buttons.Submit'">Submit</span></button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
