<div class="container">

  <mat-card>

    <form [formGroup]="delinquencyRangeForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.classification'">Classification</span></mat-label>
            <input matInput required formControlName="classification">
            <mat-error *ngIf="delinquencyRangeForm.controls.classification.hasError('required')">
              <span [innerHTML]="'modulo.validations.classificationrequired' | translate">Classification is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.daysfrom'">Days From</span></mat-label>
            <input matInput type="number" required formControlName="minimumAgeDays">
            <mat-error *ngIf="delinquencyRangeForm.controls.minimumAgeDays.hasError('required')">
              <span [innerHTML]="'modulo.validations.daysfromrequired' | translate">Days From is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.daystill'">Days Till</span></mat-label>
            <input matInput type="number" formControlName="maximumAgeDays">
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">
          <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
        <button mat-raised-button color="primary" [disabled]="!delinquencyRangeForm.valid" *mifosxHasPermission="'UPDATE_DELINQUENCY_RANGE'">
          <span [translate]="'labels.buttons.Submit'">Submit</span></button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
