<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <span *mifosxHasPermission="'CREATE_GLACCOUNT'">
    <button mat-raised-button color="primary" *ngIf="glAccount.usage.value === 'HEADER'" [routerLink]="['/accounting/chart-of-accounts/gl-accounts/create']" [queryParams]="{ parent: glAccount.id, accountType: glAccount.type.id }">
      <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;
      <span [translate]="'labels.buttons.SubledgerAccount'">Subledger Account</span>
    </button>
  </span>
  <span *mifosxHasPermission="'UPDATE_GLACCOUNT'">
    <button mat-raised-button color="primary" [routerLink]="['edit']">
      <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
      <span [translate]="'labels.buttons.Edit'">Edit</span>
    </button>
  </span>
  <span *mifosxHasPermission="'UPDATE_GLACCOUNT'">
    <button mat-raised-button color="warn" *ngIf="!glAccount.disabled" (click)="changeGlAccountState()">
      <fa-icon icon="lock"></fa-icon>&nbsp;&nbsp;
      <span [translate]="'labels.buttons.Disable'">Disable</span>
    </button>
  </span>
  <span *mifosxHasPermission="'UPDATE_GLACCOUNT'">
    <button mat-raised-button color="accent" *ngIf="glAccount.disabled" (click)="changeGlAccountState()">
      <fa-icon icon="lock-open"></fa-icon>&nbsp;&nbsp;
      <span [translate]="'labels.buttons.Enable'">Enable</span>
    </button>
  </span>
  <button mat-raised-button color="warn" (click)="deleteGlAccount()" *mifosxHasPermission="'DELETE_GLACCOUNT'">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Delete'">Delete</span>
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="header">
          <span [translate]="'modulo.labels.accounttype'">Account Type</span>
        </div>

        <div fxFlex="50%">
          {{ glAccount.type?.value }}
        </div>

        <div fxFlex="50%" class="header">
          <span [translate]="'modulo.labels.glcode'">GL Code</span>
        </div>

        <div fxFlex="50%">
          {{ glAccount.glCode }}
        </div>

        <div fxFlex="50%" class="header" *ngIf="glAccount.parent">
          <span [translate]="'modulo.labels.parentaccount'">Parent Account Name</span>
        </div>

        <div fxFlex="50%" *ngIf="glAccount.parent">
          <a class="tab-link" [routerLink]="['/accounting/chart-of-accounts/gl-accounts/view/' + glAccount.parent.id]">
            ({{ glAccount.parent.glCode }}) {{ glAccount.parent.name }}
          </a>
        </div>

        <div fxFlex="50%" class="header" *ngIf="glAccount.tagId.id">
          <span [translate]="'modulo.labels.tag'">Tag</span>
        </div>

        <div fxFlex="50%" *ngIf="glAccount.tagId.id">
          {{ glAccount.tagId.name }}
        </div>

        <div fxFlex="50%" class="header">
          <span [translate]="'modulo.labels.accountusage'">Account Usage</span>
        </div>

        <div fxFlex="50%">
          {{ glAccount.usage?.value }}
        </div>

        <div fxFlex="50%" class="header">
          <span [translate]="'modulo.labels.manualallowed'">Manual Entries Allowed</span>
        </div>

        <div fxFlex="50%">
          {{ glAccount.manualEntriesAllowed ? 'modulo.labels.yes' : 'modulo.labels.no' }}
        </div>

        <div fxFlex="50%" class="header" *ngIf="glAccount.description">
          <span [translate]="'modulo.labels.description'">Description</span>
        </div>

        <div fxFlex="50%" *ngIf="glAccount.description">
          {{ glAccount.description }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
