<div class="container">

  <mat-card>

    <form (ngSubmit)="submit()">

      <mat-card-content>

        <div>

          <p class="mat-typography confirm-text">
            <span [translate]="'modulo.description.approvalsharesaccountq'" [translateParams]="{ id: accountId }">
              Are you sure you want to undo approval of shares account with ID: {{accountId}} ?</span>
          </p>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../../']">
          <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
        <button mat-raised-button color="warn">
          <span [translate]="'labels.buttons.Confirm'">Confirm</span></button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
