<div class="container">

    <mat-card>

        <form [formGroup]="clientCollateralForm" (ngSubmit)="submit()">

            <mat-card-content>

                <div fxLayout="column">
                    <mat-form-field>
                        <mat-label><span [translate]="'modulo.labels.collateral'">Collateral</span></mat-label>
                        <mat-select required formControlName="collateralId">
                            <mat-option *ngFor="let clientCollateral of clientCollateralOptions" [value]="clientCollateral.id">
                                {{ clientCollateral.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="clientCollateralForm.controls.collateralId.hasError('required')">
                            <span [innerHTML]="'modulo.validations.collateralrequired' | translate">
                                Collateral is <strong>required</strong></span>
                        </mat-error>
                    </mat-form-field>
                    
                    <div *ngIf="collateralDetails" fxLayout="column">

                        <mat-form-field>
                            <mat-label><span [translate]="'modulo.labels.name'">Name</span></mat-label>
                            <input matInput required formControlName="name">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label><span [translate]="'modulo.labels.typequality'">Type/Quality</span></mat-label>
                            <input matInput required formControlName="quality">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label><span [translate]="'modulo.labels.unittype'">Unit Type</span></mat-label>
                            <input matInput required formControlName="unitType">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label><span [translate]="'modulo.labels.baseprice'">Base Price</span></mat-label>
                            <input matInput required formControlName="basePrice">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label><span [translate]="'modulo.labels.percentagebase'">Percentage To Base</span></mat-label>
                            <input matInput required formControlName="pctToBase">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label><span [translate]="'modulo.labels.quantity'">Quantity</span></mat-label>
                            <input matInput required formControlName="quantity">
                            <mat-error *ngIf="clientCollateralForm.controls.quantity.hasError('required')">
                               <span [innerHTML]="'modulo.validations.quantityrequired' | translate">
                                 Quantity is <strong>required</strong></span>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label><span [translate]="'modulo.labels.total'">Total</span></mat-label>
                            <input matInput required formControlName="totalValue">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label><span [translate]="'modulo.labels.totalcollateralvalue'">Total Collateral Value</span></mat-label>
                            <input matInput required formControlName="totalCollateralValue">
                        </mat-form-field>

                    </div>

                </div>

            </mat-card-content>

            <mat-card-actions fxLayoutGap="5px" fxLayout="row" fsLayout.xs="column" fxLayoutAlign="center">
                <button type="button" mat-raised-button [routerLink]="['../../']">
                    <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
                <button mat-raised-button color="primary" [disabled]="!clientCollateralForm.valid">
                    <span [translate]="'labels.buttons.Submit'">Submit</span></button> 
            </mat-card-actions>

        </form>
    
    </mat-card>

</div>