<div *ngIf="!data.reverted; else reverted">

  <h1 mat-dialog-title>
    <span [translate]="'modulo.labels.reverttransaction'">Revert Transaction</span></h1>
  <div mat-dialog-content>
    <p>
      <span [translate]="'modulo.description.arewantreverttransaction'">Are you sure you want to revert this transaction?</span></p>
    <mat-form-field fxFlexFill>
      <mat-label><span [translate]="'modulo.labels.comments'">Comments</span></mat-label>
      <textarea matInput [formControl]="comments"></textarea>
    </mat-form-field>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
       <span [translate]="'labels.buttons.No'">No</span></button>
    <button mat-button [mat-dialog-close]="{ revert: true, comments: comments.value }">
       <span [translate]="'labels.buttons.Yes'">Yes</span></button>
  </mat-dialog-actions>

</div>

<ng-template #reverted>

    <h1 mat-dialog-title>
      <span [translate]="'modulo.labels.transactionreverted'">Transaction Reverted</span></h1>
    <div mat-dialog-content>
      <h4><span [translate]="'modulo.labels.succesex'">Success!</span></h4>
      <p>
        <span [translate]="'modulo.description.journalcreatedreverse'">
          A new journal entry has been created to reverse this transaction</span>
      :</p>
      <p><span [translate]="'modulo.labels.transactionid'">Transaction ID</span>: {{ data.transactionId }}</p>
    </div>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>
         <span [translate]="'labels.buttons.Close'">Close</span></button>
      <button mat-button [mat-dialog-close]="{ redirect: true }">
         <span [translate]="'labels.buttons.RedirectTransaction'">Redirect to New Transaction</span></button>
    </mat-dialog-actions>

</ng-template>
