<div class="container">

  <mat-card>

    <form [formGroup]="adhocQueryForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.name'">Name</span></mat-label>
            <input matInput required formControlName="name">
            <mat-error *ngIf="adhocQueryForm.controls.name.hasError('required')">
             <span [innerHTML]="'modulo.validations.namerequired' | translate"> Name is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.sqlquery'">SQL Query</span></mat-label>
            <textarea matInput required formControlName="query"></textarea>
            <mat-error *ngIf="adhocQueryForm.controls.query.hasError('required')">
              <span [innerHTML]="'modulo.validations.sqlqueryrequired' | translate">
                SQL Query is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.insertintotable'">Insert into table</span></mat-label>
            <input matInput required formControlName="tableName">
            <mat-error *ngIf="adhocQueryForm.controls.tableName.hasError('required')">
              <span [innerHTML]="'modulo.validations.insertintotablerequired' | translate">
                Insert into table is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.tablefields'">Table Fields</span></mat-label>
            <textarea matInput required formControlName="tableFields"></textarea>
            <mat-error *ngIf="adhocQueryForm.controls.tableFields.hasError('required')">
              <span [innerHTML]="'modulo.validations.tablefieldsrequired' | translate">
                Table Fields are <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.email'">Email</span></mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="adhocQueryForm.controls.email.hasError('email')">
              <span [innerHTML]="'modulo.validations.emailrequired' | translate">Email is <strong>invalid</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.reportrunfrequency'">Report Run Frequency</span></mat-label>
            <mat-select formControlName="reportRunFrequency">
              <mat-option *ngFor="let reportRunFrequency of reportRunFrequencyData" [value]="reportRunFrequency.id">
                {{ reportRunFrequency.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="adhocQueryForm.controls.reportRunFrequency.value === 5">
            <mat-label><span [translate]="'modulo.labels.customreportrunfrequency'">Custom Report Run Frequency (Days)</span></mat-label>
            <input type="number" matInput required formControlName="reportRunEvery">
            <mat-error *ngIf="adhocQueryForm.controls.reportRunEvery.hasError('required')">
              <span [innerHTML]="'modulo.validations.customreportrunfrequencyrequired' | translate">
                Custom Report Run Frequency is <strong>required</strong></span>
            </mat-error>
            <mat-error *ngIf="adhocQueryForm.controls.reportRunEvery.hasError('min')">
              <span [innerHTML]="'modulo.validations.customreportlargethan' | translate">
                Custom Report Run Frequency <strong>must be larger than 0</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-checkbox labelPosition="before" formControlName="isActive">
            <span [translate]="'modulo.labels.active'">Active</span>
          </mat-checkbox>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">
          <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
        <button mat-raised-button color="primary" [disabled]="!adhocQueryForm.valid" *mifosxHasPermission="'CREATE_ADHOC'">
          <span [translate]="'labels.buttons.Submit'">Submit</span></button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
