<div class="container">

  <table mat-table [dataSource]="originalScheduleDetails.periods" matSort>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span [translate]="'modulo.loans.header.date'"> Date</span> </th>
      <td mat-cell *matCellDef="let ele"> {{ ele.dueDate  | dateFormat}} </td>
      <td mat-footer-cell *matFooterCellDef> <b> Total</b> </td>
    </ng-container>

    <ng-container matColumnDef="principalDue">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span [translate]="'modulo.loans.header.principaldue'"> Principal Due </span></th>
      <td mat-cell *matCellDef="let ele"> {{ ele.principalDue | number }} </td>
      <td mat-footer-cell *matFooterCellDef> <b> {{ originalScheduleDetails.totalPrincipalExpected | number }} </b> </td>
    </ng-container>

    <ng-container matColumnDef="balanceOfLoan">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span [translate]="'modulo.loans.header.balanceloan'"> Balance Of Loan </span></th>
      <td mat-cell *matCellDef="let ele"> {{ ele.principalLoanBalanceOutstanding | number }} </td>
      <td mat-footer-cell *matFooterCellDef> &nbsp; </td>
    </ng-container>

    <ng-container matColumnDef="interest">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span [translate]="'modulo.loans.labels.interest'"> Interest</span> </th>
      <td mat-cell *matCellDef="let ele"> {{ ele.interestOriginalDue | number}} </td>
      <td mat-footer-cell *matFooterCellDef> <b> {{ originalScheduleDetails.totalInterestCharged | number }} </b> </td>
    </ng-container>

    <ng-container matColumnDef="fees">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span [translate]="'modulo.loans.header.fees'"> Fees </span></th>
      <td mat-cell *matCellDef="let ele"> {{ ele.feeChargesDue | number}} </td>
      <td mat-footer-cell *matFooterCellDef> <b> {{ originalScheduleDetails.totalFeeChargesCharged | number }} </b> </td>
    </ng-container>

    <ng-container matColumnDef="penalties">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span [translate]="'modulo.loans.header.penalties'"> Penalties </span></th>
      <td mat-cell *matCellDef="let ele"> {{ ele.penaltyChargesDue | number}} </td>
      <td mat-footer-cell *matFooterCellDef> <b> {{ originalScheduleDetails.totalPenaltyChargesCharged | number }} </b> </td>
    </ng-container>

    <ng-container matColumnDef="outstanding">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 
        <span [translate]="'modulo.loans.header.outstanding'">Outstanding</span> </th>
      <td mat-cell *matCellDef="let ele"> {{ ele.totalOutstandingForPeriod | number}} </td>
      <td mat-footer-cell *matFooterCellDef> <b> {{ originalScheduleDetails.totalRepaymentExpected | number }} </b> </td>
    </ng-container>

    <!-- Header row first group -->
    <ng-container matColumnDef="header">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> </th>
    </ng-container>

    <!-- Header row second group -->
    <ng-container matColumnDef="header-amount">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">
        <span [translate]="'modulo.loans.header.loanamountbalance'"> Loan Amount and Balance</span> </th>
    </ng-container>

    <ng-container matColumnDef="header-total-cost">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> 
        <span [translate]="'modulo.loans.header.totalcostloan'">Total Cost of Loan</span> </th>
    </ng-container>

    <ng-container matColumnDef="header-installment-totals">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> 
        <span [translate]="'modulo.loans.header.installmenttotal'">Installment Totals</span> </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['header', 'header-amount', 'header-total-cost', 'header-installment-totals']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

  </table>

</div>
