<form [formGroup]="recurringDepositAccountDetailsForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.productname'">Product Name</span></mat-label>
      <mat-select formControlName="productId" required>
        <mat-option *ngFor="let product of productData" [value]="product.id">
          {{ product.name }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span [innerHTML]="'modulo.validations.productnamerequired' | translate">
          Product Name is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%" (click)="submittedOnDatePicker.open()">
      <mat-label><span [translate]="'modulo.labels.submittedon'">Submitted On</span></mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="submittedOnDatePicker"
        formControlName="submittedOnDate" required>
      <mat-datepicker-toggle matSuffix [for]="submittedOnDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #submittedOnDatePicker></mat-datepicker>
      <mat-error>
        <span [innerHTML]="'modulo.validations.submissiondaterequired' | translate">
          Submission Date is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.fieldofficer'">Field Officer</span></mat-label>
      <mat-select formControlName="fieldOfficerId">
        <mat-option *ngFor="let officer of fieldOfficerData" [value]="officer.id">
          {{ officer.displayName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious disabled>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      <span [translate]="'labels.buttons.Previous'">Previous</span>
    </button>
    <button mat-raised-button matStepperNext>
      <span [translate]="'labels.buttons.Next'">Next</span>&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
