<div class="container">
    
    <mat-card>

        <form [formGroup]="collateralForm" (ngSubmit)="submit()">

            <mat-card-content>

                <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

                    <mat-form-field fxFlex="48%">
                        <mat-label><span [translate]="'modulo.labels.name'">Name</span></mat-label>
                        <input matInput required formControlName="name">
                        <mat-error *ngIf="collateralForm.controls.name.hasError('required')">
                            <span [innerHTML]="'modulo.validations.namerequired' | translate">
                                Name is <strong>required</strong></span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="48%">
                        <mat-label><span [translate]="'modulo.labels.typequality'">Type/Quality</span></mat-label>
                        <input matInput required formControlName="quality">
                        <mat-error *ngIf="collateralForm.controls.quality.hasError('required')">
                            <span [innerHTML]="'modulo.validations.qualityrequired' | translate">
                                Quality is <strong>required</strong></span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="48%">
                        <mat-label><span [translate]="'modulo.labels.unittype'">Unit Type</span></mat-label>
                        <input matInput required formControlName="unitType">
                        <mat-error *ngIf="collateralForm.controls.unitType.hasError('required')">
                           <span [innerHTML]="'modulo.validations.unittyperequired' | translate">
                            Unit Type is <strong>required</strong></span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="48%">
                        <mat-label><span [translate]="'modulo.labels.baseprince'">Base Price</span></mat-label>
                        <input matInput required formControlName="basePrice">
                        <mat-error *ngIf="collateralForm.controls.basePrice.hasError('required')">
                            <span [innerHTML]="'modulo.validations.baseprincerequired' | translate">
                                Base Price is <strong>required</strong></span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="48%">
                        <mat-label><span [translate]="'modulo.labels.percentagetobase'">Percentage to Base</span></mat-label>
                        <input matInput required formControlName="pctToBase">
                        <mat-error *ngIf="collateralForm.controls.pctToBase.hasError('required')">
                            <span [innerHTML]="'modulo.validations.percentagetobaserequired' | translate">
                                Percentage to Base is <strong>required</strong></span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="48%">
                        <mat-label><span [translate]="'modulo.labels.currency'">Currency</span></mat-label>
                        <mat-select required formControlName="currency">
                            <mat-option *ngFor="let currency of collateralTemplateData" [value]="currency.code">
                            {{ currency.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="collateralForm.controls.currency.hasError('required')">
                            <span [innerHTML]="'modulo.validations.currencyrequired' | translate">
                                Currency is <strong>required</strong></span>
                        </mat-error>
                    </mat-form-field>

                </div>
                
            </mat-card-content>

            <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
                <button type="button" mat-raised-button [routerLink]="['../']">
                    <span [translate]="'labels.buttons.Cancel'"> Cancel</span></button>
                <button mat-raised-button color="primary" [disabled]="!collateralForm.valid" *mifosxHasPermission="'CREATE_CHARGE'">
                    <span [translate]="'labels.buttons.Submit'">Submit</span></button>
            </mat-card-actions>

        </form>

    </mat-card>

</div>