<div class="container">

  <mat-card>

    <form [formGroup]="prematureCloseRecurringDepositsAccountForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field (click)="closedOnDatePicker.open()">
            <mat-label><span [translate]="'modulo.labels.closedon'">Closed On</span></mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="closedOnDatePicker" required
              formControlName="closedOnDate">
            <mat-datepicker-toggle matSuffix [for]="closedOnDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #closedOnDatePicker></mat-datepicker>
            <mat-error *ngIf="prematureCloseRecurringDepositsAccountForm.controls.closedOnDate.hasError('required')">
              <span [innerHTML]="'modulo.validations.closedondaterequired' | translate">
                Closed On Date is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../../']">
          <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
        <button mat-raised-button color="accent" [disabled]="!prematureCloseRecurringDepositsAccountForm">
          <span [translate]="'labels.buttons.Confirm'">Confirm</span></button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
