<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="primary" [routerLink]="['edit']">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Edit'">Edit</span>
  </button>
  <button mat-raised-button color="warn" (click)="deleteAccountingClosure()" *mifosxHasPermission="'DELETE_GLCLOSURE'">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Delete'">Delete</span>
  </button>
</div>

<div class="container" *ngIf="glAccountClosure">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="header">
          <span [translate]="'modulo.labels.office'">Office</span>
        </div>

        <div fxFlex="50%">
          {{ glAccountClosure.officeName }}
        </div>

        <div fxFlex="50%" class="header">
          <span [translate]="'modulo.labels.closuredate'">Closure Date</span>
        </div>

        <div fxFlex="50%">
          {{ glAccountClosure.closingDate }}
        </div>

        <div fxFlex="50%" class="header">
          <span [translate]="'modulo.labels.closedby'">Closed By</span>
        </div>

        <div fxFlex="50%">
          {{ glAccountClosure.createdByUsername }}
        </div>

        <div fxFlex="50%" class="header">
          <span [translate]="'modulo.labels.updateby'">Updated By</span>
        </div>

        <div fxFlex="50%">
          {{ glAccountClosure.lastUpdatedByUsername }}
        </div>

        <div fxFlex="50%" class="header">
          <span [translate]="'modulo.labels.updateon'">Updated On</span>
        </div>

        <div fxFlex="50%">
          {{ glAccountClosure.lastUpdatedDate }}
        </div>

        <div fxFlex="50%" class="header">
          <span [translate]="'modulo.labels.closurecreationdate'">Closure Creation Date</span>
        </div>

        <div fxFlex="50%">
          {{ glAccountClosure.createdDate }}
        </div>

        <div fxFlex="50%" class="header">
          <span [translate]="'modulo.labels.comments'">Comments</span>
        </div>

        <div fxFlex="50%">
          {{ glAccountClosure.comments }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
