<div class="container">

  <mat-card>

    <form [formGroup]="groupAssignStaffForm" (ngSubmit)="submit()">
 
      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.staff'">Staff</span></mat-label>
            <mat-select formControlName="staffId">
              <mat-option *ngFor="let staff of staffData" [value]="staff.id">
                {{ staff.displayName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="groupAssignStaffForm.controls.staffId.hasError('required')">
              <span [innerHTML]="'modulo.validations.staffrequired' | translate">
                Staff is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../../']">
          <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
        <button mat-raised-button color="primary" [disabled]="!groupAssignStaffForm.valid">
          <span [translate]="'labels.buttons.Confirm'">Confirm</span></button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
