<h1 mat-dialog-title>
    <span [translate]="'modulo.configurationwizard.title'">Welcome to Mifos</span></h1>

<mat-dialog-content>

<h3 class="mw600">
    <span [translate]="'modulo.configurationwizard.description'">Following guide tour will help you configure Mifos according to your organization needs.</span></h3>


<h3><span [translate]="'modulo.configurationwizard.descriptionsuccess'">
    You have successfully completed the setup of Configuration Wizard.</span></h3>

<h3>
    <span [translate]="'modulo.configurationwizard.progress'" [translateParams]="{ porcent: '100%' }">
        Progress Bar : 100 %</span></h3>

<mat-progress-bar mode="determinate" value="100"></mat-progress-bar>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>
        <span [innerHTML]="'modulo.configurationwizard.buttons.close' | translate">Close Config. Wizard</span></button>
</mat-dialog-actions>
