<div class="container">

  <mat-card>

    <form [formGroup]="assignOfficerForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label><span [translate]="'modulo.loans.labels.approved'"> To Loan Officer</span></mat-label>
            <mat-select required formControlName="toLoanOfficerId">
              <mat-option *ngFor="let loanOfficer of loanOfficers" [value]="loanOfficer.id">
                {{ loanOfficer.displayName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="assignOfficerForm.controls.toLoanOfficerId.hasError('required')">
              <span [innerHTML]="'modulo.validations.loanofficerrequired' | translate">Loan Officer is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field (click)="assignOnDatePicker.open()">
            <mat-label><span [translate]="'modulo.loans.labels.assignmentdate'">Assignment Date</span></mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="assignOnDatePicker" required
              formControlName="assignmentDate">
            <mat-datepicker-toggle matSuffix [for]="assignOnDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #assignOnDatePicker></mat-datepicker>
            <mat-error *ngIf="assignOfficerForm.controls.assignmentDate.hasError('required')">
              <span [innerHTML]="'modulo.validations.assignmentdaterequired' | translate">Assignment Date <strong>is required</strong></span>
            </mat-error>
          </mat-form-field>

        </div>

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button type="button" mat-raised-button [routerLink]="['../../general']">
            <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
          <button mat-raised-button color="primary" [disabled]="!assignOfficerForm.valid"
            *mifosxHasPermission="'BULKREASSIGN_LOAN'">
            <span [translate]="'labels.buttons.Cancel'">Submit</span></button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>
