<div class="container mat-elevation-z8">

  <mat-card>

    <form [formGroup]="disbursementForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field (click)="disbursementDatePicker.open()">
            <mat-label><span [translate]="'modulo.loans.labels.disbursement'">Disbursement On</span></mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="disbursementDatePicker" required
              formControlName="actualDisbursementDate">
            <mat-datepicker-toggle matSuffix [for]="disbursementDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #disbursementDatePicker></mat-datepicker>
            <mat-error *ngIf="disbursementForm.controls.actualDisbursementDate.hasError('required')">
              <span [innerHTML]="'modulo.validations.disbursementdrequired' | translate">Disbursement Date is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.loans.labels.transactionamount'">Transaction amount</span></mat-label>
            <input matInput type="number" required formControlName="transactionAmount">
            <mat-error *ngIf="disbursementForm.controls.transactionAmount.hasError('required')">
              <span [innerHTML]="'modulo.validations.transactionamountrequired' | translate">Transaction Amount is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="dataObject.fixedEmiAmount">
            <mat-label><span [translate]="'modulo.loans.labels.fixedamount'">Fixed EMI amount</span></mat-label>
            <input matInput type="number" formControlName="fixedEmiAmount">
         </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.loans.labels.note'">Note</span></mat-label>
            <textarea matInput formControlName="note" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
          </mat-form-field>

        </div>

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button type="button" mat-raised-button [routerLink]="['../../general']">
            <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
          <button mat-raised-button color="primary" [disabled]="!disbursementForm.valid"
            *mifosxHasPermission="'DISBURSETOSAVINGS_LOAN'">
            <span [translate]="'labels.buttons.Submit'">Submit</span></button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>
