<div fxLayoutAlign="end" class="container m-b-20" fxLayoutGap="2%"
  *ngIf="!(transactionData.interestedPostedAsOn === false && (transactionData.transactionType.id === 17 || transactionData.transactionType.id === 3))">
  <span *mifosxHasPermission="'ADJUSTTRANSACTION_SAVINGSACCOUNT'">
    <button mat-raised-button color="primary" *ngIf="transactionData.transactionType.value == 'Transfer' || transactionData.reversed == 'true'
        || transactionData.transactionType.id==3 || transactionData.transactionType.id==17" [routerLink]="'edit'">
      <fa-icon icon="edit" class="m-r-10"></fa-icon><span [translate]="'labels.buttons.Edit'">Edit</span>
    </button>
  </span>
  <span *ngIf="!transactionData.reversed && transactionData.transactionType.amountHold">
    <button mat-raised-button color="primary" *mifosxHasPermission="'RELEASEAMOUNT_SAVINGSACCOUNT'"
      (click)="releaseAmount()">
      <fa-icon icon="lock-open" class="m-r-10"></fa-icon><span [translate]="'labels.buttons.ReleaseAmount'">Release Amount</span>
    </button>
  </span>
  <button mat-raised-button color="warn" *mifosxHasPermission="'UNDOTRANSACTION_SAVINGSACCOUNT'"
    (click)="undoTransaction()" [disabled]="transactionData.reversed">
    <fa-icon icon="undo" class="m-r-10"></fa-icon><span [translate]="'labels.buttons.Undo'">Undo</span>
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.transactionid'">Transaction Id</span>
        </div>

        <div fxFlex="50%">
          {{ transactionData.id }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.type'">Type</span>
        </div>

        <div fxFlex="50%">
          {{ transactionData.transactionType.value }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.transactiondate'">Transaction Date</span>
        </div>

        <div fxFlex="50%">
          {{ transactionData.date | dateFormat }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
         <span [translate]="'modulo.labels.amount'">Amount</span> 
        </div>

        <div fxFlex="50%">
          {{ transactionData.currency.displaySymbol }} {{ transactionData.amount | number }} ({{ transactionData.currency.code }})
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.currency'">Currency</span> 
        </div>

        <div fxFlex="50%">
          {{ transactionData.currency.name }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.note'">Note</span>
        </div>

        <div fxFlex="50%">
          {{ transactionData.note }}
        </div>

        <ng-container *ngIf="transactionData.paymentDetailData">

          <div *ngIf="transactionData.paymentDetailData.paymentType" fxFlex="50%" class="mat-body-strong">
            <span [translate]="'modulo.labels.paymenttype'">Payment Type</span>
          </div>

          <div *ngIf="transactionData.paymentDetailData.paymentType" fxFlex="50%">
            {{ transactionData.paymentDetailData.paymentType.name }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.accountNumber" fxFlex="50%" class="mat-body-strong">
            <span [translate]="'modulo.labels.accountno'">Account No.</span>
          </div>

          <div *ngIf="transactionData.paymentDetailData.accountNumber" fxFlex="50%">
            {{ transactionData.paymentDetailData.accountNumber }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.checkNumber" fxFlex="50%" class="mat-body-strong">
            <span [translate]="'modulo.labels.chequenumber'">Cheque Number</span>
          </div>

          <div *ngIf="transactionData.paymentDetailData.checkNumber" fxFlex="50%">
            {{ transactionData.paymentDetailData.checkNumber }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.routingCode" fxFlex="50%" class="mat-body-strong">
            <span [translate]="'modulo.labels.routingcode'">Routing Code</span>
          </div>

          <div *ngIf="transactionData.paymentDetailData.routingCode" fxFlex="50%">
            {{ transactionData.paymentDetailData.routingCode }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.receiptNumber" fxFlex="50%" class="mat-body-strong">
            <span [translate]="'modulo.labels.receiptno'">Receipt No.</span>
          </div>

          <div *ngIf="transactionData.paymentDetailData.receiptNumber" fxFlex="50%">
            {{ transactionData.paymentDetailData.receiptNumber }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.bankNumber" fxFlex="50%" class="mat-body-strong">
            <span [translate]="'modulo.labels.bankno'">Bank No.</span>
          </div>

          <div *ngIf="transactionData.paymentDetailData.bankNumber" fxFlex="50%">
            {{ transactionData.paymentDetailData.bankNumber }}
          </div>

        </ng-container>

      </div>

      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2%" fxLayout.lt-md="column">
        <button type="button" mat-raised-button color="primary" [routerLink]="['../']">{{ 'Back' | translate }}</button>
      </div>
    </mat-card-content>

  </mat-card>

</div>
