<div class="container">

  <mat-card>

    <form [formGroup]="productMixForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.product'">Product</span></mat-label>
            <input matInput formControlName="productId">
          </mat-form-field>

          <mat-form-field *ngIf="productData">
            <mat-label><span [translate]="'modulo.labels.restrictedproducts'">Restricted products</span></mat-label>
            <mat-select required formControlName="restrictedProducts" multiple>
              <mat-option *ngFor="let product of productData" [value]="product.id">
                {{ product.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productMixForm.controls.restrictedProducts.hasError('required')">
             <span [innerHTML]="'modulo.validations.leastrestrictedproductselected' | translate">
               At least one restricted product <strong>must be selected</strong></span>
            </mat-error>
          </mat-form-field>
        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">
          <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
        <button mat-raised-button color="primary" [disabled]="!productMixForm.valid" *mifosxHasPermission="'UPDATE_PRODUCTMIX'">
          <span [translate]="'labels.buttons.Submit'">Submit</span></button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
