<div fxLayout="row wrap" fxLayout.lt-md="column">

  <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.details'">Details</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.product'">Product</span></span>
    <span fxFlex="60%">{{ sharesAccount.productId | find:sharesAccountTemplate.productOptions:'id':'name' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.submittedon'">Submitted On</span></span>
    <span fxFlex="60%">{{ sharesAccount.submittedDate  | dateFormat }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.externalid'">External Id</span></span>
    <span fxFlex="60%">{{ sharesAccount.externalId || 'Unassigned' }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.terms'">Terms</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.currency'">Currency</span></span>
    <span fxFlex="60%">{{ sharesAccountTermsForm.get('currencyCode').value | find:[sharesAccountProductTemplate.currency]:'code':'displayLabel' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.decimalplaces'">Decimal Places</span></span>
    <span fxFlex="60%">{{ sharesAccountTermsForm.get('decimal').value }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.totalnumbershares'">Total Number of Shares</span></span>
    <span fxFlex="60%">{{ sharesAccount.requestedShares }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.todayprice'">Today's Price</span></span>
    <span fxFlex="60%">{{ sharesAccountTermsForm.get('unitPrice').value }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.currencymultiplesof'">Currency in multiples of</span></span>
    <span fxFlex="60%">{{ sharesAccountTermsForm.get('currencyMultiple').value }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.defualtsavingsaccount'">Default Savings Account</span></span>
    <span fxFlex="60%">{{ sharesAccount.savingsAccountId | find:sharesAccountProductTemplate.clientSavingsAccounts:'id':'accountNo' }}</span>
  </div>

  <div fxFlexFill *ngIf="sharesAccount.minimumActivePeriod">
    <span fxFlex="40%"><span [translate]="'modulo.labels.minactiveperiod'">Minimum Active Period</span></span>
    <span fxFlex="60%">{{sharesAccount.minimumActivePeriod}}&nbsp;{{sharesAccount.minimumActivePeriodFrequencyType | find:sharesAccountProductTemplate.minimumActivePeriodFrequencyTypeOptions:'id':'value'}}</span>
  </div>

  <div fxFlexFill *ngIf="sharesAccount.lockinPeriodFrequency">
    <span fxFlex="40%"><span [translate]="'modulo.labels.lockinperiod'">Lock-in Period</span></span>
    <span fxFlex="60%">{{sharesAccount.lockinPeriodFrequency}}&nbsp;{{sharesAccount.lockinPeriodFrequencyType | find:sharesAccountProductTemplate.lockinPeriodFrequencyTypeOptions:'id':'value'}}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.applicationdate'">Application Date</span></span>
    <span fxFlex="60%">{{ sharesAccount.applicationDate  | dateFormat }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.allowdividendsinactiveclients'">Allow dividends for inactive clients</span></span>
    <span fxFlex="60%">{{ sharesAccount.allowDividendCalculationForInactiveClients }}</span>
  </div>

  <div fxFlexFill *ngIf="sharesAccount.charges.length" fxLayout="row wrap" fxLayout.lt-md="column">

    <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.charges'">Charges</span></h3>

    <mat-divider fxFlexFill></mat-divider>

    <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="sharesAccount.charges">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'modulo.labels.name'"> Name </span></th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.name + ', ' + charge.currency.displaySymbol }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chargeCalculationType">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'modulo.labels.type'"> Type</span> </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.chargeCalculationType.value }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'modulo.labels.amount'"> Amount</span> </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.amount || charge.amountOrPercentage }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chargeTimeType">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'modulo.labels.collectedon'"> Collected On </span></th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.chargeTimeType.value }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="chargesDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: chargesDisplayedColumns;"></tr>

    </table>

  </div>

</div>

<div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
  <button mat-raised-button matStepperPrevious>
    <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Previous'">Previous</span>
  </button>
  <button mat-raised-button [routerLink]="['../']">
    <span [translate]="'labels.buttons.Cancel'">Cancel</span>
  </button>
  <button mat-raised-button color="primary" (click)="submit.emit()">
    <span [translate]="'labels.buttons.Submit'">Submit</span>
  </button>
</div>
