<!-- TODO: Refactor Permissions -->
<div class="container">

  <mat-card>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['Offices']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="building" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.offices'">Offices</span></h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Users']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="user" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.users'">Users</span></h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Groups']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="users" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.groups'">Groups</span></h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Loan Accounts']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.loanaccounts'">Loan Accounts</span></h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Savings Accounts']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.savingsaccounts'">Savings Accounts</span></h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Fixed Deposit Accounts']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.fixeddepositaccounts'">Fixed Deposit Accounts</span></h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Chart of Accounts']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.chartaccounts'">Chart of Accounts</span></h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Share Accounts']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.shareaccounts'">Share Accounts</span></h4>
          </mat-list-item>

        </mat-nav-list>

      </div>

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['Employees']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="user" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.employees'">Employees</span></h4>
          </mat-list-item>


          <mat-list-item [routerLink]="['Clients']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="user" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.clients'">Clients</span></h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Centers']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="users" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.centers'">Centers</span></h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Loan Repayments']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.loanrepayments'">Loan Repayments</span></h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Savings Transactions']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.savingstransactions'">Savings Transactions</span></h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Fixed Deposit Transactions']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.fixeddeposittransactions'">Fixed Deposit Transactions</span></h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Recurring Deposit Transactions']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.recurringdeposittransactions'">Recurring Deposit Transactions</span></h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Journal Entries']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.journalentries'">Journal Entries</span></h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Guarantors']" *mifosxHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.guarantors'">Guarantors</span></h4>
          </mat-list-item>

        </mat-nav-list>

      </div>

    </div>

  </mat-card>

</div>
