<div class="container mat-elevation-z8">

  <mat-card>

    <form [formGroup]="rejectLoanForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field (click)="rejectedDatePicker.open()">
            <mat-label><span [translate]="'modulo.loans.labels.rejectedon'">Rejected On</span></mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="rejectedDatePicker" required
              formControlName="rejectedOnDate">
            <mat-datepicker-toggle matSuffix [for]="rejectedDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #rejectedDatePicker></mat-datepicker>
            <mat-error *ngIf="rejectLoanForm.controls.rejectedOnDate.hasError('required')">
              <span [innerHTML]="'modulo.validations.rejecteddaterequired' | translate">Rejected Date <strong>is required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.loans.labels.note'">Note</span></mat-label>
            <textarea matInput formControlName="note" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
          </mat-form-field>

        </div>

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button type="button" mat-raised-button [routerLink]="['../../general']">
            <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
          <button mat-raised-button color="primary" [disabled]="!rejectLoanForm.valid"
            *mifosxHasPermission="'REJECT_LOAN'">
            <span [translate]="'labels.buttons.Submit'">Submit</span></button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>
