<mat-card-header fxLayout="row" fxLayoutGap="5%" class="header">
  <fa-icon class="main-icon" icon="user" size="3x"></fa-icon>
  <mat-card-title-group>
    <div class="mat-typography">
      <mat-card-title>
        <h2>
          {{ employeeData.displayName }} 
          <span [className]="employeeData.isActive === true ? 'true' : 'false'">
            <fa-icon matTooltip="{{ (employeeData.isActive === true ? 'modulo.labels.active' : 'modulo.labels.inactive') | translate }}" 
            matTooltipPosition="right" icon="circle" size="lg"></fa-icon>
          </span>        
        </h2>
      </mat-card-title>
      <mat-card-subtitle>
        <p>
          <span [translate]="'modulo.labels.associatedoffice'">Associated Office</span>: {{ employeeData.officeName }}
        </p>
      </mat-card-subtitle>
    </div>
  </mat-card-title-group> 
</mat-card-header>

<mat-card-content>
  <div fxLayout="row wrap" class="content">

    <div fxFlex="50%" class="mat-body-strong">
      <span [translate]="'modulo.labels.joinedon'">Joined On</span>
    </div>

    <div fxFlex="50%">
      {{ employeeData.joiningDate  | dateFormat }}
    </div>

    <div fxFlex="50%" class="mat-body-strong">
      <span [translate]="'modulo.labels.loanofficer'">Loan Officer</span>
    </div>

    <div fxFlex="50%">
      {{ (employeeData.isLoanOfficer ? 'modulo.labels.yes' : 'modulo.labels.no') | translate}}
    </div>

    <div fxFlex="50%" class="mat-body-strong" *ngIf="employeeData.mobileNo">
      <span [translate]="'modulo.labels.mobilenumber'">Mobile Number</span>
    </div>

    <div fxFlex="50%" *ngIf="employeeData.mobileNo">
      {{ employeeData.mobileNo }}
    </div>

    <div fxFlex="50%" class="mat-body-strong">
      <span [translate]="'modulo.labels.numbercenters'">Number of Centers</span>
    </div>

    <div fxFlex="50%">
      {{ centerData ? centerData.length : '' }}
    </div>

  </div>
</mat-card-content>
