<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" fxLayout.lt-md="column">

        <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.transfromdetail'">Transferring From Details</span></h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.applicant'">Applicant</span></span>
          <span fxFlex="60%">{{ accountTransferTemplateData.fromClient.displayName }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.office'">Office</span></span>
          <span fxFlex="60%">{{ accountTransferTemplateData.fromOffice.name }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.fromaccount'">From Account</span></span>
          <span fxFlex="60%">{{ accountTransferTemplateData.fromAccount.productName}}&nbsp;-&nbsp;#{{
            accountTransferTemplateData.fromAccount.accountNo }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.fromaccounttype'">From Account Type</span></span>
          <span fxFlex="60%">{{ accountTransferTemplateData.fromAccountType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.currency'">Currency</span></span>
          <span fxFlex="60%">{{ accountTransferTemplateData.currency.name }}</span>
        </div>

      </div>

      <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.transferingto'">Transferring To</span></h3>

      <mat-divider [inset]="true"></mat-divider>

      <form [formGroup]="makeAccountTransferForm">

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

          <mat-form-field fxFlex="98%" (click)="transferDatePicker.open()">
            <mat-label>Transaction Date</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="transferDatePicker" required
              formControlName="transferDate">
            <mat-datepicker-toggle matSuffix [for]="transferDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #transferDatePicker></mat-datepicker>
            <mat-error *ngIf="makeAccountTransferForm.controls.transferDate.hasError('required')">
              Transactions Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label><span [translate]="'modulo.labels.office'">Office</span></mat-label>
            <mat-select required formControlName="toOfficeId" (selectionChange)="changeEvent()">
              <mat-option *ngFor="let toOfficeType of toOfficeTypeData" [value]="toOfficeType.id">
                {{ toOfficeType.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="makeAccountTransferForm.controls.toOfficeId.hasError('required')">
              <span [innerHTML]="'modulo.validations.officerequired' | translate">
                Office is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label><span [translate]="'modulo.labels.client'">Client</span></mat-label>
            <input matInput formControlName="toClientId" [matAutocomplete]="clientsAutocomplete">
            <mat-error *ngIf="makeAccountTransferForm.controls.toClientId.hasError('required')">
              <span [innerHTML]="'modulo.validations.clientrequired' | translate">
                Client is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-autocomplete autoActiveFirstOption #clientsAutocomplete="matAutocomplete" [displayWith]="displayClient">
            <mat-option *ngFor="let client of clientsData" [value]="client">
              {{ client.id }} - {{ client.displayName }}
            </mat-option>
          </mat-autocomplete>

          <mat-form-field fxFlex="98%">
            <mat-label><span [translate]="'modulo.labels.accounttype'">Account Type</span></mat-label>
            <mat-select required formControlName="toAccountType" (selectionChange)="changeEvent()">
              <mat-option *ngFor="let toAccountType of toAccountTypeData" [value]="toAccountType.id">
                {{ toAccountType.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="makeAccountTransferForm.controls.toAccountType.hasError('required')">
              <span [innerHTML]="'modulo.validations.accounttyperequired' | translate">
                Account Type is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label><span [translate]="'modulo.labels.account'">Account</span></mat-label>
            <mat-select required formControlName="toAccountId" (selectionChange)="changeEvent()">
              <mat-option *ngFor="let toAccount of toAccountData" [value]="toAccount.id">
                {{ toAccount.productName }} - {{ toAccount.accountNo }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="makeAccountTransferForm.controls.toAccountId.hasError('required')">
              <span [innerHTML]="'modulo.validations.accountrequired' | translate">
                Account is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label><span [translate]="'modulo.labels.amount'">Amount</span></mat-label>
            <input type="number" matInput required formControlName="transferAmount">
            <mat-error *ngIf="makeAccountTransferForm.controls.transferAmount.hasError('required')">
              <span [innerHTML]="'modulo.validations.amountrequired' | translate">
                Amount is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

<!-- HEAD
          <mat-form-field fxFlex="98%"  (click)="transferDatePicker.open()">
            <mat-label><span [translate]="'modulo.labels.transactiondate'">Transaction Date</span></mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="transferDatePicker" required
              formControlName="transferDate">
            <mat-datepicker-toggle matSuffix [for]="transferDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #transferDatePicker></mat-datepicker>
            <mat-error *ngIf="makeAccountTransferForm.controls.transferDate.hasError('required')">
              <span [innerHTML]="'modulo.validations.transactiondaterequired' | translate">
                Transactions Date is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>
        -->
          <mat-form-field fxFlex="98%">
            <mat-label><span [translate]="'modulo.labels.description'">Description</span></mat-label>
            <textarea matInput formControlName="transferDescription" cdkTextareaAutosize
              cdkAutosizeMinRows="2"></textarea>
            <mat-error *ngIf="makeAccountTransferForm.controls.transferDescription.hasError('required')">
              <span [innerHTML]="'modulo.validations.descriptionrequired' | translate">
                Transfer Description is <strong>required</strong></span>
            </mat-error>

          </mat-form-field>

        </div>

      </form>

    </mat-card-content>

    <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
      <button type="button" mat-raised-button [routerLink]="['../../general']"><span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
      <button mat-raised-button color="primary" [disabled]="!makeAccountTransferForm.valid"
        *mifosxHasPermission="'CREATE_ACCOUNTTRANSFER'" (click)="submit()"><span [translate]="'labels.buttons.Submit'">Submit</span></button>
    </mat-card-actions>

  </mat-card>

</div>
