<form [formGroup]="fixedDepositAccountTermsForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.depositamount'">Deposit Amount</span></mat-label>
      <input type="number" matInput formControlName="depositAmount" required>
      <mat-error>
        <span [innerHTML]="'modulo.validations.depositamountrequired' | translate">
          Fixed Deposit Amount is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <span fxFlex="48%" fxHide.lt-md></span>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.depositperiodfrequency'">Deposit Period Frequency</span></mat-label>
      <input type="number" matInput formControlName="depositPeriod" required>
      <mat-error>
        <span [innerHTML]="'modulo.validations.depositperiodfrequencyrequired' | translate">
          Deposit Period Frequency is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.depositperiodtype'">Deposit Period Type</span></mat-label>
      <mat-select formControlName="depositPeriodFrequencyId" required>
        <mat-option *ngFor="let periodFrequencyType of periodFrequencyTypeData" [value]="periodFrequencyType.id">
          {{ periodFrequencyType.value }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span [innerHTML]="'modulo.validations.depositperiodtyperequired' | translate">
          Deposit Period Type is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-divider fxFlex="98%"></mat-divider>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.interestcompountingperiod'">Interest Compounding Period</span></mat-label>
      <mat-select formControlName="interestCompoundingPeriodType" required>
        <mat-option *ngFor="let interestCompoundingPeriodType of interestCompoundingPeriodTypeData"
          [value]="interestCompoundingPeriodType.id">
          {{ interestCompoundingPeriodType.value }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span [innerHTML]="'modulo.validations.interestcompoutingperiodrequired' | translate">
          Interest Compounding Period is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.interestpostingperiod'">Interest Posting Period</span></mat-label>
      <mat-select formControlName="interestPostingPeriodType" required>
        <mat-option *ngFor="let interestPostingPeriodType of interestPostingPeriodTypeData"
          [value]="interestPostingPeriodType.id">
          {{ interestPostingPeriodType.value }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span [innerHTML]="'modulo.validations.interestpostingperiodrequired' | translate">
          Interest Posting Period is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.interestcalculatedusing'">Interest Calculated using</span></mat-label>
      <mat-select formControlName="interestCalculationType" required>
        <mat-option *ngFor="let interestCalculationType of interestCalculationTypeData"
          [value]="interestCalculationType.id">
          {{ interestCalculationType.value }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span [innerHTML]="'modulo.validations.interestcalculatedusingrequired' | translate">
          Interest Calculated using is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.daysinyear'">Days in Year</span></mat-label>
      <mat-select formControlName="interestCalculationDaysInYearType" required>
        <mat-option *ngFor="let interestCalculationDaysInYearType of interestCalculationDaysInYearTypeData"
          [value]="interestCalculationDaysInYearType.id">
          {{ interestCalculationDaysInYearType.value }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span [innerHTML]="'modulo.validations.daysinyearrequired' | translate">
          Days in Year is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      <span [translate]="'labels.buttons.Previous'">Previous</span>
    </button>
    <button mat-raised-button matStepperNext>
      <span [translate]="'labels.buttons.Next'">Next</span>&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
