<div class="container m-b-20" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">

  <div #buttonTreeView class="in-block">
    <button mat-raised-button color="primary">
      <fa-icon icon="sitemap"></fa-icon>&nbsp;&nbsp;
      <span [translate]="'labels.buttons.TreeView'">Tree View</span>
    </button>
  </div>

  <div #buttonCreateOffice class="in-block">
    <button mat-raised-button color="primary" [routerLink]="['create']" *mifosxHasPermission="'CREATE_OFFICE'">
      <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;
      <span [translate]="'labels.buttons.CreateOffice'">Create Office</span>
    </button>
  </div>

  <div #buttonImportOffices class="in-block">
    <button mat-raised-button color="primary" *mifosxHasPermission="'CREATE_OFFICE'"
      [routerLink]="['/organization', 'bulk-import', 'Offices']">
      <fa-icon icon="upload"></fa-icon>&nbsp;&nbsp;
      <span [translate]="'labels.buttons.ImportOffices'">Import Offices</span>
    </button>
  </div>

</div>

<div class="container">

  <div #filter fxLayout="row" fxLayoutGap="20px">
    <mat-form-field fxFlex>
      <mat-label><span [translate]="'modulo.labels.filter'">Filter</span></mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
  </div>

  <div #tableOffices class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 
          <span [translate]="'modulo.labels.officename'">Office Name</span> </th>
        <td mat-cell *matCellDef="let offices"> {{ offices.name }} </td>
      </ng-container>

      <ng-container matColumnDef="externalId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span [translate]="'modulo.labels.externalid'"> External ID </span></th>
        <td mat-cell *matCellDef="let offices"> {{ offices.externalId }} </td>
      </ng-container>

      <ng-container matColumnDef="parentName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span [translate]="'modulo.labels.parentoffice'"> Parent Office </span></th>
        <td mat-cell *matCellDef="let offices"> {{ offices.parentName }} </td>
      </ng-container>

      <ng-container matColumnDef="openingDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span [translate]="'modulo.labels.openedon'"> Opened On</span> </th>
        <td mat-cell *matCellDef="let offices"> {{ offices.openingDate | dateFormat }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="select-row"
        [routerLink]="[row.id, 'general']"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

  </div>

</div>

<ng-template #templateButtonTreeView let-popover="popover">
  <h2><span [translate]="'modulo.labels.treeview'">Tree View</span></h2>
  <p class="mw300"><span [translate]="'modulo.labels.launchalternativeviewoffice'">
    This will launch an alternative view which allows you to view the office hierarchy for your
    organization.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn"
      (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStep();">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary"
      (click)="popover.close();showPopover(templateButtonCreateOffice,buttonCreateOffice,'bottom', true);">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateButtonCreateOffice let-popover="popover">
  <h2><span [translate]="'modulo.labels.createoffice'">Create Office</span></h2>
  <p class="mw300"><span [translate]="'modulo.labels.allowcreateoffice'">
    This option allows you to create new offices in your organization.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn"
      (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary"
      (click)="popover.close();showPopover(templateButtonTreeView,buttonTreeView,'bottom', true);">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary"
      (click)="popover.close();showPopover(templateButtonImportOffices,buttonImportOffices,'bottom', true);">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateButtonImportOffices let-popover="popover">
  <h2><span [translate]="'modulo.labels.importoffices'">Import Offices</span></h2>
  <p class="mw300"><span [translate]="'modulo.labels.lanchbulkoffices'">
    This will launch the Bulk import/Offices page.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn"
      (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary"
      (click)="popover.close();showPopover(templateButtonCreateOffice,buttonCreateOffice,'bottom', true);">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary"
      (click)="popover.close();showPopover(templateFilter,filter,'bottom', true);">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateFilter let-popover="popover">
  <h4><span [translate]="'modulo.labels.searchfilteroffice'">Search bar to filter offices.</span></h4>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn"
      (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary"
      (click)="popover.close();showPopover(templateButtonImportOffices,buttonImportOffices,'bottom', true);">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary"
      (click)="popover.close();showPopover(templateTableOffices,tableOffices,'top', true);">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateTableOffices let-popover="popover">
  <h4><span [translate]="'modulo.labels.listofficesorganization'">List of offices in the organization.</span></h4>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn"
      (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary"
      (click)="popover.close();showPopover(templateFilter,filter,'bottom', true);">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStep()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>
