<div class="container">

    <mat-card>
  
      <form [formGroup]="smsConfigurationForm" (ngSubmit)="submit()">
  
        <mat-card-content>
  
          <div fxLayout="column">
  
            <mat-form-field>
              <mat-label><span [translate]="'modulo.labels.hostname'">Host Name</span></mat-label>
              <input matInput required formControlName="host_name">
              <mat-error *ngIf="smsConfigurationForm.controls.host_name.hasError('required')">
                <span [innerHTML]="'modulo.validations.hostnamerequired' | translate">
                  Host Name is <strong>required</strong></span>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field>
              <mat-label><span [translate]="'modulo.labels.portnumber'">Port Number</span></mat-label>
              <input matInput required formControlName="port_number">
              <mat-error *ngIf="smsConfigurationForm.controls.port_number.hasError('required')">
                <span [innerHTML]="'modulo.validations.portnumberrequired' | translate">
                  Port Number is <strong>required</strong></span>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field>
              <mat-label><span [translate]="'modulo.labels.endpoint'">End Point</span></mat-label>
              <input matInput required formControlName="end_point">
              <mat-error *ngIf="smsConfigurationForm.controls.end_point.hasError('required')">
                <span [innerHTML]="'modulo.validations.endpointrequired' | translate">
                  End Point is <strong>required</strong></span>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label><span [translate]="'modulo.labels.tenantappkey'">Tenant App Key</span></mat-label>
                <input matInput required formControlName="tenant_app_key">
                <mat-error *ngIf="smsConfigurationForm.controls.tenant_app_key.hasError('required')">
                  <span [innerHTML]="'modulo.validations.tenantappkeyrequired' | translate">
                    Tenant App Key is <strong>required</strong></span>
                </mat-error>
              </mat-form-field>
  
          </div>
  
        </mat-card-content>
  
        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button type="button" mat-raised-button [routerLink]="['../']">
            <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
          <button mat-raised-button color="primary" [disabled]="!smsConfigurationForm.valid || smsConfigurationForm.pristine">
            <span [translate]="'labels.buttons.Submit'">Submit</span></button>
        </mat-card-actions>
  
      </form>
  
    </mat-card>
  
  </div>
