<div class="container">

  <mat-card>

    <form [formGroup]="chargeForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.chargeappliesto'">Charge Applies To</span></mat-label>
            <mat-select required formControlName="chargeAppliesTo">
              <mat-option *ngFor="let chargeAppliesTo of chargesTemplateData.chargeAppliesToOptions" [value]="chargeAppliesTo.id">
                {{ chargeAppliesTo.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chargeForm.controls.chargeAppliesTo.hasError('required')">
              <span [innerHTML]="'modulo.validations.chargeappliestorequired' | translate">
                Charge Applies To is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-divider [inset]="true"></mat-divider>

          <div *ngIf="chargeForm.controls.chargeAppliesTo.value" fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

            <mat-form-field fxFlex="48%">
              <mat-label><span [translate]="'modulo.labels.chargename'">Charge Name</span></mat-label>
              <input matInput required formControlName="name">
              <mat-error *ngIf="chargeForm.controls.name.hasError('required')">
                <span [innerHTML]="'modulo.validations.chargenamerequired' | translate">Charge Name is <strong>required</strong></span>
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="48%">
              <mat-label><span [translate]="'modulo.labels.currency'">Currency</span></mat-label>
              <mat-select required formControlName="currencyCode">
                <mat-option *ngFor="let currency of chargesTemplateData.currencyOptions" [value]="currency.code">
                  {{ currency.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="chargeForm.controls.currencyCode.hasError('required')">
                <span [innerHTML]="'modulo.validations.currencyrequired' | translate">
                  Currency is <strong>required</strong></span>
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="48%">
              <mat-label><span [translate]="'modulo.labels.chargetimetype'">Charge Time Type</span></mat-label>
              <mat-select required formControlName="chargeTimeType">
                <mat-option *ngFor="let chargeTimeType of chargeTimeTypeData" [value]="chargeTimeType.id">
                  {{ chargeTimeType.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="chargeForm.controls.chargeTimeType.hasError('required')">
               <span [innerHTML]="'modulo.validations.chargetimetyperequired' | translate">
                 Charge Time Type is <strong>required</strong></span>
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="48%">
              <mat-label><span [translate]="'modulo.labels.chargecalculationtype'">Charge Calculation Type</span></mat-label>
              <mat-select required formControlName="chargeCalculationType">
                <mat-option *ngFor="let chargeCalculationType of filteredChargeCalculationType()" [value]="chargeCalculationType.id">
                  {{ chargeCalculationType.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="chargeForm.controls.chargeCalculationType.hasError('required')">
                <span [innerHTML]="'modulo.validations.chargecalculationtyperequired' | translate">
                  Charge Calculation Type is <strong>required</strong></span>
              </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="chargeForm.controls.chargeAppliesTo.value === 1" fxFlex="48%">
              <mat-label><span [translate]="'modulo.labels.chargepaymentmode'">Charge Payment Mode</span></mat-label>
              <mat-select required formControlName="chargePaymentMode">
                <mat-option *ngFor="let chargePaymentMode of chargesTemplateData.chargePaymetModeOptions" [value]="chargePaymentMode.id">
                  {{ chargePaymentMode.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="chargeForm.controls.chargePaymentMode.hasError('required')">
                <span [innerHTML]="'modulo.validations.chargepaymentmoderequired' | translate">Charge Payment Mode is <strong>required</strong></span>
              </mat-error>
            </mat-form-field>

            <div fxFlex="48%" *ngIf="chargeForm.controls.chargeTimeType.value === 9" class="add-fee-frequency-wrapper">
              <mat-checkbox labelPosition="before" formControlName="addFeeFrequency">
                <span [translate]="'modulo.labels.addfeefrequency'">Add Fee Frequency</span>
              </mat-checkbox>
            </div>

            <mat-form-field *ngIf="chargeForm.controls.chargeTimeType.value === 9 && chargeForm.controls.addFeeFrequency.value" fxFlex="48%">
              <mat-label><span [translate]="'modulo.labels.chargefrequency'">Charge Frequency</span></mat-label>
              <mat-select required formControlName="feeFrequency">
                <mat-option *ngFor="let feeFrequency of chargesTemplateData.feeFrequencyOptions" [value]="feeFrequency.id">
                  {{ feeFrequency.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="chargeForm.controls.feeFrequency.hasError('required')">
                <span [innerHTML]="'modulo.validations.chargefrequencyrequired' | translate">Charge Frequency is <strong>required</strong></span>
              </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="chargeForm.controls.chargeTimeType.value === 9  && chargeForm.controls.addFeeFrequency.value" fxFlex="48%">
              <mat-label><span [translate]="'modulo.labels.frequencyinterval'">Frequency Interval</span></mat-label>
              <input matInput required formControlName="feeInterval">
              <mat-error *ngIf="chargeForm.controls.feeInterval.hasError('required')">
                <span [innerHTML]="'modulo.validations.frequencyintervalrequired' | translate">Frequency Interval is <strong>required</strong></span>
              </mat-error>
              <mat-error *ngIf="chargeForm.controls.feeInterval.hasError('pattern')">
                <span [innerHTML]="'modulo.validations.frequencyintervalpositive' | translate">
                  Frequency Interval <strong>must be a positive integer</strong></span>
              </mat-error>
            </mat-form-field>

            <mat-form-field (click)="dueDatePicker.open()" *ngIf="chargeForm.controls.chargeTimeType.value === 6 || chargeForm.controls.chargeTimeType.value === 7" fxFlex="48%">
              <mat-label><span [translate]="'modulo.labels.duedate'">Due Date</span></mat-label>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dueDatePicker" required formControlName="feeOnMonthDay">
              <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #dueDatePicker></mat-datepicker>
              <mat-error *ngIf="chargeForm.controls.feeOnMonthDay.hasError('required')">
                <span [innerHTML]="'modulo.validations.duedaterequired' | translate">Due Date is <strong>required</strong></span>
              </mat-error>
            </mat-form-field>
<!--DEUDA-->
            <mat-form-field fxFlex="48%" *ngIf="chargeForm.controls.chargeTimeType.value === 7 || chargeForm.controls.chargeTimeType.value === 11">
              <mat-label><span [translate]="'modulo.labels.repeatevery'">Repeat Every</span> ({{ repeatEveryLabel }})</mat-label>
              <input matInput required formControlName="feeInterval">
              <mat-error *ngIf="chargeForm.controls.feeInterval.hasError('required')">
                Repeat Every ({{ repeatEveryLabel }}) is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="(chargeForm.controls.feeInterval.hasError('min') || chargeForm.controls.feeInterval.hasError('max')) && !chargeForm.controls.feeInterval.hasError('pattern')">
                Repeat Every ({{ repeatEveryLabel }}) <strong>must be between 1 and 12</strong>
              </mat-error>
              <mat-error *ngIf="chargeForm.controls.feeInterval.hasError('pattern')">
                Repeat Every ({{ repeatEveryLabel }}) <strong>must be a positive integer</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="48%">
              <mat-label><span [translate]="'modulo.labels.amount'">Amount</span></mat-label>
              <input matInput required formControlName="amount">
              <mat-error *ngIf="chargeForm.controls.amount.hasError('required')">
                <span [innerHTML]="'modulo.validations.amountrequired' | translate">
                  Amount is <strong>required</strong></span>
              </mat-error>
              <mat-error *ngIf="chargeForm.controls.amount.hasError('pattern') && currencyDecimalPlaces !== undefined">
                Amount must be <strong>a positive number with {{ currencyDecimalPlaces ? 'up to ' + currencyDecimalPlaces : 'no' }} decimal places</strong>
              </mat-error>
              <mat-error *ngIf="chargeForm.controls.amount.hasError('pattern') && currencyDecimalPlaces === undefined">
                <span [innerHTML]="'modulo.validations.amountpositive' | translate">
                  Amount must be <strong>a positive number</strong></span>
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="48%">
              <mat-label><span [translate]="'modulo.labels.minchargecap'">Minimum Charge Cap</span></mat-label>
              <input matInput formControlName="minCap">
            </mat-form-field>

            <mat-form-field fxFlex="48%">
              <mat-label><span [translate]="'modulo.labels.maxchargecap'">Maximum Charge Cap</span></mat-label>
              <input matInput formControlName="maxCap">
            </mat-form-field>

            <div fxFlex="48%" fxLayout="row" fxLayoutGap="2%" fxLayout.lt-md="column">
              <div fxFlex="50%" class="active-wrapper">
                <mat-checkbox labelPosition="before" formControlName="active">
                  <span [translate]="'modulo.labels.active'">Active</span>
                </mat-checkbox>
              </div>

              <div fxFlex="50%" class="penalty-wrapper">
                <mat-checkbox labelPosition="before" formControlName="penalty">
                  <span [translate]="'modulo.labels.ispenalty'">Is Penalty</span>
                </mat-checkbox>
              </div>
            </div>

            <mat-form-field *ngIf="chargeForm.controls.chargeAppliesTo.value === 3" fxFlex="48%">
              <mat-label><span [translate]="'modulo.labels.incomefromcharge'">Income from Charge</span> </mat-label>
              <mat-select formControlName="incomeAccountId">
                <mat-option *ngFor="let incomeOrLiabilityAccount of incomeAndLiabilityAccountData" [value]="incomeOrLiabilityAccount.id">
                  {{ incomeOrLiabilityAccount.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>  

            <mat-form-field fxFlex="48%">
              <mat-label><span [translate]="'modulo.labels.taxgroup'">Tax Group</span></mat-label>
              <mat-select formControlName="taxGroupId">
                <mat-option *ngFor="let taxGroup of chargesTemplateData.taxGroupOptions" [value]="taxGroup.id">
                  {{ taxGroup.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">
          <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
        <button mat-raised-button color="primary" [disabled]="!chargeForm.valid" *mifosxHasPermission="'CREATE_CHARGE'">
          <span [translate]="'labels.buttons.Submit'">Submit</span></button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
