<div class="container">

  <mat-card>

    <form [formGroup]="holidayForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.name'">Name</span></mat-label>
            <input matInput required autofocus formControlName="name">
            <mat-error *ngIf="holidayForm.controls.name.hasError('required')">
              <span [innerHTML]="'modulo.validations.namerequired' | translate">
                Name <strong>is required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field (click)="fromDatePicker.open()">
            <mat-label><span [translate]="'modulo.labels.fromdate'">From Date</span></mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="fromDatePicker" required formControlName="fromDate">
            <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #fromDatePicker></mat-datepicker>
            <mat-error *ngIf="holidayForm.controls.fromDate.hasError('required')">
              <span [innerHTML]="'modulo.validations.fromdaterequired' | translate">
                From Date <strong>is required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field (click)="toDatePicker.open()">
            <mat-label><span [translate]="'modulo.labels.todate'">To Date</span></mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="toDatePicker" required formControlName="toDate">
            <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #toDatePicker></mat-datepicker>
            <mat-error *ngIf="holidayForm.controls.toDate.hasError('required')">
              <span [innerHTML]="'modulo.validations.todaterequired' | translate">
                To Date <strong>is required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.repaymentschedulingtype'">Repayment Scheduling Type</span></mat-label>
            <mat-select required formControlName="reschedulingType">
              <mat-option *ngFor="let repayments of repaymentSchedulingTypes" [value]="repayments.id">
                {{ repayments.value }} 
              </mat-option>
            </mat-select>
            <mat-error *ngIf="holidayForm.controls.reschedulingType.hasError('required')">
              <span [innerHTML]="'modulo.validations.repaymentshedulingtyperequired' | translate">
                Repayment Scheduling Type is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="holidayForm.contains('repaymentsRescheduledTo')" (click)="repaymentDatePicker.open()">
            <mat-label><span [translate]="'modulo.labels.repaymentscheduledto'">Repayment scheduled to</span></mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="repaymentDatePicker" required formControlName="repaymentsRescheduledTo">
            <mat-datepicker-toggle matSuffix [for]="repaymentDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #repaymentDatePicker></mat-datepicker>
            <mat-error *ngIf="holidayForm.controls.repaymentsRescheduledTo.hasError('required')">
              <span [innerHTML]="'modulo.validations.repaymentscheduledtorequired' | translate">
                Repayment Scheduled To <strong>is required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.description'">Description</span></mat-label>
            <input matInput formControlName="description">
          </mat-form-field>   
          
          <label><span [translate]="'modulo.labels.selectapplicableoffices'">Select applicable offices</span></label>

          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
              <button mat-icon-button disabled></button>
              <mat-checkbox class="checklist-leaf-node"
                            [checked]="checklistSelection.isSelected(node)"
                            (change)="officeLeafItemSelectionToggle(node);">{{officesDict[node.item].name}}</mat-checkbox>
            </mat-tree-node>

            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
              <button type="button" mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.filename">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <mat-checkbox [checked]="descendantsAllSelected(node)"
                            (change)="officeItemSelectionToggle(node)">{{ officesDict[node.item].name }}</mat-checkbox>
            </mat-tree-node>
          </mat-tree>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">
          <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
        <button mat-raised-button color="primary" [disabled]="!holidayForm.valid" *mifosxHasPermission="'CREATE_HOLIDAY'">
          <span [translate]="'labels.buttons.Submit'">Submit</span></button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
