<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *mifosxHasPermission="'UPDATE_ADHOC'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Edit'">Edit</span>
  </button>
  <button mat-raised-button color="warn" (click)="deleteAdhocQuery()" *mifosxHasPermission="'DELETE_ADHOC'">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Delete'">Delete</span>
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.name'">Name</span>
        </div>

        <div fxFlex="50%">
          {{ adhocQueryData.name }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.query'">Query</span>
        </div>

        <div fxFlex="50%">
          {{ adhocQueryData.query }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.tableaffected'">Table Affected</span>
        </div>

        <div fxFlex="50%">
          {{ adhocQueryData.tableName }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="adhocQueryData.reportRunFrequency">
         <span [translate]="'modulo.labels.reportrunfrequency'"> Report Run Frequency</span>
        </div>

        <div fxFlex="50%" *ngIf="adhocQueryData.reportRunFrequency">
          {{ reportRunFrequency }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
         <span [translate]="'modulo.labels.status'"> Status</span>
        </div>

        <div fxFlex="50%">
          {{ adhocQueryData.isActive === true ? 'Active' : 'Inactive' }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.createdby'">Created By</span>
        </div>

        <div fxFlex="50%">
          {{ adhocQueryData.createdBy }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
