<h1 mat-dialog-title> <span [translate]="'modulo.loans.titles.addcollateral'">Add Loan Collateral</span></h1>

<div mat-dialog-content [formGroup]="addCollateralForm" fxLayout="column">

  <mat-form-field>
    <mat-label><span [translate]="'modulo.loans.labels.collateral'">Collateral</span></mat-label>
    <mat-select formControlName="collateral" required>
      <mat-option *ngFor="let collateralType of collateralTypeData" [value]="collateralType" >
        {{ collateralType.name }}
      </mat-option>
    </mat-select>
    <mat-error>
      <span [innerHTML]="'modulo.validation.requiredCollateral' | translate">
        Collateral is <strong>required</strong>
      </span>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label><span [translate]="'modulo.loans.labels.quantity'">Quantity</span></mat-label>
    <input type="number" [max]="maxQuantity" [min]="0" matInput formControlName="quantity" required>
    <mat-error *ngIf="addCollateralForm.controls.quantity.hasError('required')">
      <span [innerHTML]="'modulo.validation.requiredQuantity' | translate">
        Quantity is <strong>required</strong>
        </span>
    </mat-error>
    <mat-error *ngIf="addCollateralForm.controls.quantity.hasError('max')">
      <span [innerHTML]="'modulo.validation.maxQuantity' | translate" [translateParams]="{maxQuantity: maxQuantity}">
        Quantity can not be more than <strong>{{ maxQuantity }}</strong>
      </span>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label><span [translate]="'modulo.loans.labels.totalValue'">Total Value</span></mat-label>
    <input type="text" matInput formControlName="totalValue" [disabled]="true">
  </mat-form-field>

  <mat-form-field>
    <mat-label><span [translate]="'modulo.loans.labels.totalCollateral'">Total Collateral Value</span></mat-label>
    <input type="text" matInput formControlName="totalCollateralValue" [disabled]="true">
  </mat-form-field>

</div>

<mat-dialog-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
  <button mat-raised-button mat-dialog-close><span [translate]="'labels.buttons.Cancel'"> Cancel </span></button>
  <button mat-raised-button color="primary" [mat-dialog-close]="{ data: addCollateralForm }"
    [disabled]="!addCollateralForm.valid || addCollateralForm.pristine">{{ layout.addButtonText }}</button>
</mat-dialog-actions>
