<div fxLayout="row wrap" fxLayout.lt-md="column">

  <a mat-button (click)="showRepaymentInfo()">
    <span [translate]="'modulo.labels.repaymentinfo'">Repayment Info</span>
  </a>

  <mifosx-repayment-schedule-tab fxFlex="100%" [repaymentScheduleDetails]="repaymentScheduleDetails"></mifosx-repayment-schedule-tab>

</div>

<div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
  <button mat-raised-button matStepperPrevious>
    <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Previous'">Previous</span>
  </button>
  <button mat-raised-button matStepperNext>
    <span [translate]="'labels.buttons.Next'">Next</span>&nbsp;&nbsp;
    <fa-icon icon="arrow-right"></fa-icon>
  </button>
  <button mat-raised-button *ngIf="loanId" [routerLink]="['../', 'general']">
    <span [translate]="'labels.buttons.Cancel'">Cancel</span>
  </button>
</div>
