<div class="container m-b-20" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">

  <button mat-raised-button color="primary" [routerLink]="['edit']" *mifosxHasPermission="'UPDATE_HOOK'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Edit'">Edit</span>
  </button>

  <button mat-raised-button color="warn" (click)="delete()" *mifosxHasPermission="'DELETE_HOOK'">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Delete'">Delete</span>
  </button>

</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.hookname'">Hook Name</span>:
        </div>

        <div fxFlex="50%">
          {{ hookData.displayName }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.status'">Status</span>:
        </div>

        <div fxFlex="50%">
          {{ (hookData.isActive ? 'modulo.labels.active' : 'modulo.labels.inactive') }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.activationdate'">Activation Date</span>:
        </div>

        <div fxFlex="50%">
          {{ hookData.createdAt  | dateFormat }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.updatedon'">Updated on</span>:
        </div>

        <div fxFlex="50%">
          {{ hookData.updatedAt  | dateFormat }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
         <span [translate]="'modulo.labels.events'"> Events</span>:
        </div>

        <div fxFlex="50%">

          <mat-label *ngFor="let event of hookData.events">

            {{ event.actionName + '  -  ' + event.entityName }}

            <br>

          </mat-label>

        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="hookData.name === 'Web'">
          <span [translate]="'modulo.labels.contenttype'">Content Type</span>:
        </div>

        <div fxFlex="50%" *ngIf="hookData.name === 'Web'">
          {{ hookData.config[0].fieldValue }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.payloadurl'">Payload URL</span>:
        </div>

        <div fxFlex="50%" *ngIf="hookData.name === 'Web'">
          {{ hookData.config[1].fieldValue }}
        </div>

        <div fxFlex="50%" *ngIf="hookData.name === 'SMS Bridge'">
          {{ hookData.config[0].fieldValue }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="hookData.name === 'SMS Bridge'">
          <span [translate]="'modulo.labels.phonenumber'">Phone Number</span>:
        </div>

        <div fxFlex="50%" *ngIf="hookData.name === 'SMS Bridge'">
          {{ hookData.config[1].fieldValue }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="hookData.name === 'SMS Bridge'">
          <span [translate]="'modulo.labels.smsprovider'">SMS Provider</span>:
        </div>

        <div fxFlex="50%" *ngIf="hookData.name === 'SMS Bridge'">
          {{ hookData.config[2].fieldValue }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="hookData.name === 'SMS Bridge'">
          <span [translate]="'modulo.labels.smsprovideraccountid'">SMS Provider Account ID</span>:
        </div>

        <div fxFlex="50%" *ngIf="hookData.name === 'SMS Bridge'">
          {{ hookData.config[3].fieldValue }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="hookData.name === 'SMS Bridge'">
          <span [translate]="'modulo.labels.smsprovidertoken'">SMS Provider Token</span>:
        </div>

        <div fxFlex="50%" *ngIf="hookData.name === 'SMS Bridge'">
          {{ hookData.config[4].fieldValue }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
