<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="1%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="success" (click)="approveChecker()">
    <fa-icon icon="check"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Approve'">Approve</span>
  </button>
  <button mat-raised-button color="warn" (click)="deleteChecker()">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Delete'">Delete</span>
  </button>
  <button mat-raised-button color="reject" (click)="rejectChecker()">
    <fa-icon icon="times"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Reject'">Reject</span>
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" fxLayout.lt-md="column">

        <h2 class="mat-h2" fxFlexFill><span [translate]="'modulo.labels.viewcheckerinbox'"> View Checker Inbox </span></h2>

        <mat-divider [inset]="true"></mat-divider>

        <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.details'">Details</span></h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.id'">ID</span>:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.id }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.status'">Status</span>:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.processingResult }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.user'">User</span>:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.maker }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.action'">Action</span>:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.actionName }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.entity'">Entity</span>:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.entityName }}</span>
        </div>

        <div fxFlexFill *ngIf="checkerInboxDetail.resourceId">
          <span fxFlex="40%"><span [translate]="'modulo.labels.resourceid'">Resource ID</span>:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.resourceId }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.date'">Date</span>:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.madeOnDate  | dateFormat}}</span>
        </div>

        <div fxFlexFill *ngIf="checkerInboxDetail.officeName">
          <span fxFlex="40%"><span [translate]="'modulo.labels.office'">Office</span>:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.officeName }}</span>
        </div>

        <div fxFlexFill *ngIf="checkerInboxDetail.savingsAccountNo">
          <span fxFlex="40%"><span [translate]="'modulo.labels.savingsaccountnumber'">Savings Account Number</span>:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.savingsAccountNo }}</span>
        </div>

        <div fxFlexFill *ngIf="checkerInboxDetail.groupLevelName">
          <span fxFlex="40%"> {{ checkerInboxDetail.groupLevelName }}</span>
          <span fxFlex="60%">{{ checkerInboxDetail.groupName }}</span>
        </div>

        <ng-container *ngIf="displayJSONData">

          <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.command'">Command</span></h3>

          <mat-divider [inset]="true"></mat-divider>

          <ng-container *ngFor="let json of jsondata | keyvalue">

          <div fxFlexFill>
            <span fxFlex="40%">{{ json.key }}:</span>
            <span fxFlex="60%">{{ json.value }}</span>
          </div>

        </ng-container>

        </ng-container>

      </div>

    </mat-card-content>

  </mat-card>

</div>
