<form [formGroup]="sharesAccountTermsForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="start center">

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.currency'">Currency</span></mat-label>
      <input matInput formControlName="currencyCode">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.decimalplaces'">Decimal Places</span></mat-label>
      <input type="number" matInput formControlName="decimal">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.totalnumbershares'">Total Number of Shares</span></mat-label>
      <input type="number" matInput formControlName="requestedShares" required>
      <mat-error>
        <span [innerHTML]="'modulo.validations.totalnumbersharesrequired' | translate">Total Number of Shares is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.todayprice'">Today's Price</span></mat-label>
      <input type="number" matInput formControlName="unitPrice">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.currencymultiplesof'">Currency in multiples of</span></mat-label>
      <input type="number" matInput formControlName="currencyMultiple" >
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.defaultsavingsaccount'">Default Savings Account</span></mat-label>
      <mat-select formControlName="savingsAccountId" required>
        <mat-option *ngFor="let account of savingsAccountsData" [value]="account.id">
          {{ account.accountNo }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span [innerHTML]="'modulo.validations.defaultsavingsaccountrequired' | translate">Default Savings Account is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%" (click)="applicationDatePicker.open()">
      <mat-label><span [translate]="'modulo.labels.applicationdate'">Application Date</span></mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="applicationDatePicker" 
        formControlName="applicationDate" required>
      <mat-datepicker-toggle matSuffix [for]="applicationDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #applicationDatePicker></mat-datepicker>
      <mat-error>
        <span [innerHTML]="'modulo.validations.applicationdaterequired' | translate">Application Date is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-checkbox labelPosition="before" formControlName="allowDividendCalculationForInactiveClients" fxFlex="48%">
      <span [translate]="'modulo.labels.allowdividendsinactiveclients'">Allow dividends for inactive clients</span>
    </mat-checkbox>

    <h4 fxFlex="98%" class="mat-h4"><span [translate]="'modulo.labels.minactiveperiod'">Minimum Active Period</span></h4>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.frequency'">Frequency</span></mat-label>
      <input type="number" matInput formControlName="minimumActivePeriod">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.type'">Type</span></mat-label>
      <mat-select formControlName="minimumActivePeriodFrequencyType">
        <mat-option *ngFor="let minimumActivePeriodFrequencyType of minimumActivePeriodFrequencyTypeData" [value]="minimumActivePeriodFrequencyType.id">
          {{ minimumActivePeriodFrequencyType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4"><span [translate]="'modulo.labels.lockinperiod'">Lock-in Period</span></h4>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.frequency'">Frequency</span></mat-label>
      <input type="number" matInput formControlName="lockinPeriodFrequency">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.type'">Type</span></mat-label>
      <mat-select formControlName="lockinPeriodFrequencyType">
        <mat-option *ngFor="let lockinPeriodFrequencyType of lockinPeriodFrequencyTypeData" [value]="lockinPeriodFrequencyType.id">
          {{ lockinPeriodFrequencyType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious disabled>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      <span [translate]="'labels.buttons.Previous'">Previous</span>
    </button>
    <button mat-raised-button matStepperNext>
      <span [translate]="'labels.buttons.Next'">Next</span>&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
