<p [translate]="'modulo.login.description'">Please update your password:</p>

<mat-divider></mat-divider>

<form fxLayout="column" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" id="reset-password-form">

  <mat-form-field fxFlexAlign="center" class="reset-password-input">
    <span matPrefix>
      <fa-icon icon="lock" size="lg"></fa-icon>&nbsp;&nbsp;
    </span>
    <mat-label [translate]="'modulo.login.password'">Password</mat-label>
    <input type="{{ passwordInputType }}" matInput required formControlName="password">
    <button mat-button *ngIf="resetPasswordForm.controls.password.value && !loading" matSuffix mat-icon-button
      (mousedown)="passwordInputType = 'text'" (mouseup)="passwordInputType = 'password'">
      <fa-icon *ngIf="passwordInputType === 'password'" icon="eye"></fa-icon>
      <fa-icon *ngIf="passwordInputType === 'text'" icon="eye-slash"></fa-icon>
    </button>
    <mat-error *ngIf="resetPasswordForm.controls.password.hasError('required')">
      <span [innerHTML]="'modulo.validation.required' | translate">  Password is <strong>required</strong></span>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlexAlign="center" class="reset-password-input">
    <span matPrefix>
      <fa-icon icon="check-circle" size="lg"></fa-icon>&nbsp;&nbsp;
    </span>
    <mat-label [translate]="'modulo.login.confirmpassword'">Confirm Password</mat-label>
    <input type="password" matInput required formControlName="repeatPassword">
    <mat-error *ngIf="resetPasswordForm.controls.repeatPassword.hasError('required')">
      <span [innerHTML]="'modulo.validation.required' | translate">  Password is <strong>required</strong></span>
    </mat-error>
  </mat-form-field>

  <p class="reset-password-error" *ngIf="resetPasswordForm.errors?.passwordsDoNotMatch &&
    (!resetPasswordForm.controls.password.hasError('required') && !resetPasswordForm.controls.repeatPassword.hasError('required'))">
    <span [innerHTML]="'modulo.validation.passwordnomatch' | translate">Passwords <strong>do not match</strong></span>
  </p>

  <button mat-raised-button color="primary" fxFlexAlign="center" class="reset-password-button" [disabled]="!resetPasswordForm.valid">
    <span [translate]="'modulo.login.resetpassword'"> Reset Password </span>
    <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
  </button>

</form>
