<div class="container">

  <mat-card>

    <form [formGroup]="createStandingInstructionsForm">

      <mat-card-content>

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.name'">Name</span></mat-label>
            <input matInput required formControlName="name">
            <mat-error *ngIf="createStandingInstructionsForm.controls.name.hasError('required')">
              <span [innerHTML]="'modulo.validations.namerequired' | translate">Name is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.applicant'">Applicant</span></mat-label>
            <input matInput formControlName="applicant">
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.type'">Type</span></mat-label>
            <mat-select required formControlName="transferType" (selectionChange)="changeEvent()">
              <mat-option *ngFor="let transferType of transferTypeData" [value]="transferType.id">
                {{ transferType.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createStandingInstructionsForm.controls.transferType.hasError('required')">
              <span [innerHTML]="'modulo.validations.transfertyperequired' | translate">Transfer Type is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.priority'">Priority</span></mat-label>
            <mat-select required formControlName="priority">
              <mat-option *ngFor="let priorityType of priorityTypeData" [value]="priorityType.id">
                {{ priorityType.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createStandingInstructionsForm.controls.priority.hasError('required')">
              <span [innerHTML]="'modulo.validations.priorityrequired' | translate">Priority is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.status'">Status</span></mat-label>
            <mat-select required formControlName="status">
              <mat-option *ngFor="let statusType of statusTypeData" [value]="statusType.id">
                {{ statusType.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createStandingInstructionsForm.controls.status.hasError('required')">
              <span [innerHTML]="'modulo.validations.statusrequired' | translate">Status is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.fromaccounttype'">From Account Type</span></mat-label>
            <mat-select required formControlName="fromAccountType" (selectionChange)="changeEvent()">
              <mat-option *ngFor="let fromAccountType of fromAccountTypeData" [value]="fromAccountType.id">
                {{ fromAccountType.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createStandingInstructionsForm.controls.fromAccountType.hasError('required')">
              <span [innerHTML]="'modulo.validations.fromaccountyperequired' | translate">From Account Type is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.fromaccount'">From Account</span></mat-label>
            <mat-select required formControlName="fromAccountId" (selectionChange)="changeEvent()">
              <mat-option *ngFor="let fromAccount of fromAccountData" [value]="fromAccount.id">
                {{ fromAccount.productName }} - {{ fromAccount.accountNo }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createStandingInstructionsForm.controls.fromAccountId.hasError('required')">
              <span [innerHTML]="'modulo.validations.fromaccountrequired' | translate">From Account is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.destination'">Destination</span></mat-label>
            <mat-select required formControlName="destination">
              <mat-option *ngFor="let destinationType of destinationTypeData" [value]="destinationType.id">
                {{ destinationType.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createStandingInstructionsForm.controls.destination.hasError('required')">
              <span [innerHTML]="'modulo.validations.destinationrequired' | translate">Destination is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.tooffice'">To Office</span></mat-label>
            <mat-select required formControlName="toOfficeId" (selectionChange)="changeEvent()">
              <mat-option *ngFor="let toOfficeType of toOfficeTypeData" [value]="toOfficeType.id">
                {{ toOfficeType.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createStandingInstructionsForm.controls.toOfficeId.hasError('required')">
              <span [innerHTML]="'modulo.validations.toofficerequired' | translate">To Office is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.beneficiary'">Beneficiary</span></mat-label>
            <mat-select required formControlName="toClientId" (selectionChange)="changeEvent()">
              <mat-option *ngFor="let toClientType of toClientTypeData" [value]="toClientType.id">
                {{ toClientType.displayName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createStandingInstructionsForm.controls.toClientId.hasError('required')">
              <span [innerHTML]="'modulo.validations.beneficiaryrequired' | translate">Beneficiary is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.toaccounttype'">To Account Type</span></mat-label>
            <mat-select required formControlName="toAccountType" (selectionChange)="changeEvent()">
              <mat-option *ngFor="let toAccountType of toAccountTypeData" [value]="toAccountType.id">
                {{ toAccountType.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createStandingInstructionsForm.controls.toAccountType.hasError('required')">
              <span [innerHTML]="'modulo.validations.toaccounttyperequired' | translate">To Account Type is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.toaccount'">To Account</span></mat-label>
            <mat-select required formControlName="toAccountId" (selectionChange)="changeEvent()">
              <mat-option *ngFor="let toAccount of toAccountData" [value]="toAccount.id">
                {{ toAccount.productName }} - {{ toAccount.accountNo }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createStandingInstructionsForm.controls.toAccountId.hasError('required')">
              <span [innerHTML]="'modulo.validations.toaccountrequired' | translate">To Account is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.standinginsttype'">Standing Instruction Type</span></mat-label>
            <mat-select formControlName="instructionType">
              <mat-option *ngFor="let instructionsType of instructionTypeData" [value]="instructionsType.id">
                {{ instructionsType.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createStandingInstructionsForm.controls.instructionType.hasError('required')">
              <span [innerHTML]="'modulo.validations.standinginsttyperequired' | translate">Standing Instruction Type is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.amount'">Amount</span></mat-label>
            <input type="number" matInput required formControlName="amount">
            <mat-error *ngIf="createStandingInstructionsForm.controls.amount.hasError('required')">
              <span [innerHTML]="'modulo.validations.amountrequired' | translate">Amount is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%" (click)="validFromDatePicker.open()">
            <mat-label><span [translate]="'modulo.labels.validityfrom'">Validity From</span></mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="validFromDatePicker" required
              formControlName="validFrom">
            <mat-datepicker-toggle matSuffix [for]="validFromDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #validFromDatePicker></mat-datepicker>
            <mat-error *ngIf="createStandingInstructionsForm.controls.validFrom.hasError('required')">
              <span [innerHTML]="'modulo.validations.validityfromrequired' | translate">Valid From Date is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%"  (click)="validTillDatePicker.open()">
            <mat-label><span [translate]="'modulo.labels.validityto'">Validity To</span></mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="validTillDatePicker" required
              formControlName="validTill">
            <mat-datepicker-toggle matSuffix [for]="validTillDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #validTillDatePicker></mat-datepicker>
            <mat-error *ngIf="createStandingInstructionsForm.controls.validTill.hasError('required')">
              <span [innerHTML]="'modulo.validations.validitytorequired' | translate">Valid Till Date is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.recurrencetype'">Recurrence Type</span></mat-label>
            <mat-select required formControlName="recurrenceType">
              <mat-option *ngFor="let recurrenceType of recurrenceTypeData" [value]="recurrenceType.id">
                {{ recurrenceType.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createStandingInstructionsForm.controls.recurrenceType.hasError('required')">
              <span [innerHTML]="'modulo.validations.recurrencetyperequired' | translate">Recurrence Type is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.interval'">Interval</span></mat-label>
            <input type="number" matInput required formControlName="recurrenceInterval">
            <mat-error *ngIf="createStandingInstructionsForm.controls.recurrenceInterval.hasError('required')">
              <span [innerHTML]="'modulo.validations.intervalrequired' | translate">Recurrence Interval is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.recurrencefrecuency'">Recurrence Frequency</span></mat-label>
            <mat-select required formControlName="recurrenceFrequency">
              <mat-option *ngFor="let recurrenceFrequencyType of recurrenceFrequencyTypeData"
                [value]="recurrenceFrequencyType.id">
                {{ recurrenceFrequencyType.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createStandingInstructionsForm.controls.recurrenceFrequency.hasError('required')">
              <span [innerHTML]="'modulo.validations.recurrencefrecuencyrequired' | translate">Recurrence Frequency is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%"  (click)="recurrenceOnMonthDayDatePicker.open()">
            <mat-label><span [translate]="'modulo.labels.onmonthday'">On Month Day</span></mat-label>
            <input required matInput [min]="minDate" [max]="maxDate" [matDatepicker]="recurrenceOnMonthDayDatePicker"
              formControlName="recurrenceOnMonthDay">
            <mat-datepicker-toggle matSuffix [for]="recurrenceOnMonthDayDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #recurrenceOnMonthDayDatePicker></mat-datepicker>
            <mat-error *ngIf="createStandingInstructionsForm.controls.recurrenceOnMonthDay.hasError('required')">
              <span [innerHTML]="'modulo.validations.onmonthdayrequired' | translate">On Month Day is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">
          <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
        <button mat-raised-button color="primary" [disabled]="!createStandingInstructionsForm.valid" *mifosxHasPermission="'CREATE_STANDINGINSTRUCTION'"
          (click)="submit()">
          <span [translate]="'labels.buttons.Submit'">Submit</span></button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
