<h1 mat-dialog-title><span [translate]="'modulo.labels.waivecharge'">Waive Charge</span></h1>
<div mat-dialog-content>
  <p><span [translate]="'modulo.labels.arewantwaivecharge'" [translateParams]="{ id: data.id }">
    Are you sure you want to waive charge with id: {{ data.id }} ?</span></p>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close><span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
  <button mat-raised-button color="primary" [mat-dialog-close]="{ confirm: true }">
    <span [translate]="'labels.buttons.Confirm'">Confirm</span></button>
</mat-dialog-actions>
