<div class="container">

  <mat-card>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item *mifosxHasPermission="'CREATE_JOURNALENTRY'" [routerLink]="['journal-entries/frequent-postings']">
            <mat-icon matListIcon>
              <fa-icon icon="sync" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine> <span [translate]="'modulo.labels.frequentposting'">Frequent Postings</span></h4>
            <p matLine><span [translate]="'modulo.description.frequentposting'">These are predefined postings</span></p>
          </mat-list-item>

          <div #createJournalEntries>
            <mat-list-item *mifosxHasPermission="'CREATE_JOURNALENTRY'" [routerLink]="['journal-entries/create']">
              <mat-icon matListIcon>
                <fa-icon icon="plus" size="sm"></fa-icon>
              </mat-icon>
              <h4 matLine><span [translate]="'modulo.labels.createjournal'">Create Journal Entries</span></h4>
              <p matLine>
                <span [translate]="'modulo.description.createjournal'">
                  Manual journal entry transactions recorded in a journal</span></p>
            </mat-list-item>
          </div>

          <mat-list-item *mifosxHasPermission="'READ_JOURNALENTRY'" [routerLink]="['journal-entries']">
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.searchjournal'">Search Journal Entries</span></h4>
            <p matLine><span [translate]="'modulo.description.searchjournal'">Advanced search option for journal entries</span></p>
          </mat-list-item>

          <div #accountsLinked>
            <mat-list-item *mifosxHasPermission="'READ_FINANCIALACTIVITYACCOUNT'" [routerLink]="['financial-activity-mappings']">
              <mat-icon matListIcon>
                <fa-icon icon="link" size="sm"></fa-icon>
              </mat-icon>
              <h4 matLine><span [translate]="'modulo.labels.accountlinkedactivities'">Accounts Linked to Financial Activities</span></h4>
              <p matLine>
                <span [translate]="'modulo.description.listfinacialactivities'">List of Financial Activities and GL Account Mappings</span></p>
            </mat-list-item>
          </div>

          <div #migrateOpeningBalances>
            <mat-list-item *mifosxHasPermission="'READ_JOURNALENTRY'" [routerLink]="['migrate-opening-balances']">
              <mat-icon matListIcon>
                <fa-icon icon="hand-holding-usd" size="sm"></fa-icon>
              </mat-icon>
              <h4 matLine>
                <span [translate]="'modulo.labels.migratebalances'">Migrate Opening Balances (Office-wise)</span></h4>
              <p matLine>
                <span [translate]="'modulo.description.migratebalances'">Set or update office-level opening balances for GL accounts</span></p>
            </mat-list-item>
          </div>

        </mat-nav-list>

      </div>

      <div fxFlex="50%">

        <mat-nav-list>

          <div #chartofAccounts>
            <mat-list-item *mifosxHasPermission="'READ_GLACCOUNT'" [routerLink]="['chart-of-accounts']">
              <mat-icon matListIcon>
                <fa-icon icon="sitemap" size="sm"></fa-icon>
              </mat-icon>
              <h4 matLine><span [translate]="'modulo.labels.chartaccounts'">Chart of Accounts</span></h4>
              <p matLine>
                <span [translate]="'modulo.description.chartaccounts'">List of accounts used by the organization</span></p>
            </mat-list-item>
          </div>

          <div #closingEntries>
            <mat-list-item *mifosxHasPermission="'READ_GLCLOSURE'" [routerLink]="['closing-entries']">
              <mat-icon matListIcon>
                <fa-icon icon="archive" size="sm"></fa-icon>
              </mat-icon>
              <h4 matLine><span [translate]="'modulo.labels.closingentries'">Closing Entries</span></h4>
              <p matLine><span [translate]="'modulo.description.closingentries'">
                Journal entries made at the end of accounting period</span></p>
            </mat-list-item>
          </div>

          <mat-list-item *mifosxHasPermission="'READ_ACCOUNTINGRULE'" [routerLink]="['accounting-rules']">
            <mat-icon matListIcon>
              <fa-icon icon="list" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.accountingrules'">Accounting Rules</span></h4>
            <p matLine><span [translate]="'modulo.description.accountingrules'">List of all accounting rules</span></p>
          </mat-list-item>

          <mat-list-item *mifosxHasPermission="'EXECUTE_PERIODICACCRUALACCOUNTING'" [routerLink]="['periodic-accruals']">
            <mat-icon matListIcon>
              <fa-icon icon="calendar" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.accruals'">Accruals</span></h4>
            <p matLine>
              <span [translate]="'modulo.description.accruals'">Accrues income, expenses and liabilities as on the provided date</span></p>
          </mat-list-item>

          <mat-list-item *mifosxHasPermission="'VIEW_PROVISIONING_ENTRIES'" [routerLink]="['provisioning-entries']">
            <mat-icon matListIcon>
              <fa-icon icon="cogs" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.provisioningentries'">Provisioning Entries</span></h4>
            <p matLine><span [translate]="'modulo.description.provisioningentries'">Create provisioning entries</span></p>
          </mat-list-item>

        </mat-nav-list>

      </div>

    </div>

  </mat-card>

</div>

<ng-template #templateChartofAccounts let-popover="popover">
  <h2><span [translate]="'modulo.labels.chartaccounts'">Chart of Accounts</span></h2>
  <p class="mw300">
    <span [translate]="'modulo.description.chartaccount'">
      The Chart of Accounts - General Ledger Setup allows you to organize your different accounts within Mifos X.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepChartofAccounts()">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepChartofAccounts()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateAccountsLinked let-popover="popover">
  <h2><span [translate]="'modulo.labels.accountlinkedactivities'">Accounts linked to Financial Activities</span></h2>
  <p class="mw400">
    <span [translate]="'modulo.description.accountlinkedactivities'">
      Accounts linked to Financial Activities are mapped accounts which are needed to do system generating accounting transaction.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepAccountsLinked()">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepAccountsLinked()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateMigrateOpeningBalances let-popover="popover">
  <h2><span [translate]="'modulo.labels.migratebalances'">Migrate opening balances (Office-wise)</span></h2>
  <p class="mw400">
    <span [translate]="'modulo.description.makeeasierorganization'">
      This makes it easier for an organization wanting to move to Mifos to transfer GL account balances (from their existing accounting application or manual system) to Mifos X Accounting.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepMigrateOpeningBalances()">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepMigrateOpeningBalances()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateClosingEntries let-popover="popover">
  <h2><span [translate]="'modulo.labels.closingentries'">Closing Entries</span></h2>
  <p class="mw300">
    <span [translate]="'modulo.description.canclosejournal'">In Mifos X, you can close accounting to journal entries. Closures can be applied to all branches or to each branch separately. It is important for organizations to close accounting periodically to prevent transactions that affect the accounting books.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepClosingEntries()">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepClosingEntries()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateCreateJournalEntries let-popover="popover">
  <h2><span [translate]="'modulo.labels.createjournal'">Create Journal Entries</span></h2>
  <p class="mw300">
    <span [translate]="'modulo.description.journalessentially'">
      Journal Entries are essentially logs of all the transactions in your organization that have accounting implications.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepCreateJournalEntries()">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepCreateJournalEntries()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>
