<form [formGroup]="loanProductTermsForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <h4 fxFlex="98%" class="mat-h4"><span [translate]="'modulo.labels.principal'">Principal</span></h4>

    <mat-form-field fxFlex="31%">
      <mat-label><span [translate]="'modulo.labels.minimum'">Minimum</span></mat-label>
      <input type="number" matInput formControlName="minPrincipal">
    </mat-form-field>

    <mat-form-field fxFlex="31%">
      <mat-label><span [translate]="'modulo.labels.default'">Default</span></mat-label>
      <input type="number" matInput formControlName="principal" required>
      <mat-error>
        <span [innerHTML]="'modulo.validations.defaulprincipaltrequired' | translate">Default Principal is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="31%">
      <mat-label><span [translate]="'modulo.labels.maximum'">Maximum</span></mat-label>
      <input type="number" matInput formControlName="maxPrincipal">
    </mat-form-field>

    <mat-checkbox fxFlex="31%" labelPosition="before" formControlName="allowApprovedDisbursedAmountsOverApplied">
      <span [translate]="'modulo.labels.allowapprovaldisbursalloanappliedq'">Allow approval / disbursal above loan applied amount?</span>
    </mat-checkbox>

    <mat-form-field fxFlex="31%" *ngIf="loanProductTermsForm.value.allowApprovedDisbursedAmountsOverApplied">
      <mat-label><span [translate]="'modulo.labels.overamountcalculationtype'">Over Amount Calculation Type</span></mat-label>
      <mat-select formControlName="overAppliedCalculationType" required>
        <mat-option *ngFor="let overAppliedCalculationType of overAppliedCalculationTypeData" [value]="overAppliedCalculationType.id">
          {{ overAppliedCalculationType.value | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="31%" *ngIf="loanProductTermsForm.value.allowApprovedDisbursedAmountsOverApplied">
      <mat-label><span [translate]="'modulo.labels.overamount'">Over Amount</span></mat-label>
      <input type="number" matInput formControlName="overAppliedNumber" required>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4"><span [translate]="'modulo.labels.numberofrepayments'">Number of repayments</span></h4>

    <mat-form-field fxFlex="31%">
      <mat-label><span [translate]="'modulo.labels.minimum'">Minimum</span></mat-label>
      <input type="number" matInput formControlName="minNumberOfRepayments">
    </mat-form-field>

    <mat-form-field fxFlex="31%">
      <mat-label><span [translate]="'modulo.labels.default'">Default</span></mat-label>
      <input type="number" matInput formControlName="numberOfRepayments" required>
      <mat-error>
       <span [innerHTML]="'modulo.validations.defaultnumberrepaymentsrequired' | translate">
         Default number of repayments is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="31%">
      <mat-label><span [translate]="'modulo.labels.maximum'">Maximum</span></mat-label>
      <input type="number" matInput formControlName="maxNumberOfRepayments">
    </mat-form-field>

    <mat-divider fxFlex="98%"></mat-divider>

    <h3 fxFlex="23%" class="mat-h3"><span [translate]="'modulo.labels.interestrates'">Interest Rates</span></h3>

    <mat-checkbox fxFlex="73%" labelPosition="before" formControlName="isLinkedToFloatingInterestRates">
      <span [translate]="'modulo.labels.islinkedfloatinginterestratesq'">Is Linked to floating interest rates?</span>
    </mat-checkbox>

    <div *ngIf="!loanProductTermsForm.value.isLinkedToFloatingInterestRates" fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <h4 fxFlex="98%" class="mat-h4"><span [translate]="'modulo.labels.nominalinterestrate'">Nominal interest rate</span></h4>

      <mat-form-field fxFlex="23%">
        <mat-label><span [translate]="'modulo.labels.minimum'">Minimum</span></mat-label>
        <input type="number" matInput formControlName="minInterestRatePerPeriod">
      </mat-form-field>

      <mat-form-field fxFlex="23%">
        <mat-label><span [translate]="'modulo.labels.default'">Default</span></mat-label>
        <input type="number" matInput formControlName="interestRatePerPeriod" required>
        <mat-error>
          <span [innerHTML]="'modulo.validations.defaultnominalinterestraterequired' | translate">
            Default nominal interest rate is <strong>required</strong></span>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="23%">
        <mat-label><span [translate]="'modulo.labels.maximum'">Maximum</span></mat-label>
        <input type="number" matInput formControlName="maxInterestRatePerPeriod">
      </mat-form-field>

      <mat-form-field fxFlex="23%">
        <mat-label><span [translate]="'modulo.labels.frequency'">Frequency</span></mat-label>
        <mat-select formControlName="interestRateFrequencyType" required>
          <mat-option *ngFor="let interestRateFrequencyType of interestRateFrequencyTypeData" [value]="interestRateFrequencyType.id">
            {{ interestRateFrequencyType.value | translate }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span [innerHTML]="'modulo.validations.nominalinterestratefrequencyrequired' | translate">
            Nominal interest rate frequency is <strong>required</strong></span>
        </mat-error>
      </mat-form-field>

    </div>

    <div *ngIf="loanProductTermsForm.value.isLinkedToFloatingInterestRates" fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="start center">

      <h4 fxFlex="98%" class="mat-h4"><span [translate]="'modulo.labels.floatinginterestrate'">Floating interest rate</span></h4>

      <mat-form-field fxFlex="31%">
        <mat-label><span [translate]="'modulo.labels.floatingrate'">Floating Rate</span></mat-label>
        <mat-select formControlName="floatingRatesId" required>
          <mat-option *ngFor="let floatingRate of floatingRateData" [value]="floatingRate.id">
            {{ floatingRate.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span [innerHTML]="'modulo.validations.floatingraterequired' | translate">Floating rate is <strong>required</strong></span>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label><span [translate]="'modulo.labels.differentialrate'">Differential Rate</span></mat-label>
        <input type="number" matInput formControlName="interestRateDifferential" required>
        <mat-error>
          <span [innerHTML]="'modulo.validations.differentialraterequired' | translate">Differential rate is <strong>required</strong></span>
        </mat-error>
      </mat-form-field>

      <mat-checkbox fxFlex="31%" labelPosition="before" formControlName="isFloatingInterestRateCalculationAllowed">
        <span [translate]="'modulo.labels.isfloatingcalculationallowedq'">Is Floating calculation allowed?</span>
      </mat-checkbox>

      <mat-form-field fxFlex="31%">
        <mat-label><span [translate]="'modulo.labels.minimum'">Minimum</span></mat-label>
        <input type="number" matInput formControlName="minDifferentialLendingRate" required>
        <mat-error>
          <span [innerHTML]="'modulo.validations.minimuminterestraterequired' | translate">Minimum interest rate is <strong>required</strong></span>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label><span [translate]="'modulo.labels.default'">Default</span></mat-label>
        <input type="number" matInput formControlName="defaultDifferentialLendingRate" required>
        <mat-error>
          <span [innerHTML]="'modulo.validations.defaultinterestraterequired' | translate">Default interest rate is <strong>required</strong></span>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label><span [translate]="'modulo.labels.maximum'">Maximum</span></mat-label>
        <input type="number" matInput formControlName="maxDifferentialLendingRate" required>
        <mat-error>
          <span [innerHTML]="'modulo.validations.maximuminterestraterequired' | translate">
            Maximum interest rate is <strong>required</strong></span>
        </mat-error>
      </mat-form-field>

    </div>

    <mat-divider fxFlex="98%"></mat-divider>

    <h3 fxFlex="23%" class="mat-h3"><span [translate]="'modulo.labels.variations'">Variations</span></h3>

    <mat-checkbox fxFlex="73%" labelPosition="before" formControlName="useBorrowerCycle">
      <span [translate]="'modulo.labels.termbasedloancycle'">Terms vary based on loan cycle</span>
    </mat-checkbox>

    <div *ngIf="loanProductTermsForm.value.useBorrowerCycle" fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <h4 fxFlex="23%" class="mat-h4"><span [translate]="'modulo.labels.principalloancycle'">Principal by loan cycle</span></h4>

      <div fxFlex="73%">
        <button type="button" mat-raised-button color="primary" (click)="addVariationsForBorrowerCycle('Principal', principalVariationsForBorrowerCycle)">
          <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;
          <span [translate]="'labels.buttons.Add'">Add</span>
        </button>
      </div>

      <table fxFlex="98%" class="mat-elevation-z1" mat-table [dataSource]="principalVariationsForBorrowerCycle.value" *ngIf="principalVariationsForBorrowerCycle.value.length">

        <ng-container matColumnDef="valueConditionType">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.condition'"> Condition</span> </th>
          <td mat-cell *matCellDef="let variation">
            {{ variation.valueConditionType | find:valueConditionTypeData:'id':'value' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="borrowerCycleNumber">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.loancycle'"> Loan Cycle </span></th>
          <td mat-cell *matCellDef="let variation">
            {{ variation.borrowerCycleNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="minValue">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.minimum'"> Minimum</span> </th>
          <td mat-cell *matCellDef="let variation">
            {{ variation.minValue  }}
          </td>
        </ng-container>

        <ng-container matColumnDef="defaultValue">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.default'"> Default</span> </th>
          <td mat-cell *matCellDef="let variation">
            {{ variation.defaultValue }}
          </td>
        </ng-container>

        <ng-container matColumnDef="maxValue">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.maximum'"> Maximum</span> </th>
          <td mat-cell *matCellDef="let variation">
            {{ variation.maxValue }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'header.actions'"> Actions</span> </th>
          <td mat-cell *matCellDef="let variation; let i = index">
            <button mat-icon-button color="primary" (click)="editVariationsForBorrowerCycle('Principal', principalVariationsForBorrowerCycle, i)">
              <fa-icon icon="edit"></fa-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteVariationsForBorrowerCycle(principalVariationsForBorrowerCycle, i)">
              <fa-icon icon="trash"></fa-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <h4 fxFlex="23%" class="mat-h4">
        <span [translate]="'modulo.labels.numberrepaymentloancycles'">Number of repayments by loan cycle</span></h4>

      <div fxFlex="73%">
        <button type="button" mat-raised-button color="primary" (click)="addVariationsForBorrowerCycle('NumberOfRepayments', numberOfRepaymentVariationsForBorrowerCycle)">
          <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;
          <span [translate]="'labels.buttons.Add'">Add</span>
        </button>
      </div>

      <table fxFlex="98%" class="mat-elevation-z1" mat-table [dataSource]="numberOfRepaymentVariationsForBorrowerCycle.value" *ngIf="numberOfRepaymentVariationsForBorrowerCycle.value.length">

        <ng-container matColumnDef="valueConditionType">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.condition'"> Condition</span> </th>
          <td mat-cell *matCellDef="let variation">
            {{ variation.valueConditionType | find:valueConditionTypeData:'id':'value' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="borrowerCycleNumber">
          <th mat-header-cell *matHeaderCellDef> 
            <span [translate]="'modulo.labels.loancycle'">Loan Cycle</span> </th>
          <td mat-cell *matCellDef="let variation">
            {{ variation.borrowerCycleNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="minValue">
          <th mat-header-cell *matHeaderCellDef> 
            <span [translate]="'modulo.labels.minimum'">Minimum</span> </th>
          <td mat-cell *matCellDef="let variation">
            {{ variation.minValue }}
          </td>
        </ng-container>

        <ng-container matColumnDef="defaultValue">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.default'"> Default</span> </th>
          <td mat-cell *matCellDef="let variation">
            {{ variation.defaultValue }}
          </td>
        </ng-container>

        <ng-container matColumnDef="maxValue">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.maximum'"> Maximum</span> </th>
          <td mat-cell *matCellDef="let variation">
            {{ variation.maxValue }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'header.actions'"> Actions</span> </th>
          <td mat-cell *matCellDef="let variation; let i = index">
            <button mat-icon-button color="primary" (click)="editVariationsForBorrowerCycle('NumberOfRepayments', numberOfRepaymentVariationsForBorrowerCycle, i)">
              <fa-icon icon="edit"></fa-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteVariationsForBorrowerCycle(numberOfRepaymentVariationsForBorrowerCycle, i)">
              <fa-icon icon="trash"></fa-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <h4 fxFlex="23%" class="mat-h4">
        <span [translate]="'modulo.labels.nominalinterestrateloancycle'">Nominal interest rate by loan cycle</span></h4>

      <div fxFlex="73%">
        <button type="button" mat-raised-button color="primary" (click)="addVariationsForBorrowerCycle('NominalInterestRate', interestRateVariationsForBorrowerCycle)">
          <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;
          <span [translate]="'labels.buttons.Add'">Add</span>
        </button>
      </div>

      <table fxFlex="98%" class="mat-elevation-z1" mat-table [dataSource]="interestRateVariationsForBorrowerCycle.value" *ngIf="interestRateVariationsForBorrowerCycle.value.length">

        <ng-container matColumnDef="valueConditionType">
          <th mat-header-cell *matHeaderCellDef> 
            <span [translate]="'modulo.labels.condition'">Condition</span> </th>
          <td mat-cell *matCellDef="let variation">
            {{ variation.valueConditionType | find:valueConditionTypeData:'id':'value' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="borrowerCycleNumber">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.loancycle'"> Loan Cycle</span> </th>
          <td mat-cell *matCellDef="let variation">
            {{ variation.borrowerCycleNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="minValue">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.minimum'"> Minimum</span> </th>
          <td mat-cell *matCellDef="let variation">
            {{ variation.minValue }}
          </td>
        </ng-container>

        <ng-container matColumnDef="defaultValue">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.default'"> Default</span> </th>
          <td mat-cell *matCellDef="let variation">
            {{ variation.defaultValue }}
          </td>
        </ng-container>

        <ng-container matColumnDef="maxValue">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.maximum'"> Maximum</span> </th>
          <td mat-cell *matCellDef="let variation">
            {{ variation.maxValue }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'header.actions'"> Actions</span> </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button mat-icon-button color="primary" (click)="editVariationsForBorrowerCycle('NominalInterestRate', interestRateVariationsForBorrowerCycle, i)">
              <fa-icon icon="edit"></fa-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteVariationsForBorrowerCycle(interestRateVariationsForBorrowerCycle, i)">
              <fa-icon icon="trash"></fa-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

    </div>

    <mat-divider fxFlex="98%"></mat-divider>

    <h4 fxFlex="98%" class="mat-h4"><span [translate]="'modulo.labels.repaidevery'">Repaid every</span></h4>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.frequency'">Frequency</span></mat-label>
      <input type="number" matInput formControlName="repaymentEvery" required>
      <mat-error>
        <span [innerHTML]="'modulo.validations.repaideveryfrequencyrequired' | translate">Repaid every frequency is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.type'">Type</span></mat-label>
      <mat-select formControlName="repaymentFrequencyType" required>
        <mat-option *ngFor="let repaymentFrequencyType of repaymentFrequencyTypeData" [value]="repaymentFrequencyType.id">
          {{ repaymentFrequencyType.value | translate}}
        </mat-option>
      </mat-select>
      <mat-error>
        <span [innerHTML]="'modulo.validations.repaideverytyperequired' | translate">Repaid every type is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.mindaybetweendisbursal'">
        Minimum days between disbursal and first repayment date</span></mat-label>
      <input type="number" matInput formControlName="minimumDaysBetweenDisbursalAndFirstRepayment">
    </mat-form-field>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      <span [translate]="'labels.buttons.Previous'">Previous</span>
    </button>
    <button mat-raised-button matStepperNext>
      <span [translate]="'labels.buttons.Next'">Next</span>&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
