<h1 mat-dialog-title> <span [translate]="'modulo.loans.titles.guarantor'">Guarantor Detail</span></h1>

<div mat-dialog-content fxLayout="column">

  <div fxLayout="row wrap" fxLayout.lt-md="column">

    <div fxFlexFill>
      <span fxFlex="50%" [translate]="'modulo.loans.labels.firstname'">First Name:</span>
      <span fxFlex="50%">{{ data.guarantorData.firstname }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="50%" [translate]="'modulo.loans.labels.lastname'">Last Name:</span>
      <span fxFlex="50%">{{ data.guarantorData.lastname }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="50%" [translate]="'modulo.loans.labels.relationship'">Relationship:</span>
      <span fxFlex="50%">{{ data.guarantorData.clientRelationshipType.name }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="50%" [translate]="'modulo.loans.labels.guarantortype'">Guarantor Type:</span>
      <span fxFlex="50%">{{ data.guarantorData.guarantorType.value }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="50%" [translate]="'modulo.loans.labels.status'">Status:</span>
      <span fxFlex="50%">
        <span *ngIf="data.guarantorData.status">
          <span [translate]="'status.active'">Active</span>
        </span>
        <span *ngIf="!data.guarantorData.status">
          <span [translate]="'status.deleted'">Deleted</span>
        </span>
      </span>
    </div>

  </div>

</div>

<mat-dialog-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
  <button mat-raised-button mat-dialog-close> <span [translate]="'labels.buttons.Close'"> Cancel</span> </button>
</mat-dialog-actions>
