<div class="container">

  <mat-card>

    <div>

      <form [formGroup]="provisioningCriteriaForm">

        <div fxLayout="row" fxLayoutGap="2%">

          <mat-form-field fxFlex>
            <mat-label><span [translate]="'modulo.labels.provisioningcriteria'">Provisioning Criteria</span></mat-label>
            <input required matInput formControlName="criteriaName">
            <mat-error *ngIf="provisioningCriteriaForm.controls.criteriaName.hasError('required')">
              <span [innerHTML]="'modulo.validations.provisioningcriteriarequired' | translate">
                Provisioning Criteria is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field fxFlex>
            <mat-label><span [translate]="'modulo.labels.selectedproducts'">Selected Products</span></mat-label>
            <mat-select formControlName="loanProducts" multiple>
              <mat-option *ngFor="let product of loanProvisioningCriteriaTemplate.loanProducts" [value]="product">
                {{ product.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

      </form>

    </div>

    <div class="mat-elevation-z1">

      <mat-hint *ngIf="!provisioningCriteriaFormValid">
        <span [translate]="'modulo.labels.pleasefillprovisioningcriteria'">
          Please fill all provisioning criteria definitions.</span></mat-hint>

      <table mat-table class="m-t-10" [dataSource]="definitions">

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.category'"> Category</span></th>
          <td mat-cell *matCellDef="let definition"> {{ definition.categoryName }} </td>
        </ng-container>
  
        <ng-container matColumnDef="minAge">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.minage'"> Min Age</span> </th>
          <td mat-cell *matCellDef="let definition"> {{ definition.minAge || '0' }} </td>
        </ng-container>

        <ng-container matColumnDef="maxAge">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.maxage'"> Max Age </span></th>
          <td mat-cell *matCellDef="let definition"> {{ definition.maxAge || '0' }} </td>
        </ng-container>
  
        <ng-container matColumnDef="percentage">
          <th mat-header-cell *matHeaderCellDef> 
            <span [translate]="'modulo.labels.percentage'">Percentage</span> (%)</th>
          <td mat-cell *matCellDef="let definition"> {{ definition.provisioningPercentage || '0' }} </td>
        </ng-container>

        <ng-container matColumnDef="liabilityAccount">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.liabilityaccount'"> Liability Account</span> </th>
          <td mat-cell *matCellDef="let definition"> {{ (definition.liabilityAccount | find:loanProvisioningCriteriaTemplate.glAccounts:'id':'name') || '-' }} </td>
        </ng-container>
  
        <ng-container matColumnDef="expenseAccount">
          <th mat-header-cell *matHeaderCellDef>
            <span [translate]="'modulo.labels.expenseaccount'"> Expense Account</span> </th>
          <td mat-cell *matCellDef="let definition"> {{ (definition.expenseAccount | find:loanProvisioningCriteriaTemplate.glAccounts:'id':'name') || '-' }} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> 
            <span [translate]="'header.actions'">Actions</span> </th>
          <td mat-cell *matCellDef="let definition">
            <button mat-button color="primary" (click)="editDefinition(definition)">
              <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
              <span [translate]="'labels.buttons.Edit'">Edit</span>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      </table>

    </div>    

    <div class="m-t-20" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
      <button type="button" mat-raised-button [routerLink]="['../']">
        <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
      <button mat-raised-button color="primary" [disabled]="!provisioningCriteriaFormValid" (click)="submit()" *mifosxHasPermission="'CREATE_PROVISIONING_CRITERIA'">
        <span [translate]="'labels.buttons.Submit'">Submit</span></button>
    </div>

  </mat-card>

</div>
