<div class="container mat-elevation-z8">

  <mat-card>

    <form [formGroup]="applyAnnualFeesForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field (click)="dueDatePicker.open()">
            <mat-label><span [translate]="'modulo.labels.annualfeestransactiondate'">Annual Fees Transaction Date</span></mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dueDatePicker" required formControlName="dueDate">
            <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dueDatePicker></mat-datepicker>
            <mat-error *ngIf="applyAnnualFeesForm.controls.dueDate.hasError('required')">
              <span [innerHTML]="'modulo.validations.duedaterequired' | translate">Due Date is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.amount'">Amount</span></mat-label>
            <input type="number" formControlName="amount" required matInput />
            <mat-error *ngIf="applyAnnualFeesForm.controls.amount.hasError('required')">
              <span [innerHTML]="'modulo.validations.amountrequired' | translate">Amount is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../../']">
          <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
        <button mat-raised-button color="primary" [disabled]="!applyAnnualFeesForm.valid">
          <span [translate]="'labels.buttons.Confirm'">Confirm</span></button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
