<div fxLayout="row wrap" fxLayout.lt-md="column">

  <h2 class="mat-h2" fxFlexFill>{{ loanProduct.name }}</h2>

  <mat-divider fxFlexFill></mat-divider>

  <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.details'">Details</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.shortname'">Short Name</span>:</span>
    <span fxFlex="60%">{{ loanProduct.shortName }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.fundId">
    <span fxFlex="40%"><span [translate]="'modulo.labels.fundname'">Fund Name</span>:</span>
    <span fxFlex="60%">{{ loanProduct.fundId | find:loanProductsTemplate.fundOptions:'id':'name' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.includecustomerloancounter'">Include in Customer Loan Counter</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.includeInBorrowerCycle ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.startDate">
    <span fxFlex="40%"><span [translate]="'modulo.labels.startdate'">Start Date</span>:</span>
    <span fxFlex="60%">{{ loanProduct.startDate }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.closeDate">
    <span fxFlex="40%"><span [translate]="'modulo.labels.closedate'">Close Date</span>:</span>
    <span fxFlex="60%">{{ loanProduct.closeDate }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.description">
    <span fxFlex="40%"><span [translate]="'modulo.labels.description'">Description</span>:</span>
    <span fxFlex="60%">{{ loanProduct.description }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.currency'">Currency</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.currency'">Currency</span>:</span>
    <span fxFlex="60%">{{ loanProduct.currencyCode | find:loanProductsTemplate.currencyOptions:'code':'name' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.decimalplaces'">Decimal Places</span>:</span>
    <span fxFlex="60%">{{ loanProduct.digitsAfterDecimal }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.currencymultiplesof'">Currency in multiples of</span>:</span>
    <span fxFlex="60%">{{ loanProduct.inMultiplesOf }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.installmentmultiplesof'">Installment in multiples of</span>:</span>
    <span fxFlex="60%">{{ loanProduct.installmentAmountInMultiplesOf }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.terms'">Terms</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.principal'">Principal</span>:</span>
    <span fxFlex="60%">{{ loanProduct.principal + ' (Min: ' + (loanProduct.minPrincipal ? loanProduct.minPrincipal : loanProduct.principal) + ', Max: ' + (loanProduct.maxPrincipal ? loanProduct.maxPrincipal : loanProduct.principal) + ')' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.allowedapproveddisbursedamountsover'">Allow Approved / Disbursed Amounts Over Applied</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.allowApprovedDisbursedAmountsOverApplied ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.allowApprovedDisbursedAmountsOverApplied">
    <span fxFlex="40%"><span [translate]="'modulo.labels.overapplied'">Over Applied</span>:</span>
    <span fxFlex="60%" *ngIf="loanProduct.overAppliedCalculationType === 'percentage'">{{ loanProduct.overAppliedNumber }} %</span>
    <span fxFlex="60%" *ngIf="loanProduct.overAppliedCalculationType === 'flat'">{{ loanProduct.overAppliedNumber }} {{ loanProduct.currencyCode }}</span>
</div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.numberofrepayments'">Number of Repayments</span>:</span>
    <span fxFlex="60%">{{ loanProduct.numberOfRepayments + ' (Min: ' + (loanProduct.minNumberOfRepayments ? loanProduct.minNumberOfRepayments : loanProduct.numberOfRepayments) + ', Max: ' + (loanProduct.maxNumberOfRepayments ? loanProduct.maxNumberOfRepayments : loanProduct.numberOfRepayments) + ')' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.linkedfloatinginterestrates'">Linked to floating interest rates</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.isLinkedToFloatingInterestRates ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <div fxFlexFill *ngIf="!loanProduct.isLinkedToFloatingInterestRates">
    <span fxFlex="40%"><span [translate]="'modulo.labels.nominalinterestrate'">Nominal interest rate</span>:</span>
    <span fxFlex="60%">{{ loanProduct.interestRatePerPeriod + ' (Min: ' + (loanProduct.minInterestRatePerPeriod ? loanProduct.minInterestRatePerPeriod : loanProduct.interestRatePerPeriod) + ', Max: ' + (loanProduct.maxInterestRatePerPeriod ? loanProduct.maxInterestRatePerPeriod : loanProduct.interestRatePerPeriod) + ')' + ' ' + (loanProduct.interestRateFrequencyType | find:loanProductsTemplate.interestRateFrequencyTypeOptions:'id':'value') }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.isLinkedToFloatingInterestRates" fxLayout="row wrap" fxLayout.lt-md="column">
    <span fxFlex="40%"><span [translate]="'modulo.labels.floatinglendinginterestrate'">Floating Lending Interest Rate</span>:</span>
    <span fxFlex="60%">{{ loanProduct.floatingRatesId | find:loanProductsTemplate.floatingRateOptions:'id':'name' }}</span>
    <span fxFlex="40%"><span [translate]="'modulo.labels.interestratedifferential'">Interest Rate Differential</span>:</span>
    <span fxFlex="60%">{{ loanProduct.interestRateDifferential }}</span>
    <span fxFlex="40%"><span [translate]="'modulo.labels.floatinginterestratecalculationallowed'">Floating Interest Rate Calculation Allowed</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.isFloatingInterestRateCalculationAllowed ? 'Yes' : 'No') | translate  }}</span>
    <span fxFlex="40%"><span [translate]="'modulo.labels.floatinginterestrate'">Floating Interest Rate</span>:</span>
    <span fxFlex="60%">{{ loanProduct.defaultDifferentialLendingRate + ' (Min: ' + (loanProduct.minDifferentialLendingRate ? loanProduct.minDifferentialLendingRate : loanProduct.defaultDifferentialLendingRate) + ', Max: ' + (loanProduct.maxDifferentialLendingRate ? loanProduct.maxDifferentialLendingRate : loanProduct.defaultDifferentialLendingRate) + ')' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.termsbasedloancycles'">Terms vary based on loan cycle</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.useBorrowerCycle ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.principalVariationsForBorrowerCycle?.length">

    <h4 class="mat-h4" fxFlexFill><span [translate]="'modulo.labels.principalloancycle'">Principal by loan cycle</span></h4>

    <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="loanProduct.principalVariationsForBorrowerCycle">

      <ng-container matColumnDef="valueConditionType">
        <th mat-header-cell *matHeaderCellDef> <span [translate]="'modulo.labels.condition'">Condition</span> </th>
        <td mat-cell *matCellDef="let variation">
          {{ variation.valueConditionType | find:loanProductsTemplate.valueConditionTypeOptions:'id':'value' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="borrowerCycleNumber">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.loancycles'"> Loan Cycle</span> </th>
        <td mat-cell *matCellDef="let variation">
          {{ variation.borrowerCycleNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="minValue">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.minimum'"> Minimum </span></th>
        <td mat-cell *matCellDef="let variation">
          {{ variation.minValue  }}
        </td>
      </ng-container>

      <ng-container matColumnDef="defaultValue">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.default'"> Default</span> </th>
        <td mat-cell *matCellDef="let variation">
          {{ variation.defaultValue }}
        </td>
      </ng-container>

      <ng-container matColumnDef="maxValue">
        <th mat-header-cell *matHeaderCellDef> <span [translate]="'modulo.labels.maximum'">Maximum </span></th>
        <td mat-cell *matCellDef="let variation">
          {{ variation.maxValue }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="variationsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: variationsDisplayedColumns;"></tr>

    </table>

  </div>

  <div fxFlexFill *ngIf="loanProduct.numberOfRepaymentVariationsForBorrowerCycle?.length">

    <h4 class="mat-h4" fxFlexFill>
      <span [translate]="'modulo.labels.numberrepaymentloancycles'">Number of Repayments by loan cycle</span></h4>

    <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="loanProduct.numberOfRepaymentVariationsForBorrowerCycle">

      <ng-container matColumnDef="valueConditionType">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.condition'"> Condition </span></th>
        <td mat-cell *matCellDef="let variation">
          {{ variation.valueConditionType | find:loanProductsTemplate.valueConditionTypeOptions:'id':'value' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="borrowerCycleNumber">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.loancycles'"> Loan Cycle </span></th>
        <td mat-cell *matCellDef="let variation">
          {{ variation.borrowerCycleNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="minValue">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.minimum'"> Minimum</span> </th>
        <td mat-cell *matCellDef="let variation">
          {{ variation.minValue  }}
        </td>
      </ng-container>

      <ng-container matColumnDef="defaultValue">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.default'"> Default</span> </th>
        <td mat-cell *matCellDef="let variation">
          {{ variation.defaultValue }}
        </td>
      </ng-container>

      <ng-container matColumnDef="maxValue">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.maximum'"> Maximum</span> </th>
        <td mat-cell *matCellDef="let variation">
          {{ variation.maxValue }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="variationsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: variationsDisplayedColumns;"></tr>

    </table>

  </div>

  <div fxFlexFill *ngIf="loanProduct.interestRateVariationsForBorrowerCycle?.length">

    <h4 class="mat-h4" fxFlexFill>
      <span [translate]="'modulo.labels.nominalinterestrateloancycle'">Nominal Interest Rate by loan cycle</span></h4>

    <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="loanProduct.interestRateVariationsForBorrowerCycle">

      <ng-container matColumnDef="valueConditionType">
        <th mat-header-cell *matHeaderCellDef> <span [translate]="'modulo.labels.condition'">Condition</span> </th>
        <td mat-cell *matCellDef="let variation">
          {{ variation.valueConditionType | find:loanProductsTemplate.valueConditionTypeOptions:'id':'value' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="borrowerCycleNumber">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.loancycles'"> Loan Cycle</span> </th>
        <td mat-cell *matCellDef="let variation">
          {{ variation.borrowerCycleNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="minValue">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.minimum'"> Minimum </span></th>
        <td mat-cell *matCellDef="let variation">
          {{ variation.minValue  }}
        </td>
      </ng-container>

      <ng-container matColumnDef="defaultValue">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.default'"> Default</span> </th>
        <td mat-cell *matCellDef="let variation">
          {{ variation.defaultValue }}
        </td>
      </ng-container>

      <ng-container matColumnDef="maxValue">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.maximum'"> Maximum </span></th>
        <td mat-cell *matCellDef="let variation">
          {{ variation.maxValue }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="variationsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: variationsDisplayedColumns;"></tr>

    </table>

  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.repayevery'">Repay Every</span>:</span>
    <span fxFlex="60%">{{ loanProduct.repaymentEvery + ' ' + (loanProduct.repaymentFrequencyType | find:loanProductsTemplate.repaymentFrequencyTypeOptions:'id':'value') }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.minimumDaysBetweenDisbursalAndFirstRepayment">
    <span fxFlex="40%"><span [translate]="'modulo.labels.mindaybetweendisbursal'">
      Minimum days between disbursal and first repayment date</span>:</span>
    <span fxFlex="60%">{{ loanProduct.minimumDaysBetweenDisbursalAndFirstRepayment }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.settings'">Settings</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.amortization'">Amortization</span>:</span>
    <span fxFlex="60%">{{ loanProduct.amortizationType | find:loanProductsTemplate.amortizationTypeOptions:'id':'value' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.isequalamortization'">Is Equal Amortization</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.isEqualAmortization ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.interestmethod'">Interest Method</span>:</span>
    <span fxFlex="60%">{{ loanProduct.interestType | find:loanProductsTemplate.interestTypeOptions:'id':'value' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.interestcalculationperiod'">Interest Calculation Period</span>:</span>
    <span fxFlex="60%">{{ loanProduct.interestCalculationPeriodType | find:loanProductsTemplate.interestCalculationPeriodTypeOptions:'id':'value' }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.interestCalculationPeriodType === 1">
    <span fxFlex="40%">
      <span [translate]="'modulo.labels.allowpartialinterestcalculation'">
        Allow Partial Interest Calculation with same as repayment</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.allowPartialPeriodInterestCalcualtion ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.repaymentstrategy'">Repayment Strategy</span>:</span>
    <span fxFlex="60%">{{ loanProduct.transactionProcessingStrategyCode | find:loanProductsTemplate.transactionProcessingStrategyOptions:'code':'name' }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.graceOnPrincipalPayment">
    <span fxFlex="40%"><span [translate]="'modulo.labels.graceprincipalpayment'">Grace on principal payment</span>:</span>
    <span fxFlex="60%">{{ loanProduct.graceOnPrincipalPayment }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.graceOnInterestPayment">
    <span fxFlex="40%"><span [translate]="'modulo.labels.graceinterestpayment'">Grace on interest payment</span>:</span>
    <span fxFlex="60%">{{ loanProduct.graceOnInterestPayment }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.graceOnInterestCharged">
    <span fxFlex="40%"><span [translate]="'modulo.labels.interestfreeperiod'">Interest free period</span>:</span>
    <span fxFlex="60%">{{ loanProduct.graceOnInterestCharged }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.inArrearsTolerance">
    <span fxFlex="40%"><span [translate]="'modulo.labels.arrearstolerance'">Arrears tolerance</span>:</span>
    <span fxFlex="60%">{{ loanProduct.inArrearsTolerance }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.daysinyear'">Days in year</span>:</span>
    <span fxFlex="60%">{{ loanProduct.daysInYearType | find:loanProductsTemplate.daysInYearTypeOptions:'id':'value' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.daysinmonth'">Days in month</span>:</span>
    <span fxFlex="60%">{{ loanProduct.daysInMonthType | find:loanProductsTemplate.daysInMonthTypeOptions:'id':'value' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.allowfixinginstallmentamount'">Allow fixing of the installment amount</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.canDefineInstallmentAmount ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.graceOnArrearsAgeing">
    <span fxFlex="40%">
      <span [translate]="'modulo.labels.numberdaysloanoverduearrears'">
        Number of days a loan may be overdue before moving into arrears</span>:</span>
    <span fxFlex="60%">{{ loanProduct.graceOnArrearsAgeing }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.overdueDaysForNPA">
    <span fxFlex="40%">
      <span [translate]="'modulo.labels.maxnumberdaysloanoverduenpa'">
        Maximum number of days a loan may be overdue before becoming a NPA (non performing asset)</span>:</span>
    <span fxFlex="60%">{{ loanProduct.overdueDaysForNPA }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.delinquencybucket'">Delinquency Bucket</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.delinquencyBucketId ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.accountmovesoutofnpa'">
      Account moves out of NPA only after all arrears have been cleared</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.accountMovesOutOfNPAOnlyOnArrearsCompletion ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.principalThresholdForLastInstallment">
    <span fxFlex="40%"><span [translate]="'modulo.labels.principalthresholdlastinstalment'">
      Principal Threshold (%) for Last Instalment</span>:</span>
    <span fxFlex="60%">{{ loanProduct.principalThresholdForLastInstallment }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.variableinstallmentsallowed'">Variable Installments allowed</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.allowVariableInstallments ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.allowVariableInstallments">
    <span fxFlex="40%"><span [translate]="'modulo.labels.variableinstallments'">Variable Installments</span>:</span>
    <span fxFlex="60%">{{ '(Min: ' + loanProduct.minimumGap + ', Max: ' + (loanProduct.maximumGap ? loanProduct.maximumGap : loanProduct.minimumGap) + ')' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.allowedusedprovidingtopuploans'">
      Allowed to be used for providing Topup Loans</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.canUseForTopup ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.interestrecalculation'">Interest Recalculation</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.recalculateinterest'">Recalculate Interest</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.isInterestRecalculationEnabled ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.isInterestRecalculationEnabled" fxLayout="row wrap" fxLayout.lt-md="column">
    <span fxFlex="40%"><span [translate]="'modulo.labels.preclosureinterestcalculationrule'">Pre-closure interest calculation rule</span>:</span>
    <span fxFlex="60%">{{ loanProduct.preClosureInterestCalculationStrategy | find:loanProductsTemplate.preClosureInterestCalculationStrategyOptions:'id':'value' }}</span>
    <span fxFlex="40%"><span [translate]="'modulo.labels.advancepaymentsadjuttype'">Advance payments adjustment type</span>:</span>
    <span fxFlex="60%">{{ loanProduct.rescheduleStrategyMethod | find:loanProductsTemplate.rescheduleStrategyTypeOptions:'id':'value' }}</span>
    <span fxFlex="40%"><span [translate]="'modulo.labels.interestrecalculationcompounding'">Interest recalculation compounding on</span>:</span>
    <span fxFlex="60%">{{ loanProduct.interestRecalculationCompoundingMethod | find:loanProductsTemplate.interestRecalculationCompoundingTypeOptions:'id':'value' }}</span>
    <div fxFlexFill *ngIf="loanProduct.interestRecalculationCompoundingMethod !== 0" fxLayout="row wrap" fxLayout.lt-md="column">
      <span fxFlex="40%"><span [translate]="'modulo.labels.frequencycompounding'">Frequency for compounding</span>:</span>
      <span fxFlex="60%">
        {{ loanProduct.recalculationCompoundingFrequencyType | find:loanProductsTemplate.interestRecalculationFrequencyTypeOptions:'id':'value' }}
        <span *ngIf="loanProduct.recalculationCompoundingFrequencyType === 4">&nbsp;&nbsp;{{ loanProduct.recalculationCompoundingFrequencyNthDayType | find:loanProductsTemplate.interestRecalculationNthDayTypeOptions:'id':'value' }}</span>
        <span *ngIf="(loanProduct.recalculationCompoundingFrequencyType === 4 && loanProduct.recalculationCompoundingFrequencyNthDayType !== -2) || loanProduct.recalculationCompoundingFrequencyType === 3">&nbsp;&nbsp;{{ loanProduct.recalculationCompoundingFrequencyDayOfWeekType | find:loanProductsTemplate.interestRecalculationDayOfWeekTypeOptions:'id':'value' }}</span>
        <span *ngIf="loanProduct.recalculationCompoundingFrequencyType === 4 && loanProduct.recalculationCompoundingFrequencyNthDayType === -2">&nbsp;&nbsp;{{ loanProduct.recalculationCompoundingFrequencyOnDayType }}</span>
      </span>
      <div fxFlexFill *ngIf="loanProduct.recalculationCompoundingFrequencyType !== 1" fxLayout="row wrap" fxLayout.lt-md="column">
        <span fxFlex="40%"><span [translate]="'modulo.labels.frequencyintervalcompounding'">Frequency Interval for compounding</span>:</span>
        <span fxFlex="60%">{{ loanProduct.recalculationCompoundingFrequencyInterval }}</span>
      </div>
    </div>
    <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">
      <span fxFlex="40%"><span [translate]="'modulo.labels.frequencyrecalculateoutstandingprincipal'">
        Frequency for recalculate Outstanding Principal</span>:</span>
      <span fxFlex="60%">
        {{ loanProduct.recalculationRestFrequencyType | find:loanProductsTemplate.interestRecalculationFrequencyTypeOptions:'id':'value' }}
        <span *ngIf="loanProduct.recalculationRestFrequencyType === 4">&nbsp;&nbsp;{{ loanProduct.recalculationRestFrequencyNthDayType | find:loanProductsTemplate.interestRecalculationNthDayTypeOptions:'id':'value' }}</span>
        <span *ngIf="(loanProduct.recalculationRestFrequencyType === 4 && loanProduct.recalculationRestFrequencyNthDayType !== -2) || loanProduct.recalculationRestFrequencyType === 3">&nbsp;&nbsp;{{ loanProduct.recalculationRestFrequencyDayOfWeekType | find:loanProductsTemplate.interestRecalculationDayOfWeekTypeOptions:'id':'value' }}</span>
        <span *ngIf="loanProduct.recalculationRestFrequencyType === 4 && loanProduct.recalculationRestFrequencyNthDayType === -2">&nbsp;&nbsp;{{ loanProduct.recalculationRestFrequencyOnDayType }}</span>
      </span>
    </div>
    <div fxFlexFill *ngIf="loanProduct.recalculationRestFrequencyType !== 1" fxLayout="row wrap" fxLayout.lt-md="column">
      <span fxFlex="40%"><span [translate]="'modulo.labels.frequencyintervalrecalculation'">
        Frequency Interval for recalculation</span>:</span>
      <span fxFlex="60%">{{ loanProduct.recalculationRestFrequencyInterval }}</span>
      <div fxFlexFill *ngIf="loanProduct.recalculationRestFrequencyDate">
        <span fxFlex="40%"><span [translate]="'modulo.labels.restfrequencydate'">Rest Frequency Date</span>:</span>
        <span fxFlex="60%">{{ loanProduct.recalculationRestFrequencyDate }}</span>
      </div>
    </div>
    <div fxFlexFill>
      <span fxFlex="40%"><span [translate]="'modulo.labels.isarrearsrecognizationbasedoriginalschedule'">
        Is Arrears recognization based on original schedule</span>:</span>
      <span fxFlex="60%">{{ (loanProduct.isArrearsBasedOnOriginalSchedule ? 'Yes' : 'No') | translate  }}</span>
    </div>
  </div>

  <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.guaranteerequirements'">Guarantee Requirements</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.placeguaranteefundonhold'">Place Guarantee Funds On-Hold</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.holdGuaranteeFunds ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.holdGuaranteeFunds" fxLayout="row wrap" fxLayout.lt-md="column">
    <span fxFlex="40%"><span [translate]="'modulo.labels.mandatoryguarantee'">Mandatory Guarantee</span>(%):</span>
    <span fxFlex="60%">{{ loanProduct.mandatoryGuarantee }}</span>
    <div fxFlexFill *ngIf="loanProduct.minimumGuaranteeFromOwnFunds">
      <span fxFlex="40%"><span [translate]="'modulo.labels.minguaranteeownfunds'">Minimum Guarantee from Own Funds</span>(%):</span>
      <span fxFlex="60%">{{ loanProduct.minimumGuaranteeFromOwnFunds }}</span>
    </div>
    <div fxFlexFill *ngIf="loanProduct.minimumGuaranteeFromGuarantor">
      <span fxFlex="40%"><span [translate]="'modulo.labels.minguaranteeguarantor'">Minimum Guarantee from Guarantor Funds</span>(%):</span>
      <span fxFlex="60%">{{ loanProduct.minimumGuaranteeFromGuarantor }}</span>
    </div>
  </div>

  <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.loantranchedetails'">Loan Tranche Details</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.enablemultipledisbursals'">Enable Multiple Disbursals</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.multiDisburseLoan ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.multiDisburseLoan" fxLayout="row wrap" fxLayout.lt-md="column">
    <span fxFlex="40%"><span [translate]="'modulo.labels.maxtranchecount'">Maximum Tranche count</span>:</span>
    <span fxFlex="60%">{{ loanProduct.maxTrancheCount }}</span>
    <div fxFlexFill *ngIf="loanProduct.outstandingLoanBalance">
      <span fxFlex="40%"><span [translate]="'modulo.labels.maxallowedoutstandingbalance'">Maximum allowed outstanding balance</span>:</span>
      <span fxFlex="60%">{{ loanProduct.outstandingLoanBalance }}</span>
    </div>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.disallowexpecteddisbursements'">Disallow Expected Disbursements</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.disallowExpectedDisbursements ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.configurabletermsandsettings'">
    Configurable Terms and Settings</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.allowoverridingselectterms'">
      Allow overriding select terms and settings in loan accounts</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.allowAttributeConfiguration ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.allowAttributeConfiguration" fxLayout="row wrap" fxLayout.lt-md="column">
    <span fxFlex="40%"><span [translate]="'modulo.labels.amortization'">Amortization</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.allowAttributeOverrides.amortizationType ? 'Yes' : 'No') | translate  }}</span>
    <span fxFlex="40%"><span [translate]="'modulo.labels.interestmethod'">Interest method</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.allowAttributeOverrides.interestType ? 'Yes' : 'No') | translate  }}</span>
    <span fxFlex="40%"><span [translate]="'modulo.labels.repaymentstrategy'">Repayment strategy</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.allowAttributeOverrides.transactionProcessingStrategyCode ? 'Yes' : 'No') | translate  }}</span>
    <span fxFlex="40%"><span [translate]="'modulo.labels.interestcalculationperiod'">Interest calculation period</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.allowAttributeOverrides.interestCalculationPeriodType ? 'Yes' : 'No') | translate  }}</span>
    <span fxFlex="40%"><span [translate]="'modulo.labels.arrerstolerance'">Arrears tolerance</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.allowAttributeOverrides.inArrearsTolerance ? 'Yes' : 'No') | translate  }}</span>
    <span fxFlex="40%"><span [translate]="'modulo.labels.repaidevery'">Repaid every</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.allowAttributeOverrides.repaymentEvery ? 'Yes' : 'No') | translate  }}</span>
    <span fxFlex="40%"><span [translate]="'modulo.labels.moratorium'">Moratorium</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.allowAttributeOverrides.graceOnPrincipalAndInterestPayment ? 'Yes' : 'No') | translate  }}</span>
    <span fxFlex="40%"><span [translate]="'modulo.labels.numberdaysloanoverdue'">
      Number of days a loan may be overdue before moving into arrears</span>:</span>
    <span fxFlex="60%">{{ (loanProduct.allowAttributeOverrides.graceOnArrearsAgeing ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.charges.length" fxLayout="row wrap" fxLayout.lt-md="column">

    <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.charges'">Charges</span></h3>

    <mat-divider fxFlexFill></mat-divider>

    <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="loanProduct.charges | chargesPenaltyFilter:false">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.name'"> Name</span> </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.name + ', ' + charge.currency.displaySymbol }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chargeCalculationType">
        <th mat-header-cell *matHeaderCellDef> <span [translate]="'modulo.labels.type'">Type</span> </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.chargeCalculationType.value }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> <span [translate]="'modulo.labels.amount'">Amount</span> </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.amount  }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chargeTimeType">
        <th mat-header-cell *matHeaderCellDef> <span [translate]="'modulo.labels.collectedon'">Collected On</span> </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.chargeTimeType.value }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="chargesDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: chargesDisplayedColumns;"></tr>

    </table>

    <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.overduecharges'">Overdue Charges</span></h3>

    <mat-divider fxFlexFill></mat-divider>

    <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="loanProduct.charges | chargesPenaltyFilter:true">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.name'"> Name</span> </th>
        <td mat-cell *matCellDef="let overdueCharge">
          {{ overdueCharge.name + ', ' + overdueCharge.currency.displaySymbol }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chargeCalculationType">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.type'"> Type</span> </th>
        <td mat-cell *matCellDef="let overdueCharge">
          {{ overdueCharge.chargeCalculationType.value }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.amount'"> Amount</span> </th>
        <td mat-cell *matCellDef="let overdueCharge">
          {{ overdueCharge.amount  }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chargeTimeType">
        <th mat-header-cell *matHeaderCellDef> <span [translate]="'modulo.labels.collectedon'">Collected On</span> </th>
        <td mat-cell *matCellDef="let overdueCharge">
          {{ overdueCharge.chargeTimeType.value }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="chargesDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: chargesDisplayedColumns;"></tr>

    </table>

  </div>

  <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.accounting'">Accounting</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.type'">Type</span>:</span>
    <span fxFlex="60%">{{ accountingRuleData[loanProduct.accountingRule-1] }}</span>
  </div>

  <div fxFlexFill *ngIf="loanProduct.accountingRule >= 2 && loanProduct.accountingRule <= 4" fxLayout="row wrap" fxLayout.lt-md="column">

    <h4 fxFlexFill class="mat-h4"><span [translate]="'modulo.labels.assetsliabilities'">Assets / Liabilities</span></h4>

    <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">
      <span fxFlex="40%"><span [translate]="'modulo.labels.fundsource'">Fund source</span>:</span>
      <span fxFlex="60%">{{ loanProduct.fundSourceAccountId | find:loanProductsTemplate.accountingMappingOptions.assetAndLiabilityAccountOptions:'id':'name' }}</span>
    </div>

    <h4 fxFlexFill class="mat-h4"><span [translate]="'modulo.labels.assets'">Assets</span></h4>

    <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">
      <span fxFlex="40%"><span [translate]="'modulo.labels.loanportfolio'">Loan portfolio</span>:</span>
      <span fxFlex="60%">{{ loanProduct.loanPortfolioAccountId | find:loanProductsTemplate.accountingMappingOptions.assetAccountOptions:'id':'name' }}</span>
      <div fxFlexFill *ngIf="loanProduct.accountingRule === 3 || loanProduct.accountingRule === 4" fxLayout="row wrap" fxLayout.lt-md="column">
        <span fxFlex="40%"><span [translate]="'modulo.labels.interestreceivable'">Interest Receivable</span>:</span>
        <span fxFlex="60%">{{ loanProduct.receivableInterestAccountId | find:loanProductsTemplate.accountingMappingOptions.assetAccountOptions:'id':'name' }}</span>
        <span fxFlex="40%"><span [translate]="'modulo.labels.feesreceivable'">Fees Receivable</span>:</span>
        <span fxFlex="60%">{{ loanProduct.receivableFeeAccountId | find:loanProductsTemplate.accountingMappingOptions.assetAccountOptions:'id':'name' }}</span>
        <span fxFlex="40%"><span [translate]="'modulo.labels.penalitiesreceivable'">Penalties Receivable</span>:</span>
        <span fxFlex="60%">{{ loanProduct.receivablePenaltyAccountId | find:loanProductsTemplate.accountingMappingOptions.assetAccountOptions:'id':'name' }}</span>
      </div>
      <span fxFlex="40%"><span [translate]="'modulo.labels.transfersuspense'">Transfer in suspense</span>:</span>
      <span fxFlex="60%">{{ loanProduct.transfersInSuspenseAccountId | find:loanProductsTemplate.accountingMappingOptions.assetAccountOptions:'id':'name' }}</span>
    </div>

    <h4 fxFlexFill class="mat-h4"><span [translate]="'modulo.labels.income'">Income</span></h4>

    <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">
      <span fxFlex="40%"><span [translate]="'modulo.labels.incomefrominterest'">Income from Interest</span>:</span>
      <span fxFlex="60%">{{ loanProduct.interestOnLoanAccountId | find:loanProductsTemplate.accountingMappingOptions.incomeAccountOptions:'id':'name' }}</span>
      <span fxFlex="40%"><span [translate]="'modulo.labels.incomefromfees'">Income from fees</span>:</span>
      <span fxFlex="60%">{{ loanProduct.incomeFromFeeAccountId | find:loanProductsTemplate.accountingMappingOptions.incomeAccountOptions:'id':'name' }}</span>
      <span fxFlex="40%"><span [translate]="'modulo.labels.incomefrompenalties'">Income from penalties</span>:</span>
      <span fxFlex="60%">{{ loanProduct.incomeFromPenaltyAccountId | find:loanProductsTemplate.accountingMappingOptions.incomeAccountOptions:'id':'name' }}</span>
      <span fxFlex="40%"><span [translate]="'modulo.labels.incomefromrecoveryrepay'">Income from Recovery Repayments</span>:</span>
      <span fxFlex="60%">{{ loanProduct.incomeFromRecoveryAccountId | find:loanProductsTemplate.accountingMappingOptions.incomeAccountOptions:'id':'name' }}</span>
    </div>

    <h4 fxFlexFill class="mat-h4"><span [translate]="'modulo.labels.expenses'">Expenses</span></h4>

    <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">
      <span fxFlex="40%"><span [translate]="'modulo.labels.losseswrittenoff'">Losses written off</span>:</span>
      <span fxFlex="60%">{{ loanProduct.writeOffAccountId | find:loanProductsTemplate.accountingMappingOptions.expenseAccountOptions:'id':'name' }}</span>
      <span fxFlex="40%"><span [translate]="'modulo.labels.goodwillcredit'">Goodwill credit</span>:</span>
      <span fxFlex="60%">{{ loanProduct.goodwillCreditAccountId | find:loanProductsTemplate.accountingMappingOptions.expenseAccountOptions:'id':'name' }}</span>
    </div>

    <h4 fxFlexFill class="mat-h4"><span [translate]="'modulo.labels.liabilities'">Liabilities</span></h4>

    <div fxFlexFill>
      <span fxFlex="40%"><span [translate]="'modulo.labels.overpaymentliability'">Over payment liability</span>:</span>
      <span fxFlex="60%">{{ loanProduct.overpaymentLiabilityAccountId | find:loanProductsTemplate.accountingMappingOptions.liabilityAccountOptions:'id':'name' }}</span>
    </div>

    <div *ngIf="loanProduct.advancedAccountingRules && (loanProduct.paymentChannelToFundSourceMappings?.length || loanProduct.feeToIncomeAccountMappings?.length || loanProduct.penaltyToIncomeAccountMappings?.length)" fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">

      <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.advancedaccountingrules'">Advanced Accounting Rules</span></h3>

      <mat-divider fxFlexFill></mat-divider>

      <div *ngIf="loanProduct.paymentChannelToFundSourceMappings?.length" fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">

        <h4 class="mat-h4" fxFlexFill><span [translate]="'modulo.labels.fundsourcepaymentchannels'">
          Fund Sources for Payment Channels</span></h4>

        <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="loanProduct.paymentChannelToFundSourceMappings">

          <ng-container matColumnDef="paymentTypeId">
            <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.paymenttype'"> Payment Type</span> </th>
            <td mat-cell *matCellDef="let paymentFundSource">
              {{ paymentFundSource.paymentTypeId | find:loanProductsTemplate.paymentTypeOptions:'id':'name' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fundSourceAccountId">
            <th mat-header-cell *matHeaderCellDef> 
              <span [translate]="'modulo.labels.fundsource'">Fund Source</span> </th>
            <td mat-cell *matCellDef="let paymentFundSource">
              {{ paymentFundSource.fundSourceAccountId | find:loanProductsTemplate.accountingMappingOptions.assetAccountOptions:'id':'name' }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="paymentFundSourceDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: paymentFundSourceDisplayedColumns;"></tr>

        </table>

      </div>

      <div *ngIf="loanProduct.feeToIncomeAccountMappings?.length" fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">

        <h4 class="mat-h4" fxFlexFill><span [translate]="'modulo.labels.feesspecincomeaccounts'">Fees to Specific Income Accounts</span></h4>

        <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="loanProduct.feeToIncomeAccountMappings">

          <ng-container matColumnDef="chargeId">
            <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.fees'"> Fees</span> </th>
            <td mat-cell *matCellDef="let feesIncome">
              {{ feesIncome.chargeId | find:loanProductsTemplate.chargeOptions:'id':'name' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="incomeAccountId">
            <th mat-header-cell *matHeaderCellDef> <span [translate]="'modulo.labels.incomeaccount'">Income Account</span> </th>
            <td mat-cell *matCellDef="let feesIncome">
              {{ feesIncome.incomeAccountId | find:loanProductsTemplate.accountingMappingOptions.incomeAccountOptions.concat(loanProductsTemplate.accountingMappingOptions.liabilityAccountOptions):'id':'name' }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="feesPenaltyIncomeDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: feesPenaltyIncomeDisplayedColumns;"></tr>

        </table>

      </div>

      <div *ngIf="loanProduct.penaltyToIncomeAccountMappings?.length" fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">

        <h4 class="mat-h4" fxFlexFill>
          <span [translate]="'modulo.labels.penaltiesspecincomeaccount'">Penalties to Specific Income Accounts</span></h4>

        <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="loanProduct.penaltyToIncomeAccountMappings">

          <ng-container matColumnDef="chargeId">
            <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.penalty'"> Penalty </span></th>
            <td mat-cell *matCellDef="let penaltyIncome">
              {{ penaltyIncome.chargeId  | find:loanProductsTemplate.penaltyOptions:'id':'name' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="incomeAccountId">
            <th mat-header-cell *matHeaderCellDef> <span [translate]="'modulo.labels.incomeaccount'">Income Account</span> </th>
            <td mat-cell *matCellDef="let penaltyIncome">
              {{ penaltyIncome.incomeAccountId | find:loanProductsTemplate.accountingMappingOptions.incomeAccountOptions:'id':'name' }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="feesPenaltyIncomeDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: feesPenaltyIncomeDisplayedColumns;"></tr>

        </table>

      </div>

    </div>

  </div>

</div>

<div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
  <button mat-raised-button matStepperPrevious>
    <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Previous'">Previous</span>
  </button>
  <button mat-raised-button [routerLink]="['../']">
    <span [translate]="'labels.buttons.Cancel'">Cancel</span>
  </button>
  <button mat-raised-button color="primary" (click)="submit.emit()">
    <span [translate]="'labels.buttons.Submit'">Submit</span>
  </button>
</div>
