<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="primary" [routerLink]="['../', 'edit']">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Edit'"> Edit</span>
  </button>
  <button mat-raised-button color="primary" [routerLink]="['../', 'list-account-transactions']" *mifosxHasPermission="'READ_ACCOUNTTRANSFER'">
    <span [translate]="'labels.buttons.Viewtransactionhistory'">View Transactions History</span>
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" fxLayout.lt-md="column">

        <h2 class="mat-h2" fxFlexFill>{{ standingInstructionsData.name }}</h2>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.applicant'">Applicant</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.fromClient.displayName }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.type'">Type</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.transferType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.priority'">Priority</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.priority.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.status'">Status</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.status.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.fromaccounttype'">From Account Type</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.fromAccountType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.fromaccount'">From Account</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.fromAccount.productName }} - {{ standingInstructionsData.fromAccount.accountNo }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.destination'">Destination</span>:</span>
          <span fxFlex="60%">
            <span *ngIf="allowclientedit"> <span [translate]="'modulo.type.withinbank'">Within Bank</span> </span>
            <span *ngIf="!allowclientedit"> <span [translate]="'modulo.type.ownaccount'">Own Account</span> </span>
          </span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.tooffice'">To Office</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.toOffice.name }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.beneficiary'">Beneficiary</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.toClient.displayName }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.toaccounttype'">To Account Type</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.toAccountType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.toaccount'">To Account</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.toAccount.productName }} - {{standingInstructionsData.toAccount.accountNo}}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.standinginsttype'">Standing Instruction Type</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.instructionType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.amount'">Amount</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.amount }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.validity'">Validity</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.validFrom  | dateFormat }} - {{ standingInstructionsData.validTill  | dateFormat }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.recurrencetype'">Recurrence type</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.recurrenceType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.interval'">Interval</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.recurrenceInterval }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.recurrencefrecuency'">Recurrence Frequency</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.recurrenceFrequency.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%"><span [translate]="'modulo.labels.onmonthday'">On Month Day</span>:</span>
          <span fxFlex="60%">{{ standingInstructionsData.recurrenceOnMonthDay  | dateFormat }}</span>
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
