<div class="container">

    <mat-card>

        <form [formGroup]="clientCollateralForm" (ngSubmit)="submit()">

            <mat-card-content>

                <div fxLayout="column">
                    
                    <div fxLayout="column">

                        <mat-form-field>
                            <mat-label>
                                <span [translate]="'modulo.labels.name'">Name</span></mat-label>
                            <input matInput required formControlName="name">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>
                                <span [translate]="'modulo.labels.quantity'">Quantity</span></mat-label>
                            <input matInput required formControlName="quantity">
                            <mat-error *ngIf="clientCollateralForm.controls.quantity.hasError('required')">
                                <span [innerHTML]="'modulo.validations.quantityrequired' | translate">
                                    Quantity is <strong>required</strong></span>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label><span [translate]="'modulo.labels.total'">Total</span></mat-label>
                            <input matInput required formControlName="total">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>
                                <span [translate]="'modulo.labels.totalcollateralvalue'">Total Collateral Value</span></mat-label>
                            <input matInput required formControlName="totalCollateral">
                        </mat-form-field>

                    </div>

                </div>

            </mat-card-content>

            <mat-card-actions fxLayoutGap="5px" fxLayout="row" fsLayout.xs="column" fxLayoutAlign="center">
                <button type="button" mat-raised-button [routerLink]="['../../']">
                    <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
                <button mat-raised-button color="primary" [disabled]="!clientCollateralForm.valid">
                    <span [translate]="'labels.buttons.Submit'">Submit</span></button> 
            </mat-card-actions>

        </form>
    
    </mat-card>

</div>