<div class="container">

  <mat-card>

    <form [formGroup]="editTransactionForm" (ngSubmit)="submit()">

      <mat-card-content fxLayout="column">

        <mat-form-field (click)="dueDatePicker.open()">
          <mat-label> <span [translate]="'modulo.loans.labels.transactiondate'">Transaction Date</span></mat-label>
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dueDatePicker"
            formControlName="transactionDate" required>
          <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #dueDatePicker></mat-datepicker>
          <mat-error *ngIf="editTransactionForm.controls.transactionDate.hasError('required')">
            <span [innerHTML]="'modulo.validations.transactiondaterequired' | translate">Transaction Date is <strong>required</strong></span>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label><span [translate]="'modulo.loans.labels.transactionamount'">Transaction Amount</span></mat-label>
          <input type="number" formControlName="transactionAmount" required matInput />
          <mat-error *ngIf="editTransactionForm.controls.transactionAmount.hasError('required')">
            <span [innerHTML]="'modulo.validations.transactionamountrequired' | translate">Transaction Amount is <strong>required</strong></span>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label><span [translate]="'modulo.loans.labels.paymenttype'">Payment Type</span></mat-label>
          <mat-select formControlName="paymentTypeId">
            <mat-option *ngFor="let paymentType of paymentTypeOptions" [value]="paymentType.id">
              {{ paymentType.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div fxLayoutGap="5px" fxLayout="row" fxLayout.xs="column">
          <mat-label fxFlexAlign="center"><span [translate]="'modulo.loans.labels.paymentdetail'">Show Payment Details</span></mat-label>
          <button type="button" mat-mini-fab color="primary" (click)="addPaymentDetails()">
            <fa-icon [icon]="!addPaymentDetailsFlag ? 'plus-circle' : 'minus-circle'" size="lg"></fa-icon>
          </button>
        </div>

        <mat-form-field *ngIf="editTransactionForm.controls['accountNumber']">
          <mat-label><span [translate]="'modulo.loans.labels.accountnumber'">Account Number</span></mat-label>
          <input type="number" formControlName="accountNumber" matInput />
        </mat-form-field>

        <mat-form-field *ngIf="editTransactionForm.controls['checkNumber']">
          <mat-label><span [translate]="'modulo.loans.labels.cheque'">Cheque</span></mat-label>
          <input type="number" formControlName="checkNumber" matInput />
        </mat-form-field>

        <mat-form-field *ngIf="editTransactionForm.controls['routingCode']">
          <mat-label><span [translate]="'modulo.loans.labels.routingcode'">Routing Code</span></mat-label>
          <input formControlName="routingCode" matInput />
        </mat-form-field>

        <mat-form-field *ngIf="editTransactionForm.controls['receiptNumber']">
          <mat-label><span [translate]="'modulo.loans.labels.receiptnumber'">Receipt Number</span></mat-label>
          <input formControlName="receiptNumber" matInput />
        </mat-form-field>

        <mat-form-field *ngIf="editTransactionForm.controls['bankNumber']">
          <mat-label><span [translate]="'modulo.loans.labels.bank'">Bank</span></mat-label>
          <input formControlName="bankNumber" matInput />
        </mat-form-field>

        <mat-card-actions fxLayoutGap="5px" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
          <button type="button" mat-raised-button [routerLink]="['../']">
            <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
          <button mat-raised-button color="primary" [disabled]="!editTransactionForm.valid">
            <span [translate]="'labels.buttons.Submit'">Submit</span></button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>
