<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" class="container m-b-20">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *mifosxHasPermission="'UPDATE_FINANCIALACTIVITYACCOUNT'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Edit'">Edit</span>
  </button>
  <button mat-raised-button color="warn" (click)="deleteFinancialActivityAccount()" *mifosxHasPermission="'DELETE_FINANCIALACTIVITYACCOUNT'">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Delete'">Delete</span>
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="header">
          <span [translate]="'modulo.labels.financialactivity'">Financial Activity</span>
        </div>

        <div fxFlex="50%">
          {{ financialActivityAccount?.financialActivityData.name }}
        </div>

        <div fxFlex="50%" class="header">
          <span [translate]="'modulo.labels.accountname'">Account Name</span>
        </div>

        <div fxFlex="50%">
          {{ financialActivityAccount?.glAccountData.name }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
