<div fxLayout="row wrap" fxLayout.lt-md="column">

  <h2 class="mat-h2" fxFlexFill>{{ shareProduct.name }}</h2>

  <mat-divider fxFlexFill></mat-divider>

  <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.details'">Details</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.shortname'">Short Name</span>:</span>
    <span fxFlex="60%">{{ shareProduct.shortName }}</span>
  </div>

  <div fxFlexFill *ngIf="shareProduct.description">
    <span fxFlex="40%"><span [translate]="'modulo.labels.description'">Description</span>:</span>
    <span fxFlex="60%">{{ shareProduct.description }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.currency'">Currency</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.currency'">Currency</span>:</span>
    <span fxFlex="60%">{{ shareProduct.currencyCode | find:shareProductsTemplate.currencyOptions:'code':'name' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.decimalplaces'">Decimal Places</span>:</span>
    <span fxFlex="60%">{{ shareProduct.digitsAfterDecimal }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.currencymultiplesof'">Currency in multiples of</span>:</span>
    <span fxFlex="60%">{{ shareProduct.inMultiplesOf }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.terms'">Terms</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.totalnumbershares'">Total Number of Shares</span>:</span>
    <span fxFlex="60%">{{ shareProduct.totalShares }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.sharesissued'">Shares to be Issued</span>:</span>
    <span fxFlex="60%">{{ shareProduct.sharesIssued }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.nominalunitprice'">Nominal/Unit Price</span>:</span>
    <span fxFlex="60%">{{ shareProduct.unitPrice }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.capitalvalue'">Capital Value</span>:</span>
    <span fxFlex="60%">{{ shareProduct.shareCapital }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.settings'">Settings</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.shareperclient'">Shares per Client</span>:</span>
    <span fxFlex="60%">{{ shareProduct.nominalShares + ' (Min: ' + (shareProduct.minimumShares ? shareProduct.minimumShares : shareProduct.nominalShares) + ', Max: ' + (shareProduct.maximumShares ? shareProduct.maximumShares : shareProduct.nominalShares) + ')' }}</span>
  </div>

  <div fxFlexFill *ngIf="shareProduct.minimumActivePeriodForDividends">
    <span fxFlex="40%"><span [translate]="'modulo.labels.minactiveperiod'">Minimum Active Period</span>:</span>
    <span fxFlex="60%">{{ shareProduct.minimumActivePeriodForDividends + ' ' + (shareProduct.minimumactiveperiodFrequencyType | find:shareProductsTemplate.minimumActivePeriodFrequencyTypeOptions:'id':'value') }}</span>
  </div>

  <div fxFlexFill *ngIf="shareProduct.lockinPeriodFrequency">
    <span fxFlex="40%"><span [translate]="'modulo.labels.lockinperiod'">Lock-in Period</span>:</span>
    <span fxFlex="60%">{{ shareProduct.lockinPeriodFrequency + ' ' + (shareProduct.lockinPeriodFrequencyType | find:shareProductsTemplate.lockinPeriodFrequencyTypeOptions:'id':'value') }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.allowdividendsinactiveclients'">Allow dividends for inactive clients</span>:</span>
    <span fxFlex="60%">{{ (shareProduct.allowDividendCalculationForInactiveClients ? 'Yes' : 'No') | translate  }}</span>
  </div>

  <div fxFlexFill *ngIf="shareProduct.marketPricePeriods.length" fxLayout="row wrap" fxLayout.lt-md="column">

    <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.marketpriceperiods'">Market Price Periods</span></h3>

    <mat-divider fxFlexFill></mat-divider>

    <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="shareProduct.marketPricePeriods">

      <ng-container matColumnDef="fromDate">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'modulo.labels.fromdate'"> From Date</span> </th>
        <td mat-cell *matCellDef="let marketPricePeriod">
          {{ marketPricePeriod.fromDate  | dateFormat }}
        </td>
      </ng-container>

      <ng-container matColumnDef="shareValue">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'modulo.labels.nominalunitprice'"> Nominal/Unit Price</span> </th>
        <td mat-cell *matCellDef="let marketPricePeriod">
          {{ marketPricePeriod.shareValue }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="marketPriceDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: marketPriceDisplayedColumns;"></tr>

    </table>

  </div>

  <div fxFlexFill *ngIf="shareProduct.chargesSelected.length" fxLayout="row wrap" fxLayout.lt-md="column">

    <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.charges'">Charges</span></h3>

    <mat-divider fxFlexFill></mat-divider>

    <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="shareProduct.chargesSelected">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'modulo.labels.name'"> Name</span> </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.name + ', ' + charge.currency.displaySymbol }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chargeCalculationType">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'modulo.labels.type'"> Type</span> </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.chargeCalculationType.value }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'modulo.labels.amount'"> Amount </span></th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.amount  }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chargeTimeType">
        <th mat-header-cell *matHeaderCellDef> 
          <span [translate]="'modulo.labels.collectedon'">Collected On</span> </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.chargeTimeType.value }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="chargesDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: chargesDisplayedColumns;"></tr>

    </table>

  </div>

  <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.accounting'">Accounting</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.type'">Type</span>:</span>
    <span fxFlex="60%">{{ accountingRuleData[shareProduct.accountingRule-1] }}</span>
  </div>

  <div fxFlexFill *ngIf="shareProduct.accountingRule === 2" fxLayout="row wrap" fxLayout.lt-md="column">

    <h4 fxFlexFill class="mat-h4">Assets</h4>

    <div fxFlexFill>
      <span fxFlex="40%"><span [translate]="'modulo.labels.sharereference'">Share reference</span>:</span>
      <span fxFlex="60%">{{ shareProduct.shareReferenceId | find:shareProductsTemplate.accountingMappingOptions.assetAccountOptions:'id':'name' }}</span>
    </div>

    <h4 fxFlexFill class="mat-h4"><span [translate]="'modulo.labels.liabilities'">Liabilities</span></h4>

    <div fxFlexFill>
      <span fxFlex="40%"><span [translate]="'modulo.labels.sharesuspensecontrol'">Share suspense control</span>:</span>
      <span fxFlex="60%">{{ shareProduct.shareSuspenseId | find:shareProductsTemplate.accountingMappingOptions.liabilityAccountOptions:'id':'name' }}</span>
    </div>

    <h4 fxFlexFill class="mat-h4"><span [translate]="'modulo.labels.sharedequity'">Share Equity</span></h4>

    <div fxFlexFill>
      <span fxFlex="40%"><span [translate]="'modulo.labels.equity'">Equity</span>:</span>
      <span fxFlex="60%">{{ shareProduct.shareEquityId | find:shareProductsTemplate.accountingMappingOptions.equityAccountOptions:'id':'name' }}</span>
    </div>

    <h4 fxFlexFill class="mat-h4"><span [translate]="'modulo.labels.income'">Income</span></h4>

    <div fxFlexFill>
      <span fxFlex="40%"><span [translate]="'modulo.labels.incomefromfees'">Income from fees</span>:</span>
      <span fxFlex="60%">{{ shareProduct.incomeFromFeeAccountId | find:shareProductsTemplate.accountingMappingOptions.incomeAccountOptions:'id':'name' }}</span>
    </div>

  </div>

</div>

<div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
  <button mat-raised-button matStepperPrevious>
    <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Previous'">Previous</span>
  </button>
  <button mat-raised-button [routerLink]="['../']">
    <span [translate]="'labels.buttons.Cancel'">Cancel</span>
  </button>
  <button mat-raised-button color="primary" (click)="submit.emit()" *mifosxHasPermission="taskPermission">
    <span [translate]="'labels.buttons.Submit'">Submit</span>
  </button>
</div>
