<div class="container">

  <mat-card>

    <form [formGroup]="amazonS3ConfigurationForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.s3bucketname'">S3 Bucket Name</span></mat-label>
            <input matInput required formControlName="s3_bucket_name">
            <mat-error *ngIf="amazonS3ConfigurationForm.controls.s3_bucket_name.hasError('required')">
              <span [innerHTML]="'modulo.validations.s3bucketnamerequired' | translate">
                S3 Bucket Name is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.s3accesskey'">S3 Access Key</span></mat-label>
            <input matInput required type="{{ accessKeyInputType }}" formControlName="s3_access_key">
            <button mat-button *ngIf="amazonS3ConfigurationForm.controls.s3_access_key.value" matSuffix mat-icon-button
              (mousedown)="accessKeyInputType = 'text'" (mouseup)="accessKeyInputType = 'password'">
              <fa-icon *ngIf="accessKeyInputType === 'password'" icon="eye"></fa-icon>
              <fa-icon *ngIf="accessKeyInputType === 'text'" icon="eye-slash"></fa-icon>
            </button>
            <mat-error *ngIf="amazonS3ConfigurationForm.controls.s3_access_key.hasError('required')">
              <span [innerHTML]="'modulo.validations.s3accesskeyrequired' | translate">
                S3 Access Key is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.s3secretkey'">S3 Secret Key</span></mat-label>
            <input matInput required type="{{ secretKeyInputType }}" formControlName="s3_secret_key">
            <button mat-button *ngIf="amazonS3ConfigurationForm.controls.s3_secret_key.value" matSuffix mat-icon-button
              (mousedown)="secretKeyInputType = 'text'" (mouseup)="secretKeyInputType = 'password'">
              <fa-icon *ngIf="secretKeyInputType === 'password'" icon="eye"></fa-icon>
              <fa-icon *ngIf="secretKeyInputType === 'text'" icon="eye-slash"></fa-icon>
            </button>
            <mat-error *ngIf="amazonS3ConfigurationForm.controls.s3_secret_key.hasError('required')">
              <span [innerHTML]="'modulo.validations.s3secretkeyrequired' | translate">
                S3 Secret Key is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">
          <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
        <button mat-raised-button color="primary" [disabled]="!amazonS3ConfigurationForm.valid || amazonS3ConfigurationForm.pristine">
          <span [translate]="'labels.buttons.Submit'">Submit</span></button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
