<div class="tab-container mat-typography">

  <h3><span [translate]="'modulo.labels.groupdetails'">Group Details</span></h3>

  <div fxLayout="row" fxLayoutGap="32px" class="group-details-container m-b-30">
    <p>
      <span [translate]="'modulo.labels.activeclientloans'">Active Client Loans</span>: {{groupSummary?.activeClientLoans}}<br/>
      <span [translate]="'modulo.labels.activeclientborrowers'">Active Client Borrowers</span>: {{groupSummary?.activeClientBorrowers}}<br/>
      <span [translate]="'modulo.labels.activeoverdueclientloans'">Active Overdue Client Loans</span>: {{groupSummary?.overdueClientLoans}}<br/>
    </p>
    <p>
      <span [translate]="'modulo.labels.activegrouploans'">Active Group Loans</span>: {{groupSummary?.activeGroupLoans}}<br/>
      <span [translate]="'modulo.labels.activegroupborrowers'">Active Group Borrowers</span>: {{groupSummary?.activeGroupBorrowers}}<br/>
      <span [translate]="'modulo.labels.activeoverduegrouploans'">Active Overdue Group Loans</span>: {{groupSummary?.overdueGroupLoans}}<br/>
    </p>
    <p>
      <span [translate]="'modulo.labels.activeclients'">Active Clients</span>: {{groupSummary?.activeClients}}<br/>
    </p>
  </div>

  <!-- Client Members Table -->
  <div *ngIf="groupClientMembers">

    <h3><span [translate]="'modulo.labels.clientmembers'">Client Members</span></h3>

    <table mat-table [dataSource]="groupClientMembers"
      class="mat-elevation-z1 m-b-30">

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.name'"> Name </span></th>
        <td mat-cell *matCellDef="let element">
          <i class="fa fa-stop" [ngClass]="element.status.code|statusLookup" [matTooltip]="element.status.value | translate"></i>
          {{element.displayName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Account No">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.accountno'"> Account No.</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.accountNo}} </td>
      </ng-container>

      <ng-container matColumnDef="Office">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.office'"> Office</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.officeName}} </td>
      </ng-container>

      <ng-container matColumnDef="JLG Loan Application">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'modulo.labels.jlgloanapplication'"> JLG Loan Application </span></th>
        <td mat-cell *matCellDef="let element">
          <div class="m-l-30" *ngIf="element.status.code !== 'clientStatusType.closed'">
            <button class="account-action-button" mat-raised-button color="primary">
              <i class="fa fa-plus" matTooltip="{{'modulo.labels.newloanappliaction' | translate}}"></i>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="clientMemberColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: clientMemberColumns;" [routerLink]="['/clients', row.id, 'loans-accounts', 'create']" class="select-row"></tr>

    </table>

  </div>

  <div *ngIf="loanAccounts">

    <div fxLayout="row" fxLayoutAlign="start" class="table-header">
      <div class="m-b-10">
        <h3><span [translate]="'modulo.labels.loanaccounts'">Loan Accounts</span></h3>
      </div>
      <div *ngIf="(loanAccounts|accountsFilter:'loan':'closed').length" class="action-button m-b-10">
        <button mat-raised-button class="f-right" color="primary"
      (click)="toggleLoanAccountsOverview()">
      {{(showClosedLoanAccounts?'modulo.labels.viewactiveaccounts':'modulo.labels.viewclosedaccounts') | translate}}</button>
      </div>
    </div>

    <!-- Open Loan Accounts Table -->
    <table *ngIf="!showClosedLoanAccounts" mat-table [dataSource]="loanAccounts|accountsFilter:'loan'"
      class="mat-elevation-z1 m-b-30">

      <ng-container matColumnDef="Account No">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.accountno'"> Account No.</span> </th>
        <td mat-cell *matCellDef="let element"> <i class="fa fa-stop"
            [ngClass]="element.inArrears?'status-active-overdue':(element.status.code|statusLookup)"
            [matTooltip]="element.inArrears?'Active Overdue':element.status.value"></i>
          {{element.accountNo}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Loan Account">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.loanaccount'"> Loan Account</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

      <ng-container matColumnDef="Original Loan">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.originalloan'"> Original Loan</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.originalLoan}} </td>
      </ng-container>

      <ng-container matColumnDef="Loan Balance">
        <th mat-header-cell *matHeaderCellDef> <span [translate]="'modulo.labels.loanbalance'">Loan Balance</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.loanBalance}} </td>
      </ng-container>

      <ng-container matColumnDef="Amount Paid">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.amountpaid'"> Amount Paid</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.amountPaid}} </td>
      </ng-container>

      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.type'"> Type </span></th>
        <td mat-cell *matCellDef="let element">
          <i class="fa fa-large" [ngClass]="(element.loanType.value==='Individual')?'fa-user':'fa-group'"
          matTooltip="{{((element.loanType.value==='Individual')?'modulo.labels.individual':'modulo.labels.group') | translate}}"></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> 
          <span [translate]="'header.actions'">Actions</span> </th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="element.status.active" class="account-action-button" mat-raised-button color="primary">
            <i class="fa fa-dollar" matTooltip="{{'modulo.labels.makerepayment' | translate}}"></i>
          </button>
          <button *ngIf="element.status.pendingApproval" class="account-action-button" mat-raised-button color="primary">
            <i class="fa fa-check" matTooltip="{{'modulo.labels.approve' | translate}}"></i>
          </button>
          <button *ngIf="!element.status.pendingApproval && !element.status.active && !element.status.overpaid"
            class="account-action-button" mat-raised-button color="primary">
            <i class="fa fa-flag" matTooltip="{{'modulo.labels.disburse' | translate}}"></i>
          </button>
          <button *ngIf="!element.status.pendingApproval && !element.status.active && element.status.overpaid"
            class="account-action-button" mat-raised-button color="primary">
            <i class="fa fa-exchange" matTooltip="{{'modulo.labels.transferfunds' | translate}}"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="openLoansColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: openLoansColumns;" [routerLink]="['../', 'loans-accounts', row.id, 'general']"></tr>

    </table>

    <!-- Closed Loan Accounts Table-->
    <table *ngIf="showClosedLoanAccounts" mat-table [dataSource]="loanAccounts|accountsFilter:'loan':'closed'"
      class="mat-elevation-z1 m-b-30">

      <ng-container matColumnDef="Account No">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.accountno'"> Account No.</span> </th>
        <td mat-cell *matCellDef="let element"> <i class="fa fa-stop"
            [ngClass]="element.inArrears?'status-active-overdue':(element.status.code|statusLookup)"
            [matTooltip]="element.inArrears?'Active Overdue':element.status.value"></i>
          {{element.accountNo}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Loan Account">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.loanaccount'"> Loan Account</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

      <ng-container matColumnDef="Original Loan">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.originalloan'"> Original Loan</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.lastActiveTransactionDate  | dateFormat}} </td>
      </ng-container>

      <ng-container matColumnDef="Loan Balance">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.loanbalance'">Loan Balance </span></th>
        <td mat-cell *matCellDef="let element"> {{element.loanBalance}} </td>
      </ng-container>

      <ng-container matColumnDef="Amount Paid">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.amountpaid'"> Amount Paid</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.accountBalance}} </td>
      </ng-container>

      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.type'"> Type</span> </th>
        <td mat-cell *matCellDef="let element">
          <i class="fa fa-large" [ngClass]="(element.loanType.value=== 'Individual')?'fa-user':'fa-group'"
          matTooltip="{{((element.loanType.value==='Individual')?'modulo.labels.individual':'modulo.labels.group') | translate}}"></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="Closed Date">
        <th mat-header-cell *matHeaderCellDef> <span [translate]="'modulo.labels.closeddate'">Closed Date</span> </th>
        <td mat-cell *matCellDef="let element">{{element.timeline.closedOnDate  | dateFormat}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="closedLoansColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: closedLoansColumns;" [routerLink]="['../', 'loans-accounts', row.id, 'general']"></tr>

    </table>

  </div>

  <div *ngIf="gsimAccounts">

    <div fxLayout="row" fxLayoutAlign="start" class="table-header">
      <div class="m-b-10">
        <h3><span [translate]="'modulo.labels.gsimaccountoverview'">GSIM Account Overview</span></h3>
      </div>
    </div>

    <!-- GSIM Accounts Table -->
    <table mat-table [dataSource]="gsimAccounts"
      class="mat-elevation-z1 m-b-30">

      <ng-container matColumnDef="GSIM Id">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.gsimid'"> GSIM Id</span> </th>
        <td mat-cell *matCellDef="let element">
          {{element.gsimId}} </td>
      </ng-container>

      <ng-container matColumnDef="Account Number">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.accountnumber'"> Account Number</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="Product">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.product'"> Product</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.childGSIMAccounts[0].productName}}</td>
      </ng-container>

      <ng-container matColumnDef="Balance">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.balance'"> Balance</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.parentBalance}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.status'"> Status</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.savingsStatus}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="gsimAccountsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: gsimAccountsColumns;" [routerLink]="['../', 'savings-accounts', 'gsim-account', row.accountNumber]"></tr>

    </table>

  </div>

  <div *ngIf="glimAccounts">

    <div fxLayout="row" fxLayoutAlign="start" class="table-header">
      <div class="m-b-10">
        <h3><span [translate]="'modulo.labels.glimloansaccountoverview'">GLIM Loans Account Overview</span></h3>
      </div>
    </div>

    <!-- GLIM Loans Accounts Table -->
    <table mat-table [dataSource]="glimAccounts"
      class="mat-elevation-z1 m-b-30">

      <ng-container matColumnDef="GLIM Id">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.glimid'"> GLIM Id</span> </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.glimId}} </td>
      </ng-container>

      <ng-container matColumnDef="Account Number">
        <th mat-header-cell *matHeaderCellDef> <span [translate]="'modulo.labels.accountnumber'">Account Number</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="Product">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.product'"> Product</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.childGLIMAccounts[0].productName}} </td>
      </ng-container>

      <ng-container matColumnDef="Original Loan">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.originalloan'"> Original Loan</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.parentPrincipalAmount}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.status'"> Status</span> </th>
        <td mat-cell *matCellDef="let element">{{element.loanStatus}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="glimAccountsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: glimAccountsColumns;" [routerLink]="['../', 'loans-accounts', 'glim-account', row.glimId]"></tr>

    </table>

  </div>

  <div *ngIf="savingAccounts">

    <div fxLayout="row" fxLayoutAlign="start" class="table-header">
      <div class="m-b-10">
        <h3><span [translate]="'modulo.labels.savingaccounts'">Saving Accounts</span></h3>
      </div>
      <div class="action-button m-b-10">
        <button *ngIf="(savingAccounts|accountsFilter:'saving':'closed').length" mat-raised-button class="f-right" color="primary"
        (click)="toggleSavingAccountsOverview()">
        {{(showClosedSavingAccounts?'modulo.labels.viewactiveaccounts':'modulo.labels.viewclosedaccounts') | translate}}</button>
      </div>
    </div>

    <!-- Open Savings Accounts Table -->
    <table *ngIf="!showClosedSavingAccounts" mat-table [dataSource]="savingAccounts|accountsFilter:'saving'"
      class="mat-elevation-z1 m-b-30">

      <ng-container matColumnDef="Account No">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.accountno'"> Account No.</span> </th>
        <td mat-cell *matCellDef="let element"> <i class="fa fa-stop" [ngClass]="element.status.code|statusLookup" 
          [matTooltip]="element.status.value"></i>
          {{element.accountNo}} </td>
      </ng-container>

      <ng-container matColumnDef="Saving Account">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.savingaccount'"> Saving Account</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

      <ng-container matColumnDef="Last Active">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.lastactive'"> Last Active</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.lastActiveTransactionDate  | dateFormat}} </td>
      </ng-container>

      <ng-container matColumnDef="Balance">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.balance'"> Balance </span></th>
        <td mat-cell *matCellDef="let element"> {{element.accountBalance}} </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>
          <span [translate]="'header.actions'"> Actions </span></th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="element.status.active" class="account-action-button" mat-raised-button color="primary"
            (click)="routeEdit($event)" [routerLink]="['../','savings-accounts', element.id, 'actions', 'Deposit']">
            <i class="fa fa-arrow-up" matTooltip="{{'modulo.labels.deposit' | translate}}"></i>
          </button>
          <button *ngIf="element.status.active" class="account-action-button" mat-raised-button color="primary"
            (click)="routeEdit($event)" [routerLink]="['../','savings-accounts', element.id, 'actions', 'Withdrawal']">
            <i class="fa fa-arrow-down" matTooltip="{{'modulo.labels.withdraw' | translate}}"></i>
          </button>
          <button *ngIf="element.status.submittedAndPendingApproval" class="account-action-button" mat-raised-button color="primary"
            (click)="routeEdit($event)" [routerLink]="['../','savings-accounts', element.id, 'actions', 'Approve']">
            <i class="fa fa-check" matTooltip="{{'modulo.labels.approve' | translate}}"></i>
          </button>
          <button *ngIf="!element.status.submittedAndPendingApproval && !element.status.active"
            class="account-action-button" mat-raised-button color="primary"
            (click)="routeEdit($event)" [routerLink]="['../','savings-accounts', element.id, 'actions', 'Undo Approval']">
            <i class="fa fa-undo" matTooltip="{{'modulo.labels.undoapproval' | translate}}"></i>
          </button>
          <button *ngIf="!element.status.submittedAndPendingApproval && !element.status.active"
            class="account-action-button" mat-raised-button color="primary"
            (click)="routeEdit($event)" [routerLink]="['../','savings-accounts', element.id, 'actions', 'Activate']">
            <i class="fa fa-check-circle" matTooltip="{{'modulo.labels.activate' | translate}}"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="openSavingsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: openSavingsColumns;" [routerLink]="['../', 'savings-accounts', row.id, 'transactions']"></tr>

    </table>

    <!-- Closed Saving Accounts Table -->
    <table *ngIf="showClosedSavingAccounts" mat-table [dataSource]="savingAccounts|accountsFilter:'saving':'closed'"
      class="mat-elevation-z1 m-b-30">

      <ng-container matColumnDef="Account No">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.accountno'"> Account No.</span> </th>
        <td mat-cell *matCellDef="let element"> <i class="fa fa-stop" [ngClass]="element.status.code|statusLookup" [matTooltip]="element.status.value"></i>
          {{element.accountNo}} </td>
      </ng-container>

      <ng-container matColumnDef="Saving Account">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.savingaccount'"> Saving Account</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

      <ng-container matColumnDef="Closed Date">
        <th mat-header-cell *matHeaderCellDef><span [translate]="'modulo.labels.closeddate'"> Closed Date</span> </th>
        <td mat-cell *matCellDef="let element">{{element.timeline.closedOnDate  | dateFormat}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="closedSavingsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: closedSavingsColumns;" [routerLink]="['../', 'savings-accounts', row.id, 'transactions']"></tr>

    </table>

  </div>

</div>
