<h1 mat-dialog-title><span [translate]="'modulo.labels.enable'">Enable</span></h1>
<div mat-dialog-content>
  <p><span [translate]="'modulo.description.enablegenericq'" [translateParams]="{ enableContext: data.enableContext }">
    Are you sure you want to enable {{ data.enableContext }} ?</span></p>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close><span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
  <button mat-raised-button color="warn" [mat-dialog-close]="{ enable: true }">
    <span [translate]="'labels.buttons.Confirm'">Confirm</span></button>
</mat-dialog-actions>
