<div class="container">

  <mat-card>

    <mat-card-content>

      <mat-form-field fxFlex>
        <mat-label><span [translate]="'modulo.loans.labels.note'">Note</span></mat-label>
        <textarea matInput [formControl]="note"></textarea>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
      <button type="button" mat-raised-button [routerLink]="['../../general']">
        <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
      <button mat-raised-button color="primary" (click)="submit()"
        *mifosxHasPermission="'APPROVALUNDO_LOAN'">
        <span [translate]="'labels.buttons.Submit'">Submit</span></button>
    </mat-card-actions>

  </mat-card>

</div>
