<div class="container">

  <mat-card>

    <form [formGroup]="employeeForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div #createEmployeeFormRef fxLayout="column">
          
          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.office'">Office</span></mat-label>
            <mat-select required formControlName="officeId">
              <mat-option *ngFor="let office of officeData" [value]="office.id">
                {{ office.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="employeeForm.controls.officeId.hasError('required')">
              <span [innerHTML]="'modulo.validations.officerequired' | translate">
                Office is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.firstname'">First Name</span></mat-label>
            <input matInput required formControlName="firstname">
            <mat-error *ngIf="employeeForm.controls.firstname.hasError('required')">
              <span [innerHTML]="'modulo.validations.firstnamerequired' | translate">
                First Name is <strong>required</strong></span>
            </mat-error>
            <mat-error *ngIf="employeeForm.controls.firstname.hasError('pattern')">
              <span [innerHTML]="'modulo.validations.firstnamespecialchar' | translate">
                First Name <strong>cannot</strong> begin with a special character or number</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.lastname'">Last Name</span></mat-label>
            <input matInput required formControlName="lastname">
            <mat-error *ngIf="employeeForm.controls.lastname.hasError('required')">
              <span [innerHTML]="'modulo.validations.lastnamerequired' | translate">
                Last Name is <strong>required</strong></span>
            </mat-error>
            <mat-error *ngIf="employeeForm.controls.lastname.hasError('pattern')">
              <span [innerHTML]="'modulo.validations.lastnamespecialchar' | translate">
                Last Name <strong>cannot</strong> begin with a special character or number</span>
            </mat-error>
          </mat-form-field>

          <mat-checkbox labelPosition="before" formControlName="isLoanOfficer" class="loan-officer">
            <span [translate]="'modulo.labels.isloanofficer'">Is Loan Officer</span>
          </mat-checkbox>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.mobilenumbersms'">Mobile Number for SMS</span></mat-label>
            <input matInput formControlName="mobileNo">
          </mat-form-field>

          <mat-form-field (click)="joiningDatePicker.open()">
            <mat-label><span [translate]="'modulo.labels.joiningdate'">Joining Date</span></mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="joiningDatePicker" required formControlName="joiningDate">
            <mat-datepicker-toggle matSuffix [for]="joiningDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #joiningDatePicker></mat-datepicker>
            <mat-error *ngIf="employeeForm.controls.joiningDate.hasError('required')">
              <span [innerHTML]="'modulo.validations.joiningdaterequired' | translate">
                Joining Date is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">
          <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
        <button mat-raised-button color="primary" [disabled]="!employeeForm.valid" *mifosxHasPermission="'CREATE_STAFF'">
          <span [translate]="'labels.buttons.Submit'">Submit</span></button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>

<ng-template #templateCreateEmployeeForm let-popover="popover">
  <h2><span [translate]="'modulo.labels.createemployee'">Create Employee</span></h2>
  <p class="mw400">
    <span [innerHTML]="'modulo.description.startfillingdetails' | translate">
      Click to start filling the details. * mark fields are neccessary. <br> For more details click: <a href="https://mifosforge.jira.com/wiki/spaces/docs/pages/67141732/Manage+Employees" target="_blank">Manage Employees</a>
    </span>
  </p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close()">
      <span [translate]="'labels.buttons.CreateEmployee'">Create Employee</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStep()">
      <span [translate]="'labels.buttons.Back'">Back</span></button> 
    <button mat-raised-button color="primary" (click)="popover.close();nextStep()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>
