<form [formGroup]="shareProductSettingsForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <h4 fxFlex="98%" class="mat-h4"><span [translate]="'modulo.labels.shareperclient'">Shares per Client</span></h4>

    <mat-form-field fxFlex="31%">
      <mat-label><span [translate]="'modulo.labels.minimum'">Minimum</span></mat-label>
      <input type="number" matInput formControlName="minimumShares">
    </mat-form-field>

    <mat-form-field fxFlex="31%">
      <mat-label><span [translate]="'modulo.labels.default'">Default</span></mat-label>
      <input type="number" matInput formControlName="nominalShares" required>
      <mat-error>
        <span [innerHTML]="'modulo.validations.defaultsharesperclientrequired' | translate">
          Default Shares per Client is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="31%">
      <mat-label><span [translate]="'modulo.labels.maximum'">Maximum</span></mat-label>
      <input type="number" matInput formControlName="maximumShares">
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4"><span [translate]="'modulo.labels.minactiveperiod'">Minimum Active Period</span></h4>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.frequency'">Frequency</span></mat-label>
      <input type="number" matInput formControlName="minimumActivePeriodForDividends">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.type'">Type</span></mat-label>
      <mat-select formControlName="minimumactiveperiodFrequencyType">
        <mat-option *ngFor="let minimumActivePeriodFrequencyType of minimumActivePeriodFrequencyTypeData" [value]="minimumActivePeriodFrequencyType.id">
          {{ minimumActivePeriodFrequencyType.value | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4"><span [translate]="'modulo.labels.lockinperiod'">Lock-in Period</span></h4>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.frequency'">Frequency</span></mat-label>
      <input type="number" matInput formControlName="lockinPeriodFrequency">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.type'">Type</span></mat-label>
      <mat-select formControlName="lockinPeriodFrequencyType">
        <mat-option *ngFor="let lockinPeriodFrequencyType of lockinPeriodFrequencyTypeData" [value]="lockinPeriodFrequencyType.id">
          {{ lockinPeriodFrequencyType.value | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox fxFlex="98%" class="margin-v" labelPosition="before" formControlName="allowDividendCalculationForInactiveClients">
      <span [translate]="'modulo.labels.allowdividendsinactiveclients'">Allow dividends for inactive clients</span>
    </mat-checkbox>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      <span [translate]="'labels.buttons.Previous'">Previous</span>
    </button>
    <button mat-raised-button matStepperNext>
     <span [translate]="'labels.buttons.Next'"> Next</span>&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
