<mat-card class="shares-account-card">

  <mat-card-header fxLayout="column" class="header">

    <mat-card-title-group class="header-title-group">

      <div class="profile-image-container">
        <div>
          <img mat-card-md-image class="profile-image"
            matTooltip="{{'modulo.labels.sharesaccount' | translate}}"
            src="assets/images/shares_account_placeholder.png">
        </div>
      </div>

      <div class="mat-typography account-card-title">
        <mat-card-title>
          <h3>
            <i class="fa fa-stop" [ngClass]="sharesAccountData.status.code | statusLookup" 
            [matTooltip]="sharesAccountData.status.value"></i>
              <span [translate]="'modulo.labels.accountname'">Account Name</span> : {{sharesAccountData.productName}}
          </h3>
        </mat-card-title>
        <mat-card-subtitle>
          <p>
            <span [translate]="'modulo.labels.account'">Account </span>#: {{sharesAccountData.accountNo}} | 
            <span [translate]="'modulo.labels.clientname'">Client Name</span>: {{sharesAccountData.clientName}}<br/>
            <span [translate]="'modulo.labels.currentmarketprice'">Current Market Price</span>: {{sharesAccountData.currency.displaySymbol}}&nbsp;{{sharesAccountData.currentMarketPrice}}<br/>
            <span [translate]="'modulo.labels.lockinperiod'">Lockin Period</span>: {{sharesAccountData.lockinPeriod ? sharesAccountData.lockinPeriod : 'N/A'}} 
            {{sharesAccountData.lockinPeriod ? sharesAccountData.lockPeriodTypeEnum.value : ''}} 
          </p>
        </mat-card-subtitle>
      </div>

    </mat-card-title-group>

    <mat-card-actions class="account-actions">

      <ng-container *ngFor="let button of buttonConfig.singleButtons">
        <button mat-raised-button *mifosxHasPermission="button.taskPermissionName" (click)="doAction(button.name)">
          <i class="{{button.icon}}"></i> {{button.name}}</button>
      </ng-container>
  
      <ng-container *ngIf="buttonConfig.options.length">
        <button mat-raised-button [matMenuTriggerFor]="More">
          <span [translate]="'modulo.labels.more'">More</span></button>
        <mat-menu #More="matMenu">
        <span *ngFor="let option of buttonConfig.options">
          <button mat-menu-item *mifosxHasPermission="option.taskPermissionName" (click)="doAction(option.name)">{{option.name}}</button>
        </span>
        </mat-menu>
      </ng-container>
  
    </mat-card-actions>

  </mat-card-header>

  <mat-card-content class="content">

    <div class="shares-account-tables" fxLayout="row" fxLayoutGap="2%">

      <div fxFlex="49%">
        <h4 class="table-headers"><span [translate]="'modulo.labels.sharesdetails'">Shares Details</span></h4>
        <table>
          <tbody>
            <tr>
              <td><span [translate]="'modulo.labels.activatedon'">Activated On</span></td>
              <td>{{sharesAccountData.timeline.activatedOnDate ? (sharesAccountData.timeline.activatedOnDate  | dateFormat) : 'Not Activated'}}</td>
            </tr>
            <tr>
              <td><span [translate]="'modulo.labels.currency'">Currency</span></td>
              <td>{{sharesAccountData.currency.name}} [{{sharesAccountData.currency.code}}]</td>
            </tr>
            <tr>
              <td><span [translate]="'modulo.labels.externalid'">External Id</span></td>
              <td>{{sharesAccountData.externalId ? sharesAccountData.externalId : ('modulo.labels.notprovided' | translate)}}</td>
            </tr>
            <tr>
              <td><span [translate]="'modulo.labels.linkedsavingsaccountdividend'">Linked Savings Account(Dividend Posting)</span></td>
              <td>{{sharesAccountData.savingsAccountNumber ? sharesAccountData.savingsAccountNumber : ('modulo.labels.unassigned' | translate)}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div fxFlex="49%">
        <h4 class="table-headers"><span [translate]="'modulo.labels.accountsummary'">Account Summary</span></h4>
        <table>
          <tbody>
            <tr>
              <td><span [translate]="'modulo.labels.approvedshares'">Approved Shares</span></td>
              <td>{{sharesAccountData.summary.totalApprovedShares}}</td>
            </tr>
            <tr>
              <td><span [translate]="'modulo.labels.pendingapprovalshares'">Pending for Approval Shares</span></td>
              <td>{{sharesAccountData.summary.totalPendingForApprovalShares}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <nav mat-tab-nav-bar class="navigation-tabs">
      <a mat-tab-link [routerLink]="['./transactions']" routerLinkActive #transactions="routerLinkActive"
      [active]="transactions.isActive" *mifosxHasPermission="'READ_SHAREACCOUNTPURCHASE'">
        <span [translate]="'modulo.labels.transactions'">Transactions</span>
      </a>
      <a mat-tab-link [routerLink]="['./charges']" routerLinkActive #charges="routerLinkActive"
      [active]="charges.isActive" *mifosxHasPermission="'READ_SHAREACCOUNTCHARGE'">
        <span [translate]="'modulo.labels.charges'">Charges</span>
      </a>
      <a mat-tab-link [routerLink]="['./dividends']" routerLinkActive #dividends="routerLinkActive"
      [active]="dividends.isActive" *mifosxHasPermission="'READ_SHAREACCOUNTDIVIDENDS'">
        <span [translate]="'modulo.labels.dividends'">Dividends</span>
      </a>
    </nav>

    <router-outlet></router-outlet>

  </mat-card-content>

</mat-card>
