<form [formGroup]="shareProductAccountingForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <mat-radio-group fxFlex="98%" fxLayout="row" fxLayoutGap="5%" fxLayout.lt-md="column" formControlName="accountingRule">
      <mat-radio-button *ngFor="let accountingRule of accountingRuleData; let i =  index" [value]="i+1">
        {{ accountingRule | translate }}
      </mat-radio-button>
    </mat-radio-group>

    <mat-divider fxFlex="98%"></mat-divider>

    <div *ngIf="shareProductAccountingForm.value.accountingRule === 2" fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <h4 fxFlex="98%" class="mat-h4"><span [translate]="'modulo.labels.assets'">Assets</span></h4>

      <mat-form-field fxFlex="48%">
        <mat-label><span [translate]="'modulo.labels.sharereference'">Share reference</span></mat-label>
        <mat-select formControlName="shareReferenceId" required>
          <mat-option *ngFor="let assetAccount of assetAccountData" [value]="assetAccount.id">
            {{ assetAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span [innerHTML]="'modulo.validations.sharereferencerequired' | translate">Share reference is <strong>required</strong></span>
        </mat-error>
      </mat-form-field>

      <mat-divider fxFlex="98%"></mat-divider>

      <h4 fxFlex="98%" class="mat-h4"><span [translate]="'modulo.labels.liabilities'">Liabilities</span></h4>

      <mat-form-field fxFlex="48%">
        <mat-label><span [translate]="'modulo.labels.sharesuspensecontrol'">Share suspense control</span></mat-label>
        <mat-select formControlName="shareSuspenseId" required>
          <mat-option *ngFor="let liabilityAccount of liabilityAccountData" [value]="liabilityAccount.id">
            {{ liabilityAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
         <span [innerHTML]="'modulo.validations.sharesuspensecontrolrequired' | translate">Share suspense control is <strong>required</strong></span>
        </mat-error>
      </mat-form-field>

      <mat-divider fxFlex="98%"></mat-divider>

      <h4 fxFlex="98%" class="mat-h4"><span [translate]="'modulo.labels.shareequity'">Share Equity</span></h4>

      <mat-form-field fxFlex="48%">
        <mat-label><span [translate]="'modulo.labels.equity'">Equity</span></mat-label>
        <mat-select formControlName="shareEquityId" required>
          <mat-option *ngFor="let equityAccount of equityAccountData" [value]="equityAccount.id">
            {{ equityAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span [innerHTML]="'modulo.validations.equityrequired' | translate">Equity is <strong>required</strong></span>
        </mat-error>
      </mat-form-field>

      <mat-divider fxFlex="98%"></mat-divider>

      <h4 fxFlex="98%" class="mat-h4"><span [translate]="'modulo.labels.income'">Income</span></h4>

      <mat-form-field fxFlex="48%">
        <mat-label><span [translate]="'modulo.labels.incomefromfees'">Income from fees</span></mat-label>
        <mat-select formControlName="incomeFromFeeAccountId" required>
          <mat-option *ngFor="let incomeAccount of incomeAccountData" [value]="incomeAccount.id">
            {{ incomeAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span [innerHTML]="'modulo.validations.incomefromfeesrequired' | translate">Income from fees is <strong>required</strong></span>
        </mat-error>
      </mat-form-field>

    </div>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      <span [translate]="'labels.buttons.Previous'">Previous</span>
    </button>
    <button mat-raised-button matStepperNext [disabled]="!shareProductFormValid">
     <span [translate]="'labels.buttons.Next'"> Next</span>&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
