<div fxLayout="row wrap" fxLayout.lt-md="column">

  <h3 class="mat-h3" fxFlexFill>
    <span [translate]="'modulo.labels.general'">General</span></h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%">
      <span [translate]="'modulo.labels.name'">Name</span></span>
    <span fxFlex="60%" *ngIf="client.legalFormId === 2">{{ client.fullname }}</span>
    <span fxFlex="60%" *ngIf="client.legalFormId === 1">{{ client.firstname }} {{ client.middlename ? client.middlename + ' ' + client.lastname : client.lastname }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">
      <span [translate]="'modulo.labels.office'">Office</span></span>
    <span fxFlex="60%">{{ client.officeId | find:clientTemplate.officeOptions:'id':'name' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.legalform'">Legal Form</span></span>
    <span fxFlex="60%">{{ client.legalFormId | find:clientTemplate.clientLegalFormOptions:'id':'value' }}</span>
  </div>

  <div fxFlexFill *ngIf="client.staffId">
    <span fxFlex="40%"><span [translate]="'modulo.labels.staff'">Staff</span></span>
    <span fxFlex="60%">{{ client.staffId | find:clientTemplate.staffOptions:'id':'displayName' }}</span>
  </div>

  <div fxFlexFill *ngIf="client.dateOfBirth">
    <span fxFlex="40%">{{ (client.legalFormId === 1 ? 'modulo.labels.datebirth' : 'modulo.labels.incorporationdate') | translate }}</span>
    <span fxFlex="60%">{{ client.dateOfBirth  | dateFormat }}</span>
  </div>

  <div fxFlexFill *ngIf="client.externalId">
    <span fxFlex="40%"><span [translate]="'modulo.labels.externalid'">External Id</span></span>
    <span fxFlex="60%">{{ client.externalId }}</span>
  </div>

  <div fxFlexFill *ngIf="client.mobileNo">
    <span fxFlex="40%"><span [translate]="'modulo.labels.mobileno'">Mobile No.</span></span>
    <span fxFlex="60%">{{ client.mobileNo }}</span>
  </div>

  <div fxFlexFill *ngIf="client.emailAddress">
    <span fxFlex="40%"><span [translate]="'modulo.labels.email'">Email Address</span></span>
    <span fxFlex="60%">{{ client.emailAddress }}</span>
  </div>

  <div fxFlexFill *ngIf="client.clientTypeId">
    <span fxFlex="40%"><span [translate]="'modulo.labels.clienttype'">Client Type</span></span>
    <span fxFlex="60%">{{ client.clientTypeId | find:clientTemplate.clientTypeOptions:'id':'name' }}</span>
  </div>

  <div fxFlexFill *ngIf="client.clientClassificationId">
    <span fxFlex="40%"><span [translate]="'modulo.labels.clientclassification'">Client Classification</span></span>
    <span fxFlex="60%">{{ client.clientClassificationId | find:clientTemplate.clientClassificationOptions:'id':'name' }}</span>
  </div>

  <div fxFlexFill *ngIf="client.savingsProductId">
    <span fxFlex="40%"><span [translate]="'modulo.labels.savingsproduct'">Savings Product</span></span>
    <span fxFlex="60%">{{ client.savingsProductId | find:clientTemplate.savingProductOptions:'id':'name' }}</span>
  </div>

  <div fxFlexFill *ngIf="client.submittedOnDate">
    <span fxFlex="40%"><span [translate]="'modulo.labels.submittedondate'">Submitted On Date</span></span>
    <span fxFlex="60%">{{ client.submittedOnDate  | dateFormat }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%"><span [translate]="'modulo.labels.activeq'">Active?</span></span>
    <span fxFlex="60%">{{ (client.active ? 'modulo.labels.yes' : 'modulo.labels.no') | translate }}</span>
  </div>

  <div fxFlexFill *ngIf="client.activationDate">
    <span fxFlex="40%"><span [translate]="'modulo.labels.activationdate'">Activation Date</span></span>
    <span fxFlex="60%">{{ client.activationDate  | dateFormat }}</span>
  </div>

  <ng-container *ngIf="client.legalFormId === 1">

    <div fxFlexFill *ngIf="client.genderId">
      <span fxFlex="40%"><span [translate]="'modulo.labels.gender'">Gender</span></span>
      <span fxFlex="60%">{{ client.genderId | find:clientTemplate.genderOptions:'id':'name' }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="40%"><span [translate]="'modulo.labels.isstaffq'">Is Staff?</span></span>
      <span fxFlex="60%">{{ (client.isStaff ? 'modulo.labels.yes' : 'modulo.labels.no') | translate }}</span>
    </div>

  </ng-container>

  <ng-container *ngIf="client.legalFormId === 2">

    <div fxFlexFill *ngIf="client.clientNonPersonDetails.incorpValidityTillDate">
      <span fxFlex="40%"><span [translate]="'modulo.labels.incorporationvaliditydate'">Incorporation Validity Till Date</span></span>
      <span fxFlex="60%">{{ client.clientNonPersonDetails.incorpValidityTillDate  | dateFormat }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="40%"><span [translate]="'modulo.labels.incorporationnum'">Incorportation Number</span></span>
      <span fxFlex="60%">{{ client.clientNonPersonDetails.incorpNumber || ('modulo.labels.notprovided' | translate) }}</span>
    </div>

    <div fxFlexFill *ngIf="client.clientNonPersonDetails.mainBusinessLineId">
      <span fxFlex="40%"><span [translate]="'modulo.labels.mainbusiness'">Main Business Line</span></span>
      <span fxFlex="60%">{{ client.clientNonPersonDetails.mainBusinessLineId | find:clientTemplate.clientNonPersonMainBusinessLineOptions:'id':'name' }}</span>
    </div>

    <div fxFlexFill *ngIf="client.clientNonPersonDetails.constitutionId">
      <span fxFlex="40%"><span [translate]="'modulo.labels.constitution'">Constitution</span></span>
      <span fxFlex="60%">{{ client.clientNonPersonDetails.constitutionId | find:clientTemplate.clientNonPersonConstitutionOptions:'id':'name'}}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="40%"><span [translate]="'modulo.labels.remarks'">Remarks</span></span>
      <span fxFlex="60%">{{ client.clientNonPersonDetails.remarks || 'N/A' }}</span>
    </div>

  </ng-container>

  <div fxFlexFill *ngIf="client.familyMembers.length" fxLayout="row wrap" fxLayout.lt-md="column" class="m-b-20">

    <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.familymembers'">Family Members</span></h3>

    <mat-divider fxFlexFill></mat-divider>

    <mat-accordion fxFlexFill class="m-t-5">

      <mat-expansion-panel *ngFor="let member of client.familyMembers" class="family-member">

        <mat-expansion-panel-header>

          <mat-panel-title>
            {{ member.firstName }} {{ member.middleName ? member.middleName + ' ' + member.lastName : member.lastName }}
          </mat-panel-title>

          <mat-panel-description>
            {{member.relationship}}
          </mat-panel-description>

        </mat-expansion-panel-header>

        <mat-divider></mat-divider>

        <p>
          <span [translate]="'modulo.labels.firstname'">First Name </span>: {{ member.firstName }}<br />
          <span [translate]="'modulo.labels.middlename'">Middle Name</span> : {{ member.middleName }}<br />
          <span [translate]="'modulo.labels.lastname'">Last Name </span>: {{ member.lastName }}<br />
          <span [translate]="'modulo.labels.qualification'">Qualification </span>: {{ member.qualification }}<br />
          <span [translate]="'modulo.labels.relationship'">Relationship </span>: {{ member.relationshipId | find:clientTemplate.familyMemberOptions.relationshipIdOptions:'id':'name' }}<br />
          <span [translate]="'modulo.labels.age'">Age </span>: {{ member.age }}<br />
          <span [translate]="'modulo.labels.isdependentq'">Is Dependent </span>: {{ (member.isDependent ? 'modulo.labels.yes' : 'modulo.labels.no') | translate }}<br />
          <span [translate]="'modulo.labels.maritalstatus'">Marital Status</span> : {{ member.maritalStatusId | find:clientTemplate.familyMemberOptions.maritalStatusIdOptions:'id':'name' }}<br />
          <span [translate]="'modulo.labels.gender'">Gender </span>: {{ member.genderId | find:clientTemplate.familyMemberOptions.genderIdOptions:'id':'name' }}<br />
          <span [translate]="'modulo.labels.profession'">Profession </span>: {{ member.professionId | find:clientTemplate.familyMemberOptions.professionIdOptions:'id':'name' }}<br />
          <span [translate]="'modulo.labels.birthdate'">Date Of Birth </span>: {{ member.dateOfBirth  | dateFormat }}<br />
        </p>

      </mat-expansion-panel>

    </mat-accordion>

  </div>

  <div fxFlexFill *ngIf="clientTemplate.isAddressEnabled && client.address && client.address.length" fxLayout="row wrap" fxLayout.lt-md="column">

    <h3 class="mat-h3" fxFlexFill><span [translate]="'modulo.labels.address'">Address</span></h3>

    <mat-divider fxFlexFill></mat-divider>

    <mat-accordion fxFlexFill class="m-t-5">

      <mat-expansion-panel *ngFor="let address of client.address" class="address">

        <mat-expansion-panel-header>

          <mat-panel-title>
            {{ getSelectedValue('addressTypeIdOptions', address.addressTypeId)?.name }}
          </mat-panel-title>

          <mat-panel-description>
            {{address.relationship}}
          </mat-panel-description>

        </mat-expansion-panel-header>

        <mat-divider></mat-divider>

        <p>
          <span *ngIf="isFieldEnabled('street')"><span [translate]="'modulo.labels.street'">Street </span>: {{address.street}}<br /></span>
          <span *ngIf="isFieldEnabled('addressLine1')"><span [translate]="'modulo.labels.address1'">Address Line 1 </span>: {{address.addressLine1}}<br /></span>
          <span *ngIf="isFieldEnabled('addressLine2')"><span [translate]="'modulo.labels.address2'">Address Line 2 </span>: {{address.addressLine2}}<br /></span>
          <span *ngIf="isFieldEnabled('addressLine3')"><span [translate]="'modulo.labels.address3'">Address Line 3 </span>: {{address.addressLine3}}<br /></span>
          <span *ngIf="isFieldEnabled('townVillage')"><span [translate]="'modulo.labels.townvillage'">Town / Village </span>: {{address.townVillage}}<br /></span>
          <span *ngIf="isFieldEnabled('city')"><span [translate]="'modulo.labels.city'">City </span>: {{address.city}}<br /></span>
          <span *ngIf="isFieldEnabled('stateProvinceId')"><span [translate]="'modulo.labels.stateprovince'">State / Province</span> :
            {{getSelectedValue('stateProvinceIdOptions',address.stateProvinceId)?.name}}<br /></span>
          <span *ngIf="isFieldEnabled('countryId')"><span [translate]="'modulo.labels.country'">Country</span> :
            {{getSelectedValue('countryIdOptions',address.countryId)?.name}}<br /></span>
          <span *ngIf="isFieldEnabled('postalCode')"><span [translate]="'modulo.labels.postalcode'">Postal Code </span>: {{address.postalCode}}<br /></span>
          <span *ngIf="isFieldEnabled('isActive')"><span [translate]="'modulo.labels.activestatus'">Active Status </span>: {{address.isActive}}<br /></span>
        </p>

      </mat-expansion-panel>

    </mat-accordion>

  </div>

</div>

<div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
  <button mat-raised-button matStepperPrevious>
    <fa-icon icon="arrow-left" class="m-r-10"></fa-icon>
    <span [translate]="'labels.buttons.Previous'">Previous</span>
  </button>
  <button mat-raised-button [routerLink]="['../']">
    <span [translate]="'labels.buttons.Cancel'">Cancel</span>
  </button>
  <button mat-raised-button color="primary" (click)="submit.emit()">
    <span [translate]="'labels.buttons.Submit'">Submit</span>
  </button>
</div>
