<div class="container mat-elevation-z8">

  <mat-card>

    <form [formGroup]="closeLoanForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field (click)="closedDatePicker.open()">
            <mat-label><span [translate]="'modulo.loans.labels.closeon'">Closed On</span></mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="closedDatePicker" required
              formControlName="transactionDate">
            <mat-datepicker-toggle matSuffix [for]="closedDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #closedDatePicker></mat-datepicker>
            <mat-error *ngIf="closeLoanForm.controls.transactionDate.hasError('required')">
              <span [innerHTML]="'modulo.validations.closedonrequired' | translate">Closed Date <strong>is required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.loans.labels.note'">Note</span></mat-label>
            <textarea matInput formControlName="note" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
          </mat-form-field>

        </div>

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button type="button" mat-raised-button [routerLink]="['../../general']">
            <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
          <button mat-raised-button color="primary" [disabled]="!closeLoanForm.valid"
            *mifosxHasPermission="'CLOSE_LOAN'">
            <span [translate]="'labels.buttons.Cancel'">Submit</span></button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>
