<div class="container m-b-20" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
  <button mat-raised-button color="primary" [routerLink]="['create']" *mifosxHasPermission="'CREATE_ACCOUNTINGRULE'">
    <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Addrule'">Add Rule</span>
  </button>
</div>

<div class="container">

  <div fxLayout="row">
    <mat-form-field fxFlex>
      <mat-label><span [translate]="'modulo.labels.filter'">Filter</span></mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span [translate]="'modulo.labels.name'"> Name</span> </th>
        <td mat-cell *matCellDef="let accountingRule"> {{ accountingRule.name }} </td>
      </ng-container>

      <ng-container matColumnDef="officeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 
          <span [translate]="'modulo.labels.office'">Office</span> </th>
        <td mat-cell *matCellDef="let accountingRule"> {{ accountingRule.officeName }} </td>
      </ng-container>

      <ng-container matColumnDef="debitTags">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 
          <span [translate]="'modulo.labels.debittag'">Debit Tags </span></th>
        <td mat-cell *matCellDef="let accountingRule"> {{ accountingRule.debitTags }} </td>
      </ng-container>

      <ng-container matColumnDef="debitAccount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span [translate]="'modulo.labels.debitaccount'"> Debit Account</span> </th>
        <td mat-cell *matCellDef="let accountingRule"> {{ accountingRule.debitAccounts ? accountingRule.debitAccounts[0].name : '' }} </td>
      </ng-container>

      <ng-container matColumnDef="creditTags">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 
          <span [translate]="'modulo.labels.credittag'">Credit Tags </span></th>
        <td mat-cell *matCellDef="let accountingRule"> {{ accountingRule.creditTags }} </td>
      </ng-container>

      <ng-container matColumnDef="creditAccount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span [translate]="'modulo.labels.creditaccount'"> Credit Account </span></th>
        <td mat-cell *matCellDef="let accountingRule"> {{ accountingRule.creditAccounts ? accountingRule.creditAccounts[0].name : '' }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['view', row.id]" class="select-row"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

  </div>

</div>
