<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
    <button mat-raised-button color="primary" [routerLink]="['edit']" >
        <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
        <span [translate]="'labels.buttons.Edit'">Edit</span>
    </button>
    <button mat-raised-button color="warn" (click)="deleteCollateral()" >
        <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
        <span [translate]="'labels.buttons.Delete'">Delete</span>
    </button>
</div>

<div class="container">

    <mat-card>

        <mat-card-content>

            <div fxLayout="row wrap" class="content">

                <div fxFlex="50%" class="mat-body-strong">
                    <span [translate]="'modulo.labels.collateralname'">Collateral Name</span>
                </div>

                <div fxFlex="50%">
                    {{ collateralData.name }}
                </div>

                <div fxFlex="50%" class="mat-body-strong">
                    <span [translate]="'modulo.labels.typequality'">Quality/Type</span>
                </div>

                <div fxFlex="50%">
                    {{ collateralData.quality }}
                </div>

                <div fxFlex="50%" class="mat-body-strong">
                    <span [translate]="'modulo.labels.baseprice'">Base Price</span>
                </div>

                <div fxFlex="50%">
                    {{ collateralData.basePrice }}
                </div>

                <div fxFlex="50%" class="mat-body-strong">
                   <span [translate]="'modulo.labels.basepercentage'"> Base Percentage</span>
                </div>

                <div fxFlex="50%">
                    {{ collateralData.pctToBase }}
                </div>

                <div fxFlex="50%" class="mat-body-strong">
                    <span [translate]="'modulo.labels.unittype'">Unit Type</span>
                </div>

                <div fxFlex="50%">
                    {{ collateralData.unitType }}
                </div>

                <div fxFlex="50%" class="mat-body-strong">
                   <span [translate]="'modulo.labels.currency'"> Currency</span>
                </div>

                <div fxFlex="50%">
                    {{ collateralData.currency }}
                </div>

            </div>

        </mat-card-content>

    </mat-card>

</div>