<form [formGroup]="recurringDepositProductCurrencyForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.currency'">Currency</span></mat-label>
      <mat-select formControlName="currencyCode" required>
        <mat-option *ngFor="let currency of currencyData" [value]="currency.code">
          {{ currency.name }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span [innerHTML]="'modulo.validations.currencyrequired' | translate">Currency is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.decimalplaces'">Decimal Places</span></mat-label>
      <input type="number" matInput formControlName="digitsAfterDecimal" required>
      <mat-error>
        <span [innerHTML]="'modulo.validations.decimalplacesrequired' | translate">Decimal Places is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label><span [translate]="'modulo.labels.currencymultiplesof'">Currency in multiples of</span></mat-label>
      <input type="number" matInput formControlName="inMultiplesOf" required>
      <mat-error>
        <span [innerHTML]="'modulo.validations.currencymultiplesofrequired' | translate">
          Currency in multiples of is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      <span [translate]="'labels.buttons.Previous'">Previous</span>
    </button>
    <button mat-raised-button matStepperNext>
      <span [translate]="'labels.buttons.Next'">Next</span>&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
