<div *ngIf="loansAccountData.status.value === 'Active' && chargeData.amountOutstanding !== 0" fxLayout="row"
  fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="primary" *mifosxHasPermission="'WAIVE_SAVINGSACCOUNTCHARGE'" (click)="editCharge()">
    <fa-icon icon="flag" class="m-r-10"></fa-icon>
    Edit
  </button>
  <span *ngIf="allowPayCharge">
    <button mat-raised-button color="accent" *mifosxHasPermission="'PAY_SAVINGSACCOUNTCHARGE'" (click)="payCharge()">
      <fa-icon icon="dollar-sign" class="m-r-10"></fa-icon>
      <span [translate]="'labels.buttons.Pay'">Pay</span>
    </button>
  </span>
  <span *ngIf="allowWaive">
    <button mat-raised-button color="primary" *mifosxHasPermission="'WAIVE_SAVINGSACCOUNTCHARGE'" (click)="waiveCharge()">
      <fa-icon icon="flag" class="m-r-10"></fa-icon>
      <span [translate]="'labels.buttons.Waive'">Waive</span>
    </button>
  </span>
</div>

<div *ngIf="loansAccountData.status.value === 'Submitted and pending approval'" fxLayout="row" fxLayoutAlign="end"
  fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="primary" *mifosxHasPermission="'UPDATE_SAVINGSACCOUNTCHARGE'" (click)="editCharge()">
    <fa-icon icon="edit" class="m-r-10"></fa-icon>
    <span [translate]="'labels.buttons.Edit'">Edit</span>
  </button>
  <button mat-raised-button color="warn" *mifosxHasPermission="'DELETE_SAVINGSACCOUNTCHARGE'" (click)="deleteCharge()">
    <fa-icon icon="trash" class="m-r-10"></fa-icon>
    <span [translate]="'labels.buttons.Delete'">Delete</span>
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">
        <div fxFlex="100%" [ngClass]="loanChargeColor()">
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.loans.header.name'">Name</span>
        </div>

        <div fxFlex="50%">
          {{ chargeData.name }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.loans.header.chargetype'">Charge Type</span>
        </div>

        <div fxFlex="50%">
          {{ chargeData.penalty ? 'Penalty' : 'Fees' }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.loans.labels.currency'">Currency</span>
        </div>

        <div fxFlex="50%">
          {{ chargeData.currency.displayLabel }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.loans.header.paymentdue'">Payment due at</span>
        </div>

        <div fxFlex="50%">
          {{ chargeData.chargeTimeType.value }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.loans.header.paydueof'">Payment due as of</span>
        </div>

        <div fxFlex="50%">
          {{ chargeData.dueDate | dateFormat }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.loans.header.calculationtype'">Calculation Type</span>
        </div>

        <div fxFlex="50%">
          {{ chargeData.chargeCalculationType.value }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.loans.header.due'">Due</span>
        </div>

        <div fxFlex="50%">
          {{ chargeData.amount | number }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.loans.header.paid'">Paid</span>
        </div>

        <div fxFlex="50%">
          {{ chargeData.amountPaid | number }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.loans.header.waived'">Waived</span>
        </div>

        <div fxFlex="50%">
          {{ chargeData.amountWaived | number }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.loans.header.outstanding'">Outstanding</span>
        </div>

        <div fxFlex="50%">
          {{ chargeData.amountOutstanding | number }}
        </div>

      </div>

      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2%" fxLayout.lt-md="column">
        <button type="button" mat-raised-button color="primary" [routerLink]="['../']">
          <span [translate]="'labels.buttons.Back'">Back</span></button>
      </div>
    </mat-card-content>

  </mat-card>

</div>
