<div class="container">

  <mat-card>

    <form [formGroup]="rejectRecurringDepositsAccountForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field (click)="rejectedOnDatePicker.open()">
            <mat-label><span [translate]="'modulo.labels.rejectedondate'">Rejected On Date</span></mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="rejectedOnDatePicker" required
              formControlName="rejectedOnDate">
            <mat-datepicker-toggle matSuffix [for]="rejectedOnDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #rejectedOnDatePicker></mat-datepicker>
            <mat-error *ngIf="rejectRecurringDepositsAccountForm.controls.rejectedOnDate.hasError('required')">
              <span [innerHTML]="'modulo.validations.rejectedondaterequired' | translate">
                Rejected On Date is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.note'">Note</span></mat-label>
            <textarea matInput formControlName="note" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../../']">
          <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
        <button mat-raised-button color="accent" [disabled]="!rejectRecurringDepositsAccountForm">
          <span [translate]="'labels.buttons.Confirm'">Confirm</span></button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
