<div class="container">

  <mat-card>

    <form [formGroup]="jobForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.jobname'">Job Name</span></mat-label>
            <input matInput required formControlName="displayName">
            <mat-error *ngIf="jobForm.controls.displayName.hasError('required')">
              <span [innerHTML]="'modulo.validations.jobnamerequired' | translate">Job Name is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label><span [translate]="'modulo.labels.cronexpression'">Cron Expression</span></mat-label>
            <input matInput required formControlName="cronExpression">
            <mat-error *ngIf="jobForm.controls.cronExpression.hasError('required')">
              <span [innerHTML]="'modulo.validations.cronexpressionrequired' | translate">
                Cron Expression is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-checkbox labelPosition="before" formControlName="active">
            <span [translate]="'modulo.labels.isjobactiveq'">Is job active?</span>
          </mat-checkbox>
  
        </div>

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button type="button" mat-raised-button [routerLink]="['../']">
            <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
          <button mat-raised-button color="primary" [disabled]="!jobForm.valid" *mifosxHasPermission="'UPDATE_SCHEDULER'">
            <span [translate]="'labels.buttons.Submit'">Submit</span></button>
        </mat-card-actions>
  
      </mat-card-content>

    </form>

  </mat-card>

</div>
