<mat-card class="client-card">

  <mat-card-header fxLayout="column" class="header">

    <mat-card-title-group class="header-title-group">

      <div class="profile-image-container">
        <div>
          <img mat-card-md-image class="profile-image"
            [src]="(clientImage)?clientImage:'assets/images/user_placeholder.png'">
        </div>
        <div fxLayoutAlign="center center" class="m-b-5">
          <button class="client-image-button" mat-raised-button (click)="doAction('Upload Image')" 
          matTooltip="{{'modulo.labels.uploadimage' | translate}}" *mifosxHasPermission="'CREATE_CLIENTIMAGE'">
            <i class="fa fa-upload"></i>
          </button>
          <button class="client-image-button" mat-raised-button (click)="doAction('Capture Image')" 
          matTooltip="{{'modulo.labels.captureimage' | translate}}" *mifosxHasPermission="'CREATE_CLIENTIMAGE'">
            <i class="fa fa-camera"></i>
          </button>
          <button class="client-image-button" mat-raised-button (click)="doAction('Delete Image')" 
          matTooltip="{{'modulo.labels.deleteimage' | translate}}" *mifosxHasPermission="'DELETE_CLIENTIMAGE'">
            <i class="fa fa-trash"></i>
          </button>
          <br>
        </div>
        <p (click)="doAction('View Signature')" class="signature">
          <span [translate]="'modulo.labels.viewsignature'">View Signature</span></p>
      </div>

      <div class="mat-typography client-card-title">

        <mat-card-title>
          <h3>
            <i class="fa fa-stop" [ngClass]="clientViewData.status.code|statusLookup" [matTooltip]="clientViewData.status.value"></i>
            <span [translate]="'modulo.labels.clientname'">Client Name</span> : {{clientViewData.displayName}}
          </h3>
        </mat-card-title>

        <mat-card-subtitle>
          <p>
            <span [translate]="'modulo.labels.client'">Client </span>#:{{clientViewData.accountNo}} | 
            <span [translate]="'modulo.labels.externalid'">External Id</span>: {{clientViewData.externalId}} | 
            <span [translate]="'modulo.labels.staff'">Staff</span>:{{clientViewData.staffName || 'Unassigned'}}<br />
            <span [translate]="'modulo.labels.activationdate'">Activation Date</span> :
            {{(clientViewData.activation)?(clientViewData.activationDate | dateFormat) :'Not Activated'}}<br />
            <span [translate]="'modulo.labels.memberof'">Member Of </span>:
            <span *ngFor="let group of clientViewData.groups">
              <a>{{group.name}}</a>&nbsp;
            </span>
            <span *ngIf="!clientViewData.groups">
              <span [translate]="'modulo.labels.unassigned'">Unassigned</span></span>
            <br/>
          </p>
        </mat-card-subtitle>

      </div>

    </mat-card-title-group>

    <mat-card-actions class="client-actions">

      <span *mifosxHasPermission="'UPDATE_CLIENT'">
        <button mat-raised-button [routerLink]="['edit']">
          <i class="fa fa-edit"></i><span [translate]="'labels.buttons.Edit'">Edit</span></button>
      </span>

      <button mat-raised-button [matMenuTriggerFor]="Applications">
        <i class="fa fa-file"></i>
        <span [translate]="'labels.buttons.Applications'">Applications</span></button>
      <mat-menu #Applications="matMenu">
        <button mat-menu-item [routerLink]="['loans-accounts', 'create']">
          <span [translate]="'labels.buttons.NewLoanAccount'">New Loan Account</span></button>
        <button mat-menu-item [routerLink]="['savings-accounts', 'create']">
          <span [translate]="'labels.buttons.NewSavingsAccount'">New Savings Account</span></button>
        <button mat-menu-item *mifosxHasPermission="'CREATE_SHAREACCOUNT'" [routerLink]="['shares-accounts', 'create']">
          <span [translate]="'labels.buttons.NewShareAccount'">New Share Account</span></button>
        <button mat-menu-item *mifosxHasPermission="'CREATE_RECURRINGDEPOSITACCOUNT'" [routerLink]="['recurringdeposits', 'create-recurring-deposits-account']">
          <span [translate]="'labels.buttons.NewRecurringDeposit'">New Recurring Deposit Account</span></button>
        <button mat-menu-item *mifosxHasPermission="'CREATE_FIXEDDEPOSITACCOUNT'" [routerLink]="['fixed-deposits-accounts', 'create']">
          <span [translate]="'labels.buttons.NewFixedDeposits'">New Fixed Deposits Account</span></button>
      </mat-menu>

      <button mat-raised-button [matMenuTriggerFor]="Actions">
        <i class="fa fa-tasks"></i><span [translate]="'header.actions'">Actions</span></button>
      <mat-menu #Actions="matMenu">
        <button mat-menu-item (click)="doAction('Close')">
          <span [translate]="'labels.buttons.Close'">Close</span></button>
        <button mat-menu-item (click)="doAction('Transfer Client')">
          <span [translate]="'labels.buttons.TransferClient'">Transfer Client</span></button>
        <span *ngIf="clientViewData.status.value === 'Pending'"><button mat-menu-item (click)="doAction('Activate')">
          <span [translate]="'labels.buttons.Activate'">Activate</span></button></span>
        <span *ngIf="clientViewData.status.value === 'Pending'"><button mat-menu-item (click)="doAction('Withdraw')">
          <span [translate]="'labels.buttons.Withdraw'">Withdraw</span></button></span>
        <span *ngIf="clientViewData.status.value === 'Pending'"><button mat-menu-item (click)="doAction('Reject')">
          <span [translate]="'labels.buttons.Reject'">Reject</span></button></span>
        <span *ngIf="clientViewData.status.value === 'Pending'"><button mat-menu-item *mifosxHasPermission="'DELETE_CLIENT'" (click)="doAction('Delete')">
          <span [translate]="'labels.buttons.Delete'">Delete</span></button></span>
        <span *ngIf="clientViewData.status.value === 'Closed'"><button mat-menu-item (click)="doAction('Reactivate')">
          <span [translate]="'labels.buttons.Reactivate'">Reactivate</span></button></span>
        <span *ngIf="clientViewData.status.value === 'Rejected'"><button mat-menu-item (click)="doAction('Undo Rejection')">
          <span [translate]="'labels.buttons.UndoRejection'">Undo Rejection</span></button></span>
        <span *ngIf="clientViewData.status.value === 'Transfer in progress'"><button mat-menu-item (click)="doAction('Undo Transfer')">
          <span [translate]="'labels.buttons.UndoTransfer'">Undo Transfer</span></button></span>
        <span *ngIf="clientViewData.status.value === 'Transfer in progress'"><button mat-menu-item (click)="doAction('Accept Transfer')">
          <span [translate]="'labels.buttons.AcceptTransfer'">Accept Transfer</span></button></span>
        <span *ngIf="clientViewData.status.value === 'Transfer in progress'"><button mat-menu-item (click)="doAction('Reject Transfer')">
          <span [translate]="'labels.buttons.RejectTransfer'">Reject transfer</span></button></span>
      </mat-menu>

      <span *ngIf="!clientViewData.staffId">
        <button mat-raised-button (click)="doAction('Assign Staff')">
          <i class="fa fa-user"></i><span [translate]="'labels.buttons.AssignStaff'">Assign Staff</span></button>
      </span>
      <span *ngIf="clientViewData.staffId">
        <button mat-raised-button *mifosxHasPermission="'UNASSIGNSTAFF_CLIENT'" (click)="doAction('Unassign Staff')">
          <i class="fa fa-user"></i><span [translate]="'labels.buttons.UnassignStaff'">Unassign Staff</span></button>
      </span>

      <button mat-raised-button [matMenuTriggerFor]="More">
        <span [translate]="'labels.buttons.More'">More</span></button>
      <mat-menu #More="matMenu">
        <button mat-menu-item (click)="doAction('Add Charge')" *mifosxHasPermission="'CREATE_CLIENTCHARGE'"> 
          <span [translate]="'labels.buttons.AddCharge'">Add Charge</span> </button>
        <button mat-menu-item (click)="doAction('Create Collateral')">
          <span [translate]="'labels.buttons.CreateCollateral'">Create Collateral</span></button>
        <button mat-menu-item (click)="doAction('Survey')">
          <span [translate]="'labels.buttons.Survey'">Survey</span></button>
        <button mat-menu-item (click)="doAction('Update Default Savings')" *mifosxHasPermission="'UPDATESAVINGSACCOUNT_CLIENT'"> 
          <span [translate]="'labels.buttons.UpdateSavings'">Update Default Savings</span> </button>
        <button mat-menu-item (click)="doAction('Upload Signature')" *mifosxHasPermission="'CREATE_CLIENTIMAGE'">
          <span [translate]="'labels.buttons.UploadSignature'"> Upload Signature</span> </button>
        <button mat-menu-item (click)="doAction('Delete Signature')" *mifosxHasPermission="'DELETE_CLIENTIMAGE'"> 
          <span [translate]="'labels.buttons.DeleteSignature'">Delete Signature</span> </button>
        <button mat-menu-item (click)="doAction('Client Screen Reports')"> 
          <span [translate]="'labels.buttons.ClientScreen'">Client Screen Reports </span></button>
        <button mat-menu-item (click)="doAction('Create Standing Instructions')" *mifosxHasPermission="'READ_STANDINGINSTRUCTION'">
          <span [translate]="'labels.buttons.CreateStanding'">Create Standing Instructions</span></button>
        <span *ngIf="clientViewData.status.value!='Transfer on hold'">
          <button mat-menu-item (click)="doAction('View Standing Instructions')" *mifosxHasPermission="'CREATE_STANDINGINSTRUCTION'">
            <span [translate]="'labels.buttons.ViewStanding'">View Standing Instructions</span></button>
        </span>
        <button mat-menu-item (click)="doAction('Create Self Service User')">
          <span [translate]="'labels.buttons.CreateSelfService'">Create Self Service User</span></button>
      </mat-menu>

    </mat-card-actions>

  </mat-card-header>

  <mat-card-content>
    <nav mat-tab-nav-bar class="navigation-tabs">
      <a mat-tab-link [routerLink]="['./general']" routerLinkActive #general="routerLinkActive"
        [active]="general.isActive">
        <span [translate]="'modulo.labels.general'">General</span>
      </a>
      <a mat-tab-link [routerLink]="['./address']" routerLinkActive #address="routerLinkActive"
        [active]="address.isActive">
        <span [translate]="'modulo.labels.address'">Address</span>
      </a>
      <a mat-tab-link [routerLink]="['./family-members']" routerLinkActive #familyMembers="routerLinkActive"
        [active]="familyMembers.isActive">
        <span [translate]="'modulo.labels.familymembers'">Family Members</span>
      </a>
      <a mat-tab-link [routerLink]="['./identities']" routerLinkActive #identities="routerLinkActive"
        [active]="identities.isActive" *mifosxHasPermission="'READ_CLIENTIDENTIFIER'">
        <span [translate]="'modulo.labels.identities'">Identities</span>
      </a>
      <a mat-tab-link [routerLink]="['./documents']" routerLinkActive #documents="routerLinkActive"
        [active]="documents.isActive" *mifosxHasPermission="'READ_DOCUMENT'">
        <span [translate]="'modulo.labels.documents'">Documents</span>
      </a>
      <a mat-tab-link [routerLink]="['./notes']" routerLinkActive #notes="routerLinkActive"
        [active]="notes.isActive" *mifosxHasPermission="'READ_CLIENTNOTE'">
        <span [translate]="'modulo.labels.notes'">Notes</span>
      </a>
      <ng-container *ngFor="let clientDatatable of clientDatatables">
        <a mat-tab-link [routerLink]="['./datatables',clientDatatable.registeredTableName]"
          routerLinkActive #datatable="routerLinkActive" [active]="datatable.isActive" *mifosxHasPermission="'READ_' + clientDatatable.registeredTableName">
          {{clientDatatable.registeredTableName}}
        </a>
      </ng-container>
    </nav>

    <router-outlet></router-outlet>

  </mat-card-content>

</mat-card>
