<h1 mat-dialog-title><span [translate]="'modulo.labels.viewclientsignature'">View Client Signature</span></h1>

<div *ngIf="signatureId" mat-dialog-content>
  <img [src]="signatureImage" alt="Signature">
</div>

<div *ngIf="!signatureId" mat-dialog-content>
  <p><span [translate]="'modulo.description.clientsignaturenoprovided'">Client Signature is not provided.</span></p>
</div>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close><span [translate]="'labels.buttons.Close'">Close</span></button>
  <button mat-raised-button *ngIf="signatureId" color="warn" [mat-dialog-close]="{ delete: true }">
    <span [translate]="'labels.buttons.Delete'">Delete</span></button>
  <button mat-raised-button color="primary" [mat-dialog-close]="{ upload: true }">{{ signatureId ? 'Reupload' : 'Upload'}}</button>
</mat-dialog-actions>
