<div class="container m-b-20" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">

  <button mat-raised-button color="primary" [routerLink]="['edit']" *mifosxHasPermission="'UPDATE_FLOATINGRATE'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Edit'">Edit</span>
  </button>

</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content" fxLayout.lt-md="column">

        <div fxFlex="18%" class="mat-body-strong">
          <span [translate]="'modulo.labels.floatingratename'">Floating Rate Name</span>:
        </div>

        <div fxFlex="18%">
          {{ floatingRateData.name }}
        </div>

        <div fxFlex="20%" class="mat-body-strong">
          <span [translate]="'modulo.labels.isbaselendingrate'">Is Base Lending Rate</span>:
        </div>

        <div fxFlex="10%">
          {{ (floatingRateData.isBaseLendingRate ? 'modulo.labels.yes' : 'modulo.labels.no') | translate }}
        </div>

        <div fxFlex="14%" class="mat-body-strong">
          <span [translate]="'modulo.labels.isactive'">Is Active</span>:
        </div>

        <div fxFlex="10%">
          {{ (floatingRateData.isActive ? 'modulo.labels.yes' : 'modulo.labels.no') | translate }}
        </div>

      </div>

      <br>

      <mat-divider [inset]="true"></mat-divider>

      <br>

      <p class="mat-title"><span [translate]="'modulo.labels.floatingrateperiods'">Floating Rate Periods</span></p>

      <div class="mat-elevation-z8">

        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="fromDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span [translate]="'modulo.labels.fromdate'"> From Date</span> </th>
            <td mat-cell *matCellDef="let floatingRate"> {{ floatingRate.fromDate  | dateFormat : 'dd MMMM yyyy' }} </td>
          </ng-container>

          <ng-container matColumnDef="interestRate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span [translate]="'modulo.labels.interestrate'"> Interest Rate</span> </th>
            <td mat-cell *matCellDef="let floatingRate"> {{ floatingRate.interestRate }} </td>
          </ng-container>

          <ng-container matColumnDef="isDifferential">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span [translate]="'modulo.labels.isdifferentialq'"> Is Differential?</span> </th>
            <td mat-cell *matCellDef="let floatingRate">
              <fa-icon *ngIf="floatingRate.isDifferentialToBaseLendingRate" icon="check-circle" size="lg"
                class="is-differential" matTooltip="{{'modulo.labels.yes' | translate}}" matTooltipPosition="right"></fa-icon>
              <fa-icon *ngIf="!floatingRate.isDifferentialToBaseLendingRate" icon="times-circle" size="lg"
                class="not-is-differential" matTooltip="{{'modulo.labels.no' | translate}}" matTooltipPosition="right"></fa-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

      </div>

    </mat-card-content>

  </mat-card>

</div>
