<div class="container">

  <mat-card>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['amazon-s3']">
            <mat-icon matListIcon>
              <fa-icon icon="cloud" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.s3amazonexternalservice'">S3 Amazon External Service</span></h4>
            <p matLine><span [translate]="'modulo.description.s3amazonexternalservice'">S3 Amazon Service Configuration</span></p>
          </mat-list-item>

          <mat-list-item [routerLink]="['sms']">
            <mat-icon matListIcon>
              <fa-icon icon="comment-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.smsexternalservice'">SMS External Service</span></h4>
            <p matLine><span [translate]="'modulo.description.smsexternalservice'">SMS Service Configuration</span></p>
          </mat-list-item>

        </mat-nav-list>

      </div>

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['email']">
            <mat-icon matListIcon>
              <fa-icon icon="envelope" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.emailexternalservice'">Email External Service</span></h4>
            <p matLine><span [translate]="'modulo.description.emailexternalservice'">Email Service Configuration</span></p>
          </mat-list-item>

          <mat-list-item [routerLink]="['notification']">
            <mat-icon matListIcon>
              <fa-icon icon="bell" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.notificationexternalservice'">Notification External Service</span></h4>
            <p matLine><span [translate]="'modulo.description.notificationexternalservice'">Notification Service Configuration</span></p>
          </mat-list-item>

        </mat-nav-list>

      </div>

    </div>

  </mat-card>

</div>
