<div class="container m-b-20" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end" fxLayoutGap="2%">
  <button mat-raised-button color="primary" [routerLink]="['edit']">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Edit'">Edit</span>
  </button>
  <button mat-raised-button color="primary" [routerLink]="['viewhistory']">
    <span [translate]="'labels.buttons.ViewHistory'">View History</span>
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.jobname'">Job Name</span>
        </div>

        <div fxFlex="50%">
          {{ jobData.displayName }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.cronexpression'">Cron Expression</span>
        </div>

        <div fxFlex="50%">
          {{ jobData.cronExpression }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.isactivejobq'">Is Active Job?</span>
        </div>

        <div fxFlex="50%">
          {{ jobData.active | translate }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.follow'">Follow</span>
        </div>

        <div fxFlex="50%">
          <a href="http://www.cronmaker.com/">	
            <span [translate]="'modulo.description.clickgeneratecron'">Click Here To Generate Cron Expression </span></a>
        </div>

      </div>

    </mat-card-content>

    <mat-card-actions>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2%" fxLayout.lt-md="column">
        <button type="button" color="primary" mat-raised-button [routerLink]="['../']">Back</button>
      </div>
    </mat-card-actions>

  </mat-card>

</div>
