<mat-card class="fixed-deposits-account-card">

  <mat-card-header fxLayout="column" class="header">

    <mat-card-title-group class="header-title-group">

      <div class="profile-image-container">
        <div>
          <img mat-card-md-image class="profile-image"
            matTooltip="{{'modulo.labels.fixeddepositsaccount' | translate}}"
            [src]="'assets/images/fd_account_placeholder.png'">
        </div>
      </div>

      <div class="mat-typography account-card-title">
        <mat-card-title>
          <h3>
            <i class="fa fa-stop" [ngClass]="fixedDepositsAccountData.status.code | statusLookup" 
            [matTooltip]="fixedDepositsAccountData.status.value | translate"></i>
              <span [translate]="'modulo.labels.accountname'">Account Name </span>: {{fixedDepositsAccountData.depositProductName}}
          </h3>
        </mat-card-title>
        <mat-card-subtitle>
          <p>
            <span [translate]="'modulo.labels.account'">Account</span> #: {{fixedDepositsAccountData.accountNo}} | 
            <span [translate]="'modulo.labels.clientname'">Client Name</span>: {{fixedDepositsAccountData.clientName}}<br/>
            <span *ngIf="!fixedDepositsAccountData.status.rejected && !fixedDepositsAccountData.status.submittedAndPendingApproval">
              <span [translate]="'modulo.labels.currentbalance'">Current Balance</span>: {{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.summary.accountBalance}}<br/>
              <span [translate]="'modulo.labels.depositamount'">Deposit Amount</span>: {{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.depositAmount}}<br/>
            </span>
          </p>
        </mat-card-subtitle>
      </div>

    </mat-card-title-group>

    <mat-card-actions class="account-actions">

      <ng-container *ngFor="let button of buttonConfig.singleButtons">
        <button mat-raised-button (click)="doAction(button.name)">
          <i class="{{button.icon}}"></i> {{button.name}}</button>
      </ng-container>
  
      <ng-container *ngIf="buttonConfig.options.length">
        <button mat-raised-button [matMenuTriggerFor]="More">
          <span [translate]="'labels.buttons.More'">More</span></button>
        <mat-menu #More="matMenu">
        <span *ngFor="let option of buttonConfig.options">
          <button mat-menu-item (click)="doAction(option.name)">{{option.name}}</button>
        </span>
        </mat-menu>
      </ng-container>
  
    </mat-card-actions>

  </mat-card-header>

  <mat-card-content class="content">

    <div class="fixed-deposits-account-tables" fxLayout="row" fxLayoutGap="2%">

      <div fxFlex="49%" fxLayout="column" fxLayoutGap="4%">

        <div>
          <h4 class="table-headers"><span [translate]="'modulo.labels.fixeddepositdetails'">Fixed Deposit Details</span></h4>
          <table>
            <tbody>
              <tr>
                <td><span [translate]="'modulo.labels.activatedon'">Activated On</span></td>
                <td>{{fixedDepositsAccountData.timeline.activatedOnDate ? (fixedDepositsAccountData.timeline.activatedOnDate  | dateFormat) : 'Not Activated'}}</td>
              </tr>
              <tr *ngIf="fixedDepositsAccountData.timeline.closedOnDate">
                <td><span [translate]="'modulo.labels.closedon'">Closed On</span></td>
                <td>{{fixedDepositsAccountData.timeline.closedOnDate  | dateFormat}}</td>
              </tr>
              <tr>
                <td><span [translate]="'modulo.labels.fieldofficer'">Field Officer</span></td>
                <td>{{fixedDepositsAccountData.fieldOfficerName ? fixedDepositsAccountData.fieldOfficerName : ('modulo.labels.unassigned' | translate)}}</td>
              </tr>
              <tr>
                <td><span [translate]="'modulo.labels.maturitydate'">Maturity Date</span></td>
                <td>{{fixedDepositsAccountData.maturityDate ? (fixedDepositsAccountData.maturityDate  | dateFormat) : 'N/A'}}</td>
              </tr>
              <tr>
                <td><span [translate]="'modulo.labels.depositperiod'">Deposit Period</span></td>
                <td>{{fixedDepositsAccountData.depositPeriod}}&nbsp;{{fixedDepositsAccountData.depositPeriodFrequency.value}}</td>
              </tr>
              <tr *ngIf="fixedDepositsAccountData.withHoldTax">
                <td><span [translate]="'modulo.labels.taxgroup'">Tax Group</span></td>
                <td>{{fixedDepositsAccountData.taxGroup.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <h4 class="table-headers"><span [translate]="'modulo.labels.interestdetails'">Interest Details</span></h4>
          <table>
            <tbody>
              <tr>
                <td><span [translate]="'modulo.labels.interestrate'">Interest Rate</span></td>
                <td>{{fixedDepositsAccountData.nominalAnnualInterestRate}}%</td>
              </tr>
              <tr>
                <td><span [translate]="'modulo.labels.interestcompoundingperiod'">Interest Compounding Period</span></td>
                <td>{{fixedDepositsAccountData.interestCompoundingPeriodType.value}}</td>
              </tr>
              <tr>
                <td><span [translate]="'modulo.labels.interestpostingperiod'">Interest Posting Period</span></td>
                <td>{{fixedDepositsAccountData.interestPostingPeriodType.value}}</td>
              </tr>
              <tr>
                <td><span [translate]="'modulo.labels.interestcalculatedusing'">Interest Calculated Using</span></td>
                <td>{{fixedDepositsAccountData.interestCalculationType.value}}</td>
              </tr>
              <tr>
                <td><span [translate]="'modulo.labels.nodaysinyear'">No. of Days in Year</span></td>
                <td>{{fixedDepositsAccountData.interestCalculationDaysInYearType.value}}</td>
              </tr>
              <tr *ngIf="fixedDepositsAccountData.preClosurePenalApplicable">
                <td><span [translate]="'modulo.labels.preclosurepenal'">Pre-closure Penal</span></td>
                <td>{{fixedDepositsAccountData.preClosurePenalInterest}} % on {{fixedDepositsAccountData.preClosurePenalInterestOnType.value}}</td>
              </tr>
          </table>
        </div>

      </div>

      <div fxFlex="49%">

        <div *ngIf="!fixedDepositsAccountData.status.rejected && !fixedDepositsAccountData.status.submittedAndPendingApproval; else otherDetails">
          <h4 class="table-headers"><span [translate]="'modulo.labels.performancehistory'">Performance History</span></h4>
          <table>
            <tbody>
              <tr>
                <td><span [translate]="'modulo.labels.principalamount'">Principal Amount</span></td>
                <td>{{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.depositAmount}}</td>
              </tr>
              <tr>
                <td><span [translate]="'modulo.labels.maturityamount'">Maturity Amount</span></td>
                <td>{{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.maturityAmount}}</td>
              </tr>
              <tr *ngIf="fixedDepositsAccountData.summary.totalDeposits">
                <td><span [translate]="'modulo.labels.totaldeposits'">Total Deposits</span></td>
                <td>{{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.summary.totalDeposits}}</td>
              </tr>
              <tr *ngIf="fixedDepositsAccountData.summary.totalWithdrawals">
                <td><span [translate]="'modulo.labels.totalwithdrawals'">Total Withdrawals</span></td>
                <td>{{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.summary.totalWithdrawals}}</td>
              </tr>
              <tr *ngIf="fixedDepositsAccountData.summary.totalInterestEarned >= 0">
                <td><span [translate]="'modulo.labels.totalinterestearned'">Total Interest Earned</span></td>
                <td>{{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.summary.totalInterestEarned}}</td>
              </tr>
          </table>
        </div>

        <ng-template #otherDetails>
          <div>
            <h4 class="table-headers"><span [translate]="'modulo.labels.otherdetails'">Other Details</span></h4>
            <table>
              <tbody>
                <tr>
                  <td><span [translate]="'modulo.labels.principalamount'">Principal Amount</span></td>
                  <td>{{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.depositAmount}}</td>
                </tr>
                <tr>
                  <td><span [translate]="'modulo.labels.maturityamount'">Maturity Amount</span></td>
                  <td>{{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.maturityAmount}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>

      </div>

    </div>

    <nav mat-tab-nav-bar class="navigation-tabs">
      <a mat-tab-link [routerLink]="['./interest-rate-chart']" routerLinkActive #IRC="routerLinkActive"
      [active]="IRC.isActive">
        <span [translate]="'modulo.labels.interestratechart'">Interest Rate Chart</span>
      </a>
      <a mat-tab-link [routerLink]="['./transactions']" routerLinkActive #transactions="routerLinkActive"
      [active]="transactions.isActive">
       <span [translate]="'modulo.labels.transactions'"> Transactions</span>
      </a>
      <a mat-tab-link [routerLink]="['./charges']" routerLinkActive #charges="routerLinkActive"
      [active]="charges.isActive">
        <span [translate]="'modulo.labels.charges'">Charges</span>
      </a>
      <a mat-tab-link [routerLink]="['./standing-instructions']" routerLinkActive #standingInstructions="routerLinkActive"
        [active]="standingInstructions.isActive" *ngIf="fixedDepositsAccountData.clientId">
        <span [translate]="'modulo.labels.standingintructions'">Standing Instructions</span>
      </a>
      <ng-container *ngFor="let savingsDatatable of savingsDatatables">
        <a mat-tab-link *mifosxHasPermission="'READ_' + savingsDatatable.registeredTableName"
          [routerLink]="['./datatables',savingsDatatable.registeredTableName]"
          routerLinkActive #datatable="routerLinkActive" [active]="datatable.isActive">
          {{savingsDatatable.registeredTableName}}
        </a>
      </ng-container>
    </nav>

    <router-outlet></router-outlet>

  </mat-card-content>

</mat-card>
