<mat-card class="center-card">
  <mat-card-header fxLayout="column" class="header">
    <mat-card-title-group class="header-title-group">
      <div class="profile-image-container">
        <div>
          <img mat-card-md-image class="profile-image"
            src='assets/images/center_placeholder.png'>
        </div>
      </div>
      <div class="mat-typography center-card-title">
        <mat-card-title>
          <h3>
            <i class="fa fa-stop" matTooltip= "{{ centerViewData.status.value }}"
          [ngClass]="centerViewData.status.code |statusLookup"></i>
          <span [translate]="'modulo.labels.centername'">Center Name</span> : {{centerViewData.name}}
          </h3>
        </mat-card-title>
        <mat-card-subtitle>
          <div fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex="50%">
              <p>
                <span [translate]="'modulo.labels.account'">Account</span> #:{{centerViewData.accountNo}} <br />
                <span [translate]="'modulo.labels.office'">Office</span>: {{centerViewData.officeName}} <br />
                <span *ngIf="centerViewData.externalId">
                  <span [translate]="'modulo.labels.externalid'">External Id</span>: {{centerViewData.externalId}} <br/>
                </span>
                <span *ngIf="centerViewData.staffName">
                  <span [translate]="'modulo.labels.staff'">Staff</span>: {{centerViewData.staffName}} <br/>
                </span>
                <span [translate]="'modulo.labels.activationdate'">Activation Date </span>:
                {{(centerViewData.activationDate)?(centerViewData.activationDate  | dateFormat) :'Not Activated'}}<br />
              </p>
            </div>
          </div>
        </mat-card-subtitle>
      </div>

      <div class="center-meeting" fxLayoutAlign="start start">
        <div *ngIf="centerViewData.collectionMeetingCalendar; else unassigned">
          <p>
             <span [translate]="'modulo.labels.nextmeeting'">Next Meeting on</span>: {{centerViewData.collectionMeetingCalendar?.nextTenRecurringDates[0]  | dateFormat}}
             <span *ngIf="editMeeting">
              <i class="fa fa-edit" (click)="doAction('Edit Meeting')" *mifosxHasPermission="'UPDATE_MEETING'"></i><br />
             </span>
             <span [translate]="'modulo.labels.meetingfrequency'">Meeting Frequency</span>: {{centerViewData.collectionMeetingCalendar?.frequency.value | lowercase}}
          </p>
        </div>
        <ng-template #unassigned>
          <div>
            <p>
              <span [translate]="'modulo.labels.nextmeeting'">Next Meeting on</span>: 
              <span [translate]="'modulo.labels.unassigned'">Unassigned</span>
              <i class="fa fa-calendar"></i><br/>
              <span [translate]="'modulo.labels.meetingfrequency'">Meeting Frequency</span>: N/A
          </p>
        </div>
        </ng-template>
      </div>

    </mat-card-title-group>
    <mat-card-actions class="center-actions" *ngIf="!(centerViewData.status.value==='Closed')">
      <span *ngIf="!(centerViewData.status.value=='Active')">
        <button mat-raised-button *mifosxHasPermission="'ACTIVATE_CENTER'" (click)="doAction('Activate')"><i class="fa fa-check-sign"></i>
          <span [translate]="'modulo.labels.Activate'"> Activate</span> </button>
      </span>
      <button mat-raised-button *mifosxHasPermission="'UPDATE_CENTER'" (click)="doAction('Edit')"><i class="fa fa-edit"></i>
        <span [translate]="'modulo.labels.Edit'"> Edit </span></button>
      <button mat-raised-button *mifosxHasPermission="'CREATE_GROUP'"><i class="fa fa-plus"></i>
        <span [translate]="'modulo.labels.AddGroup'"> Add Group </span></button>
      <button mat-raised-button *mifosxHasPermission="'ASSOCIATEGROUPS_CENTER'" (click)="doAction('Manage Groups')"> <i class="fa fa-edit"></i> 
        <span [translate]="'modulo.labels.ManageGroups'">Manage Groups </span></button>
      <span  *ngIf="centerViewData.active">
      <button mat-raised-button *mifosxHasPermission="'CREATE_SAVINGSACCOUNT'" [routerLink]="['savings-accounts', 'create']">
        <i class="fa fa-file"></i> <span [translate]="'modulo.labels.CenterSavingAppli'">Centers Saving Application</span>
      </button>
      </span>
      <button mat-raised-button [matMenuTriggerFor]="More"> 
        <span [translate]="'modulo.labels.More'">More</span> </button>
      <mat-menu #More="matMenu">
        <span *ngIf="centerViewData.collectionMeetingCalendar">
          <button mat-menu-item *mifosxHasPermission="'SAVEORUPDATEATTENDANCE_MEETING'" (click)="doAction('Attendance')">
            <span [translate]="'modulo.labels.Attendance'"> Attendance</span> </button>
        </span>
        <span *ngIf="!(centerViewData.staffId)">
          <button mat-menu-item *mifosxHasPermission="'ASSIGNSTAFF_GROUP'" (click)="doAction('Assign Staff')"> 
            <span [translate]="'modulo.labels.AssignStaff'">Assign Staff</span> </button>
        </span>
        <span *ngIf="centerViewData.staffId">
          <button mat-menu-item *mifosxHasPermission="'UNASSIGNSTAFF_GROUP'" (click)="doAction('Unassign Staff')"> 
            <span [translate]="'modulo.labels.UnassignStaff'">Unassign Staff </span></button>
        </span>
        <span *ngIf="centerViewData.status.value==='Active'">
          <button mat-menu-item *mifosxHasPermission="'DELETE_CENTER'" (click)="doAction('Delete')">
            <span [translate]="'modulo.labels.Delete'"> Delete</span> </button>
        </span>
        <button mat-menu-item *mifosxHasPermission="'CLOSE_CENTER'" (click)="doAction('Close')">
          <span [translate]="'modulo.labels.Close'"> Close </span></button>
        <span *ngIf="centerViewData.status.value==='Active' && !(centerViewData.collectionMeetingCalendar)">
          <button mat-menu-item *mifosxHasPermission="'CREATE_MEETING'" (click)="doAction('Attach Meeting')">
            <span [translate]="'modulo.labels.AttachMeeting'"> Attach Meeting</span> </button>
        </span>
        <button mat-menu-item *mifosxHasPermission="'READ_Staff Assignment History'" (click)="doAction('Staff Assignment History')"> 
          <span [translate]="'modulo.labels.StaffAsignHistory'">Staff Assignment History</span> </button>
      </mat-menu>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content>
    <nav mat-tab-nav-bar class="navigation-tabs">
      <a mat-tab-link [routerLink]="['./general']" routerLinkActive #general="routerLinkActive"
        [active]="general.isActive">
        <span [translate]="'modulo.labels.general'">General</span>
      </a>
      <a mat-tab-link *mifosxHasPermission="'READ_GROUPNOTE'" [routerLink]="['./notes']" routerLinkActive #notes="routerLinkActive"
        [active]="notes.isActive">
        <span [translate]="'modulo.labels.notes'">Notes</span>
      </a>
      <span *ngFor="let centerDatatable of centerDatatables">
        <a mat-tab-link *mifosxHasPermission="'READ_' + centerDatatable.registeredTableName" [routerLink]="['./datatables',centerDatatable.registeredTableName]"
          routerLinkActive #datatable="routerLinkActive" [active]="datatable.isActive">
          {{centerDatatable.registeredTableName}}
        </a>
      </span>
    </nav>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>
