<div class="container m-b-20" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
  <div #createDatatableRef class="in-block">
    <button mat-raised-button color="primary" [routerLink]="['create']" *mifosxHasPermission="'CREATE_DATATABLE'">
      <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;
      <span [translate]="'labels.buttons.CreateDataTable'">Create Data Table</span>
    </button>
  </div>
</div>

<div class="container">

  <div #filter fxLayout="row" fxLayoutGap="20px">
    <mat-form-field fxFlex>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
  </div>

  <div #datatablesList class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="registeredTableName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 
          <span [translate]="'modulo.labels.datatablename'">Data Table Name</span> </th>
        <td mat-cell *matCellDef="let dataTable"> {{ dataTable.registeredTableName }} </td>
      </ng-container>

      <ng-container matColumnDef="applicationTableName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span [translate]="'modulo.labels.associatedwith'"> Associated With</span> </th>
        <td mat-cell *matCellDef="let dataTable"> {{ dataTable.applicationTableName }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="[row.registeredTableName]" class="select-row"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

  </div>

</div>

<ng-template #templateCreateDatatableRef let-popover="popover">
  <h2><span [translate]="'modulo.labels.createdatatable'">Create Data Table</span></h2>
  <p class="mw300"><span [translate]="'modulo.description.createdatatabletwo'">
    This will launch a page that will allow you to create a new data table.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStep();">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateFilter,filter,'bottom', true);">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateFilter let-popover="popover">
  <h4><span [translate]="'modulo.description.searchfilterdatatable'">Search bar to filter datatables.</span></h4>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateCreateDatatableRef,createDatatableRef,'bottom', true);">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateDatatablesList,datatablesList,'top', true);">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateDatatablesList let-popover="popover">
  <h4><span [translate]="'modulo.description.listcurrentlydatatable'">List of all currently available data tables.</span></h4>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateFilter,filter,'bottom', true);">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStep();">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>
