<div class="container">

  <mat-accordion>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          <span [translate]="'modulo.labels.mainconfiguration'">Main Configuration</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div fxLayout="column">

        <mat-form-field>
          <mat-label><span [translate]="'modulo.labels.nameorganization'">Name of the Organization</span></mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label><span [translate]="'modulo.labels.description'">Description</span></mat-label>
          <textarea matInput></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label><span [translate]="'modulo.labels.summary'">Summary</span></mat-label>
          <textarea matInput></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label><span [translate]="'modulo.labels.defaultlanguage'">Default Language</span></mat-label>
          <mat-select>
            <mat-option *ngFor="let language of languages" [value]="language">
              {{ language }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label><span [translate]="'modulo.labels.defaultdateformat'">Default Date Format</span></mat-label>
          <mat-select>
            <mat-option *ngFor="let dateFormat of dateFormats" [value]="dateFormat">
              {{ dateFormat }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          <span [translate]="'modulo.labels.images'">Images</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div fxLayout="column">

        <span class="header"><span [translate]="'modulo.labels.favicon'">Favicon</span></span>
        <mifosx-file-upload></mifosx-file-upload>

        <span class="header"><span [translate]="'modulo.labels.coverimage'">Cover Image</span></span>
        <mifosx-file-upload></mifosx-file-upload>

        <span class="header"><span [translate]="'modulo.labels.logo'">Logo</span></span>
        <mifosx-file-upload></mifosx-file-upload>

        <span class="header"><span [translate]="'modulo.labels.logowithorganizationname'">Logo with Organization Name</span></span>
        <mifosx-file-upload></mifosx-file-upload>

      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          <span [translate]="'modulo.labels.themefont'">Theme and Font</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div fxLayout="column">

        <span class="header"><span [translate]="'modulo.labels.mobilebankingapp'">Mobile Banking App</span></span>
        <mat-form-field>
          <mat-label><span [translate]="'modulo.labels.defaulttheme'">Default Theme</span></mat-label>
          <mat-select>
            <mat-option *ngFor="let theme of mobileAppThemes" [value]="theme">
              {{ theme }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label><span [translate]="'modulo.labels.defaultfont'">Default Font</span></mat-label>
          <mat-select>
            <mat-option *ngFor="let font of mobileAppFonts" [value]="font">
              {{ font }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <span class="header"><span [translate]="'modulo.labels.onlinebankingapp'">Online Banking App</span></span>
        <mat-form-field>
          <mat-label><span [translate]="'modulo.labels.defaulttheme'">Default Theme</span></mat-label>
          <mat-select>
            <mat-option *ngFor="let theme of onlineBankingAppThemes" [value]="theme">
              {{ theme }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label><span [translate]="'modulo.labels.defaultfont'">Default Font</span></mat-label>
          <mat-select>
            <mat-option *ngFor="let font of onlineBankingAppFonts" [value]="font">
              {{ font }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          <span [translate]="'modulo.labels.contactinformation'">Contact Information</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div fxLayout="column">

        <mat-form-field>
          <mat-label><span [translate]="'modulo.labels.website'">Website</span></mat-label>
          <input type="url" matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label><span [translate]="'modulo.labels.email'">Email</span></mat-label>
          <input type="email" matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label><span [translate]="'modulo.labels.contactno'">Contact No</span></mat-label>
          <input type="tel" matInput>
        </mat-form-field>

      </div>

    </mat-expansion-panel>

  </mat-accordion>

</div>
