<div class="container">

  <mat-card>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['tax-components']" *mifosxHasPermission="'READ_TAXCOMPONENT'">
            <mat-icon matListIcon>
              <fa-icon icon="building" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.managetaxcomponents'">Manage Tax Components</span></h4>
            <p matLine><span [translate]="'modulo.labels.definetaxcomponents'">Define Tax components</span></p>
          </mat-list-item>

        </mat-nav-list>

      </div>

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['tax-groups']" *mifosxHasPermission="'READ_TAXGROUP'">
            <mat-icon matListIcon>
              <fa-icon icon="building" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.managetaxgroups'">Manage Tax Groups</span></h4>
            <p matLine><span [translate]="'modulo.labels.definetaxgroups'">Define Tax Groups</span></p>
          </mat-list-item>

        </mat-nav-list>

      </div>

    </div>

  </mat-card>

</div>
