<p [translate]="'modulo.login.twoauth.title'"><strong>Two Factor Authentication</strong></p>

<mat-divider></mat-divider>

<!-- Select delivery method to receive OTP -->
<p *ngIf="!otpRequested"> <span [translate]="'modulo.login.twoauth.description'"> select a delivery method:</span></p>

<form fxLayout="column" *ngIf="!otpRequested" [formGroup]="twoFactorAuthenticationDeliveryMethodForm" class="two-factor-auth-form"
  (ngSubmit)="requestOTP()">

  <mat-radio-group fxLayout="column" fxFlexAlign="center" formControlName="twoFactorAuthenticationDeliveryMethod">
    <mat-radio-button *ngFor="let twoFactorAuthenticationDeliveryMethod of twoFactorAuthenticationDeliveryMethods"
      [value]="twoFactorAuthenticationDeliveryMethod">
        Send {{ twoFactorAuthenticationDeliveryMethod.name }} to {{ twoFactorAuthenticationDeliveryMethod.target }}
    </mat-radio-button>
  </mat-radio-group>

  <button mat-raised-button color="primary" fxFlexAlign="center" fxFlexFill [disabled]="!twoFactorAuthenticationDeliveryMethodForm.valid">
    <span [translate]="'modulo.login.twoauth.button.request'"> Request OTP</span>
    <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
  </button>

</form>

<!-- Show input for OTP -->
<p *ngIf="otpRequested"> <span [translate]="'modulo.login.twoauth.description2'"> Please enter the OTP:</span></p>

<form fxLayout="column" *ngIf="otpRequested" [formGroup]="twoFactorAuthenticationForm" class="two-factor-auth-form"
  (ngSubmit)="validateOTP()">

  <mat-form-field fxFlexAlign="center" class="two-factor-auth-input">
    <span matPrefix>
      <fa-icon icon="user-shield"></fa-icon>&nbsp;&nbsp;
    </span>
    <mat-label> <span [translate]="'modulo.login.twoauth.label.otp'">OTP</span></mat-label>
    <input type="password" matInput autocomplete="off" required formControlName="otp">
    <mat-hint align="start">
      <span [translate]="'modulo.login.twoauth.hint.method'"> <strong>Delivery Method:</strong></span> 
      <span> {{ selectedTwoFactorAuthenticationDeliveryMethod.name }} </span>
    </mat-hint>
    <mat-hint align="end">
      <span [translate]="'modulo.login.twoauth.hint.Validity'"> <strong>Validity:</strong></span>
      <span>{{ tokenValidityTime / 60 }} mins</span>
    </mat-hint>
    <mat-error *ngIf="twoFactorAuthenticationForm.controls.otp.hasError('required')">
      <span [translate]="'modulo.validation.otp'"> OTP is <strong>required</strong></span>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" fxFlexAlign="center" class="two-factor-auth-button"
    [disabled]="!twoFactorAuthenticationForm.valid">
    <span [translate]="'modulo.login.twoauth.button.validate'">Validate OTP</span>
    <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
  </button>

  <button type="button" mat-button fxFlexAlign="center" class="two-factor-auth-button" (click)="resendOTP()"
    [disabled]="loading || resendOTPLoading">
    <span [translate]="'modulo.login.twoauth.button.resend'">Resend OTP</span>
    <mat-spinner [diameter]="20" *ngIf="resendOTPLoading"></mat-spinner>
  </button>

</form>
