<div class="container">

  <mat-card>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50%">

        <mat-nav-list>

          <div #datatables>
            <mat-list-item [routerLink]="['data-tables']">
              <mat-icon matListIcon>
                <fa-icon icon="table" size="sm"></fa-icon>
              </mat-icon>
              <h4 matLine><span [translate]="'modulo.labels.managedatatables'">Manage Data tables</span></h4>
              <p matLine><span [translate]="'modulo.description.managedatatables'">
                Add new extra fields to any entity in the form of data table</span></p>
            </mat-list-item>
          </div>

          <div #codes>
            <mat-list-item [routerLink]="['codes']">
              <mat-icon matListIcon>
                <fa-icon icon="list-ul" size="sm"></fa-icon>
              </mat-icon>
              <h4 matLine><span [translate]="'modulo.labels.managecodes'">Manage Codes</span></h4>
              <p matLine><span [translate]="'modulo.description.managecodestwo'">
                Codes are used to define drop down values</span></p>
            </mat-list-item>
          </div>

          <div #rolesandpermission>
            <mat-list-item [routerLink]="['roles-and-permissions']">
              <mat-icon matListIcon>
                <fa-icon icon="key" size="sm"></fa-icon>
              </mat-icon>
              <h4 matLine><span [translate]="'modulo.labels.managerolespermissions'">Manage Roles and Permissions</span></h4>
              <p matLine><span [translate]="'modulo.description.managerolespermissions'">
                Define or modify roles and associated permissions</span></p>
            </mat-list-item>
          </div>

          <div #makerCheckerTable>
            <mat-list-item [routerLink]="['configure-mc-tasks']">
              <mat-icon matListIcon>
                <fa-icon icon="sitemap" size="sm"></fa-icon>
              </mat-icon>
              <h4 matLine><span [translate]="'modulo.labels.configuremakercheckertasks'">Configure Maker Checker Tasks</span></h4>
              <p matLine><span [translate]="'modulo.description.configuremakercheckertasks'">
                Define or modify Maker Checker tasks</span></p>
            </mat-list-item>
          </div>

          <mat-list-item [routerLink]="['hooks']">
            <mat-icon matListIcon>
              <fa-icon icon="anchor" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.managehooks'">Manage Hooks</span></h4>
            <p matLine><span [translate]="'modulo.description.managehooks'">Define Hooks</span></p>
          </mat-list-item>

          <mat-list-item [routerLink]="['entity-to-entity-mapping']">
            <mat-icon matListIcon>
              <fa-icon icon="road" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.entityentitymapping'">Entity to Entity Mapping</span></h4>
            <p matLine><span [translate]="'modulo.description.entityentitymapping'">
              Define or modify entity to entity mappings</span></p>
          </mat-list-item>

          <mat-list-item [routerLink]="['surveys']">
            <mat-icon matListIcon>
              <fa-icon icon="file-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.managesurveys'">Manage Surveys</span></h4>
            <p matLine><span [translate]="'modulo.description.managesurveys'">Manage your Services</span></p>
          </mat-list-item>

          <mat-list-item [routerLink]="['external-events']"  *mifosxHasPermission="'READ_EXTERNAL_EVENT_CONFIGURATION'">
            <mat-icon matListIcon>
              <fa-icon icon="anchor" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.manageexternalevents'">Manage External Events</span></h4>
            <p matLine><span [translate]="'modulo.description.manageexternalevents'">
              External Events configuration, to enable or disable the event publication</span></p>
          </mat-list-item>

        </mat-nav-list>

      </div>

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['audit-trails']">
            <mat-icon matListIcon>
              <fa-icon icon="money-check" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.audittrails'">Audit Trails</span></h4>
            <p matLine><span [translate]="'modulo.description.audittrails'">
              Audit logs of all the activities, such as create client, disburse loans etc</span></p>
          </mat-list-item>

          <mat-list-item [routerLink]="['reports']">
            <mat-icon matListIcon>
              <fa-icon icon="file-word" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.managereports'">Manage Reports</span></h4>
            <p matLine><span [translate]="'modulo.description.managereports'">
              Add new report and classify reports</span></p>
          </mat-list-item>

          <mat-list-item [routerLink]="['manage-jobs']">
            <mat-icon matListIcon>
              <fa-icon icon="clock" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.managejobs'">Manage Jobs</span></h4>
            <p matLine><span [translate]="'modulo.description.managejobs'">
              Manage Schedule and Workflow jobs, modify jobs or view history and logs</span></p>
          </mat-list-item>

          <mat-list-item [routerLink]="['configurations']">
            <mat-icon matListIcon>
              <fa-icon icon="cogs" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.configurations'">Configurations</span></h4>
            <p matLine><span [translate]="'modulo.description.configurations'">
              Global configurations, Cache and Business Date settings</span></p>
          </mat-list-item>

          <mat-list-item [routerLink]="['account-number-preferences']">
            <mat-icon matListIcon>
              <fa-icon icon="key" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.accountnumberpreference'">Account Number Preferences</span></h4>
            <p matLine><span [translate]="'modulo.description.accountnumberpreference'">
              Preferences for generating account numbers for client, loan and savings accounts</span></p>
          </mat-list-item>

          <mat-list-item [routerLink]="['external-services']">
            <mat-icon matListIcon>
              <fa-icon icon="cog" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.externalservices'">External Services</span></h4>
            <p matLine><span [translate]="'modulo.description.externalservices'">External Services Configuration</span></p>
          </mat-list-item>

          <mat-list-item>
            <mat-icon matListIcon>
              <fa-icon icon="key" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine><span [translate]="'modulo.labels.twofactorconfiguration'">Two-Factor Configuration</span></h4>
            <p matLine><span [translate]="'modulo.description.twofactorconfiguration'">
              Two-factor authentication configuration settings</span></p>
          </mat-list-item>

        </mat-nav-list>

      </div>

    </div>

  </mat-card>

</div>

<ng-template #templateDatatables let-popover="popover">
  <h2><span [translate]="'modulo.labels.managedatatables'">Manage Data Tables</span></h2>
  <p class="mw300"><span [translate]="'modulo.description.managedatatablestwo'">
    Mifos X data-tables allow the user to add custom fields in addition to the built-in fields to a client profile, loan/saving account, group, center or an office.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepDatatables()">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepDatatables()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateCodes let-popover="popover">
  <h2><span [translate]="'modulo.labels.managecodes'">Manage Codes</span></h2>
  <p class="mw300"><span [translate]="'modulo.description.managecodesthree'">
    From this selection you can create new drop-downs and edit their values as well as edit the values for system-generated codes and drop-downs.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepCodes()">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepCodes()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateRolesandPermission let-popover="popover">
  <h2><span [translate]="'modulo.labels.managerolespermissions'">Manage Roles and Permissions</span></h2>
  <p class="mw300"><span [translate]="'modulo.description.managerolespermissionstwo'">
    Roles and Permissions allow the administrator to control access to Mifos based on what roles are assigned to Users and what Permissions are assigned to roles.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepRolesandPermission()">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepRolesandPermission()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateMakerCheckerTable let-popover="popover">
  <h2><span [translate]="'modulo.labels.configuremakercheckertasks'">Configure Maker-Checker Tasks</span></h2>
  <p class="mw300"><span [translate]="'modulo.description.configuremakercheckertaskstwo'">
    The “Maker-Checker” principle requires every tasks to be completed by two people to reduce the chance of errors and misuse. One person initiates the process and the second completes it.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepMakerCheckerTable()">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepMakerCheckerTable()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateConfigurations let-popover="popover">
  <h2><span [translate]="'modulo.labels.configuration'">Configuration</span></h2>
  <p class="mw300"><span [translate]="'modulo.description.configuration'">
    The Configurations page allows you to further customize the way your organization uses the Mifos system.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepConfigurations()">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepConfigurations()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateSchedulerJobs let-popover="popover">
  <h2><span [translate]="'modulo.labels.manageschedulerjobs'">Manage Scheduler Jobs</span></h2>
  <p class="mw300"><span [translate]="'modulo.description.manageschedulerjobs'">
    By using Scheduler Jobs, you can set batch jobs to be completed at regular intervals. From this page you can schedule, modify or delete jobs.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepSchedulerJobs()">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepSchedulerJobs()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateManageReports let-popover="popover">
  <h2><span [translate]="'modulo.labels.managereports'">Manage Reports</span></h2>
  <p class="mw300"><span [translate]="'modulo.description.managereportstwo'">
    You may add customized reports and edit core reports for your organization.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepManageReports()">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepManageReports()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>
