<div class="container m-b-20" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *mifosxHasPermission="'UPDATE_STAFF'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.Edit'">Edit</span>
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.firstname'">First Name</span>
        </div>

        <div fxFlex="50%">
          {{ employeeData.firstname }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.lastname'">Last Name</span>
        </div>

        <div fxFlex="50%">
          {{ employeeData.lastname }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.office'">Office</span>
        </div>

        <div fxFlex="50%">
          {{ employeeData.officeName }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.isloanofficer'">Is Loan Officer</span>
        </div>

        <div fxFlex="50%">
          {{ employeeData.isLoanOfficer === true ? 'Yes' : 'No' }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="employeeData.mobileNo">
          <span [translate]="'modulo.labels.mobilenumbersms'">Mobile Number for SMS</span>
        </div>

        <div fxFlex="50%" *ngIf="employeeData.mobileNo">
          {{ employeeData.mobileNo }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.status'">Status</span>
        </div>

        <div fxFlex="50%">
          {{ employeeData.isActive === true ? 'Active' : 'Inactive' }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          <span [translate]="'modulo.labels.joiningdate'">Joining Date</span>
        </div>

        <div fxFlex="50%">
          {{ employeeData.joiningDate  | dateFormat }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
