<div class="container">

  <mat-card>

    <form #dataTableFormRef [formGroup]="dataTableForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

          <mat-form-field fxFlex="40%">
            <mat-label><span [translate]="'modulo.labels.datatablename'">Data Table Name</span></mat-label>
            <input matInput required formControlName="datatableName">
            <mat-error *ngIf="dataTableForm.controls.datatableName.hasError('required')">
              <span [innerHTML]="'modulo.validations.datatablenamerequired' | translate">
                Data Table Name is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="20%">
            <mat-label><span [translate]="'modulo.labels.entitytype'">Entity Type</span></mat-label>
            <mat-select required formControlName="apptableName">
              <mat-option *ngFor="let appTable of appTableData" [value]="appTable.value">
                {{ appTable.displayValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="dataTableForm.controls.apptableName.hasError('required')">
              <span [innerHTML]="'modulo.validations.entitytyperequired' | translate">
                Entity Type Name is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="20%" *ngIf="showEntitySubType">
            <mat-label><span [translate]="'modulo.labels.entitysubtype'">Entity SubType</span></mat-label>
            <mat-select formControlName="entitySubType">
              <mat-option *ngFor="let entitySubType of entitySubTypeData" [value]="entitySubType.value">
                {{ entitySubType.displayValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div fxFlex="14%" class="multi-row-wrapper">
            <mat-checkbox labelPosition="before" formControlName="multiRow" class="multi-row">
              <span [translate]="'modulo.labels.multirow'">Multi Row</span></mat-checkbox>
          </div>

        </div>
        <br>

        <div fxLayout="row wrap" fxLayoutGap="60%" fxLayout.lt-md="column">

          <p fxFlex="20%" class="mat-title">
            <span [translate]="'modulo.labels.columns'">Columns</span></p>

          <button mat-raised-button fxFlex="20%" type="button" color="primary" (click)="addColumn()">
            <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;
            <span [translate]="'labels.buttons.AddColumn'">Add Column</span>
          </button>

        </div>

        <br>

        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 
              <span [translate]="'modulo.labels.name'">Name </span></th>
            <td mat-cell *matCellDef="let column"> {{ column.columnName }}
              <fa-icon *ngIf="column.isColumnPrimaryKey" icon="check-circle" size="lg" class="column-mandatory"
                matTooltip="{{'modulo.labels.primarykey' | translate}}" matTooltipPosition="right"></fa-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 
              <span [translate]="'modulo.labels.type'">Type</span> </th>
            <td mat-cell *matCellDef="let column"> {{ column.columnDisplayType }} </td>
          </ng-container>

          <ng-container matColumnDef="mandatory">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span [translate]="'modulo.labels.mandatory'"> Mandatory</span> </th>
            <td mat-cell *matCellDef="let column" class="left">
              <fa-icon *ngIf="!column.isColumnNullable" icon="check-circle" size="lg" class="column-mandatory"
                matTooltip="{{'modulo.labels.yes' | translate}}" matTooltipPosition="right"></fa-icon>
              <fa-icon *ngIf="column.isColumnNullable" icon="times-circle" size="lg" class="not-column-mandatory"
                matTooltip="{{'modulo.labels.no' | translate}}" matTooltipPosition="right"></fa-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="length">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span [translate]="'modulo.labels.length'"> <span [translate]="'modulo.labels.length'">Length</span> </span></th>
            <td mat-cell *matCellDef="let column"> {{ column.columnLength }} </td>
          </ng-container>

          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span [translate]="'modulo.labels.code'"><span [translate]="'modulo.labels.code'"> Code</span></span> </th>
            <td mat-cell *matCellDef="let column"> {{ column.columnCode }} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 
              <span [translate]="'header.actions'"><span [translate]="'header.actions'">Actions</span></span> </th>
            <td mat-cell *matCellDef="let column" fxLayoutGap="15%">
              <button type="button" color="primary" mat-icon-button (click)="editColumn(column)">
                <fa-icon icon="edit" size="lg"></fa-icon>
              </button>
              <button type="button" color="warn" mat-icon-button (click)="deleteColumn(column)">
                <fa-icon icon="trash" size="lg"></fa-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">
          <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
        <button mat-raised-button color="primary"
          [disabled]="!dataTableForm.valid || columnData.length === 0">
          <span [translate]="'labels.buttons.Submit'">Submit</span></button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>

<ng-template #templateDataTableFormRef let-popover="popover">
  <h2><span [translate]="'modulo.labels.createdatatable'">Create Datatable</span></h2>
  <p class="mw400"><span [innerHTML]="'modulo.description.createdatatable' | translate">
    Click to start filling the details. * mark fields are neccessary. For more details click: <a href="https://mifosforge.jira.com/wiki/spaces/docs/pages/52592760/Manage+Data+Tables" target="_blank">Manage Datatables</a></span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();">
      <span [translate]="'labels.buttons.CreateDatatable'">Create Datatable</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStep()">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStep()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>
