<div class="container">

  <mat-card>

    <form [formGroup]="userForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div #userFormRef fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.username'">Username</span></mat-label>
            <input matInput required formControlName="username">
            <mat-error *ngIf="userForm.controls.username.hasError('required')">
              <span [innerHTML]="'modulo.validations.usernamerequired' | translate">Username is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.email'">Email</span></mat-label>
            <input matInput [required]="userForm.controls.sendPasswordToEmail.value" formControlName="email">
            <mat-error *ngIf="userForm.controls.email.hasError('email')">
              <span [innerHTML]="'modulo.validations.invalidemail' | translate">Email is <strong>invalid</strong></span>
            </mat-error>
            <mat-error *ngIf="userForm.controls.email.hasError('required')">
             <span [innerHTML]="'modulo.validations.emailrequired' | translate"> Email is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.firstname'">First Name</span></mat-label>
            <input matInput required formControlName="firstname">
            <mat-error *ngIf="userForm.controls.firstname.hasError('pattern')">
              <span [innerHTML]="'modulo.validations.firstnamespecialchar' | translate">
                First Name <strong>cannot begin with a special character or number</strong></span>
            </mat-error>
            <mat-error *ngIf="userForm.controls.firstname.hasError('required')">
              <span [innerHTML]="'modulo.validations.firstnamerequired' | translate">First Name is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.lastname'">Last Name</span></mat-label>
            <input matInput required formControlName="lastname">
            <mat-error *ngIf="userForm.controls.lastname.hasError('pattern')">
              <span [innerHTML]="'modulo.validations.lastnamespecialchar' | translate">
                Last Name <strong>cannot begin with a special character or number</strong></span>
            </mat-error>
            <mat-error *ngIf="userForm.controls.lastname.hasError('required')">
             <span [innerHTML]="'modulo.validations.lastnamerequired' | translate"> 
              Last Name is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <div fxFlex="48%" class="password-never-expires-wrapper">
            <mat-checkbox labelPosition="before" formControlName="passwordNeverExpires" >
              <span [translate]="'modulo.labels.overridepasswordexpirypolicy'">Override password expiry policy</span>
            </mat-checkbox>
          </div>

          <div fxFlex="48%" class="send-password-to-email-wrapper">
            <mat-checkbox labelPosition="before" formControlName="sendPasswordToEmail">
              <span [translate]="'modulo.labels.autogeneratepassword'">Auto generate password</span>
            </mat-checkbox>
          </div>

          <mat-form-field fxFlex="48%" *ngIf="!userForm.controls.sendPasswordToEmail.value">
            <mat-label><span [translate]="'modulo.labels.password'">Password</span></mat-label>
            <input matInput required type="password" formControlName="password">
            <mat-error *ngIf="userForm.controls.password.hasError('required')">
              <span [innerHTML]="'modulo.validations.passwordrequired' | translate">Password is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%" *ngIf="!userForm.controls.sendPasswordToEmail.value">
            <mat-label><span [translate]="'modulo.labels.repeatpassword'">Repeat Password</span></mat-label>
            <input matInput required type="password" formControlName="repeatPassword">
            <mat-error *ngIf="userForm.controls.repeatPassword.hasError('required')">
              <span [innerHTML]="'modulo.validations.repeatpassrequired' | translate">Repeat Password is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <p fxFlex="98%" class="reset-password-error" *ngIf="userForm.errors?.passwordsDoNotMatch &&
          (!userForm.controls.password.hasError('required') && !userForm.controls.repeatPassword.hasError('required'))">
          <span [innerHTML]="'modulo.validation.passwordnomatch' | translate">Passwords <strong>do not match</strong></span>
          </p>      

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.office'">Office</span></mat-label>
            <mat-select required formControlName="officeId">
              <mat-option *ngFor="let office of officesData" [value]="office.id">
                {{ office.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls.officeId.hasError('required')">
              <span [innerHTML]="'modulo.validations.officerequired' | translate">Office is <strong>required</strong></span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.staff'">Staff</span></mat-label>
            <mat-select formControlName="staffId">
              <mat-option *ngFor="let staff of staffData" [value]="staff.id">
                {{ staff.displayName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label><span [translate]="'modulo.labels.roles'">Roles</span></mat-label>
            <mat-select required formControlName="roles" multiple>
              <mat-option *ngFor="let role of rolesData" [value]="role.id">
                {{ role.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls.roles.hasError('required')">
              <span [innerHTML]="'modulo.validations.leastrolselected' | translate">
                At least one role <strong>must be selected</strong></span>
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">
          <span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
        <button mat-raised-button color="primary" [disabled]="!userForm.valid">
          <span [translate]="'labels.buttons.Submit'">Submit</span></button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>

<ng-template #templateUserFormRef let-popover="popover">
  <h2><span [translate]="'modulo.labels.createuser'">Create User</span></h2>
  <p class="mw400"><span [innerHTML]="'modulo.description.createusertwo' | translate">
    Click to start filling the details. * mark fields are neccessary. For more details click: <a href="https://mifosforge.jira.com/wiki/spaces/docs/pages/67141740/Users" target="_blank">Users</a></span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close()">
      <span [translate]="'labels.buttons.CreateUser'">Create User</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStep()">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStep()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

