<div class="container m-b-20" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
<div #buttonCreateFixedProduct class="in-block">
  <button mat-raised-button color="primary" [routerLink]="['create']" *mifosxHasPermission="'CREATE_FIXEDDEPOSITPRODUCT'">
    <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;
    <span [translate]="'labels.buttons.CreateFixedDepositProduct'">Create Fixed Deposit Product</span>
  </button>
</div>
</div>

<div class="container">

  <div #filter fxLayout="row" fxLayoutGap="20px">
    <mat-form-field fxFlex>
      <mat-label><span [translate]="'modulo.labels.filter'">Filter</span></mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
  </div>

  <div #fixedProductsTable class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span [translate]="'modulo.labels.name'"> Name</span> </th>
        <td mat-cell *matCellDef="let fixedDepositProduct"> {{ fixedDepositProduct.name }} </td>
      </ng-container>

      <ng-container matColumnDef="shortName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 
          <span [translate]="'modulo.labels.shortname'">Short Name</span> </th>
        <td mat-cell *matCellDef="let fixedDepositProduct"> {{ fixedDepositProduct.shortName }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="[row.id]" class="select-row"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

  </div>

</div>

<ng-template #templateButtonCreateFixedProduct let-popover="popover">
  <h2><span [translate]="'modulo.labels.createfixeddepositproduct'">Create fixed deposit product</span></h2>
  <p class="mw300"><span [innerHTML]="'modulo.description.createfixeddepositproduct' | translate">
    This option allows you to create new fixed deposit product.</span></p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStep()">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateFilter,filter, 'bottom', true)">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateFilter let-popover="popover">
  <h4><span [translate]="'modulo.labels.searchbarfilterfixeddeposit'">Search bar to filter fixed deposit products.</span></h4>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateButtonCreateFixedProduct,buttonCreateFixedProduct , 'bottom', true)">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateFixedProductsTable,fixedProductsTable, 'top', true)">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>

<ng-template #templateFixedProductsTable let-popover="popover">
  <h4 class="mw300"><span [innerHTML]="'modulo.description.listfixeddepositproduct' | translate">
    List of fixed deposit products in the organization. For more details click: <a href="https://mifosforge.jira.com/wiki/spaces/docs/pages/102629544/Fixed+Deposit+Products" target="_blank">Fixed Deposit Products</a></span></h4>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">
      <span [translate]="'labels.buttons.Close'">Close</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateFilter,filter, 'bottom', true)">
      <span [translate]="'labels.buttons.Back'">Back</span></button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStep()">
      <span [translate]="'labels.buttons.Next'">Next</span></button>
  </div>
</ng-template>
