<div class="container">

  <mat-card>

    <form [formGroup]="editCenterForm" (ngSubmit)="submit()">

	  <mat-card-content>

	    <div fxLayout="column">

		  <mat-form-field>
		    <mat-label><span [translate]="'modulo.labels.name'">Name</span></mat-label>
			<input matInput required formControlName="name">
			<mat-error *ngIf="editCenterForm.controls.name.hasError('required')">
			  <span [innerHTML]="'modulo.validations.centernamerequired' | translate">Center Name is <strong>required</strong></span>
			</mat-error>
			<mat-error *ngIf="editCenterForm.controls.name.hasError('pattern')">
			  <span [innerHTML]="'modulo.validations.centernamespecialchar' | translate">
				Center Name <strong>cannot</strong> begin with a special character or number</span>
			</mat-error>
			</mat-form-field>

			<mat-form-field>
			  <mat-label><span [translate]="'modulo.labels.staff'">Staff</span></mat-label>
			  <mat-select formControlName="staffId">
				<mat-option *ngFor="let staff of staffs" [value]="staff.id">
				  {{ staff.displayName }}
				</mat-option>
			  </mat-select>
			</mat-form-field>

			<mat-form-field>
			  <mat-label><span [translate]="'modulo.labels.externalid'">External id</span></mat-label>
			  <input matInput formControlName="externalId">
			</mat-form-field>

			<ng-container *ngIf="centerData.status.value=='Pending'" (click)="activatedOnDatePicker.open()">
			  <mat-form-field>
				<mat-label><span [translate]="'modulo.labels.activationdate'">Activation date</span></mat-label>
				<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="activatedOnDatePicker" required
				  formControlName="activationDate">
				<mat-datepicker-toggle matSuffix [for]="activatedOnDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #activatedOnDatePicker></mat-datepicker>
				<mat-error *ngIf="editCenterForm.controls.activationDate.hasError('required')">
				  <span [innerHTML]="'modulo.validations.activationdaterequired' | translate">
					Activation Date is <strong>required</strong></span>
				</mat-error>
			  </mat-form-field>
			</ng-container>

		</div>

	  </mat-card-content>

	  <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
	    <button type="button" mat-raised-button [routerLink]="['../general']">
			<span [translate]="'labels.buttons.Cancel'">Cancel</span></button>
	    <button mat-raised-button color="accent" [disabled]="!editCenterForm.valid">
			<span [translate]="'labels.buttons.Confirm'">Confirm</span></button>
	  </mat-card-actions>

	</form>

  </mat-card>

</div>
